In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import pandas as pd
pd.set_option('display.max_columns', None) # 데이터프레임 컬럼 display

import warnings
warnings.filterwarnings('ignore') # 경고 무시

In [3]:

driver = webdriver.Chrome("./chromedriver")

In [4]:
# 2002 : 한국도로공사 
# 2003 : KGC인삼공사 
# 2004 : 흥국생명
# 2005 : GS 칼텍스 
# 2006 : IBK 기업은행
# 2007 : 페퍼저축은행
# 2008 : 현대건설


# 1001 : 대한항공
# 1002 : 삼성화재 
# 1004 : KB손해보험
# 1005 : 현대캐피탈
# 1006 : 한국전력
# 1008 : OK금융그룹
# 1009 : 우리카드

# gender = 1 남자 , 2 = 여자
seasons = ["014","015","016","017","018"]
genders = ["1","2"]
women_teams = [2002,2003,2004,2005,2006,2007,2001]
men_teams = [1001,1002,1004,1005,1006,1008,1009]

In [5]:
women_team_info = {2002: "한국도로공사", 2003: "KGC인삼공사", 2004: "흥국생명", 2005: "GS 칼텍스", 2006: "IBK 기업은행", 2007: "페퍼저축은행", 2001 : "현대건설"}

In [6]:
men_team_info = {1001: "대한항공", 1002:"삼성화재", 1004: "KB손해보험", 1005: "현대캐피탈", 1006:"한국전력", 1008:"OK금융그룹",1009:"우리카드"}

In [11]:
women_relative_rec = [] 
women_relative_detial_rec = []
women_fixture = []

In [20]:
women_relative_rec = pd.DataFrame()
women_relative_detial_rec = pd.DataFrame()
women_fixture = pd.DataFrame()

In [21]:
men_relative_rec = [] 
men_relative_detial_rec = []
men_fixture = []

In [9]:
# 여자 

def get_datas(gender, season, home_team, away_team ) : 
    
    url = f"https://www.kovo.co.kr/game/v-league/11400_team-compare.asp?season={season}&g_part=201&s_part={gender}&team1={home_team}&team2={away_team}"
    driver = webdriver.Chrome("./chromedriver")
    driver.get(url)
    
    html = driver.page_source
    soup = BeautifulSoup(html,"html.parser")
    
    try : 
        lists = pd.read_html(str(soup.find_all("table")))
    except : 
        return 
    
    fixture ,relative_records,relative_detail_records = lists
    fixture = pd.DataFrame(fixture)
    fixture["시즌"] = season
    
    if gender == 1 : 
        fixture.columns = [men_team_info[home_team],"상대전적",men_team_info[away_team],"시즌"]
        
    else : 
        fixture.columns = [women_team_info[home_team],"상대전적",women_team_info[away_team],"시즌"]
        
#     women_fixture = pd.concat([women_fixture,fixture])

    relative_records = pd.DataFrame(relative_records)
    relative_records["시즌"] = season
    relative_records["홈팀"] = women_team_info[home_team]
#     women_relative_rec = pd.concat([women_relative_rec,relative_records])

    
    relative_detail_records = pd.DataFrame(relative_detail_records)
    relative_detail_records["시즌"] = season
#     women_relative_detial_rec = pd.concat([women_relative_detial_rec,relative_detail_records])


    display(fixture)
    display(relative_records)
    display(relative_detail_records)
    
    women_fixture.append(fixture)
    women_relative_rec.append(relative_records)
    women_relative_detial_rec.append(relative_detail_records)
    
    driver.close()

In [22]:
# 남자 

def get_datas(gender, season, home_team, away_team ) : 
    
    url = f"https://www.kovo.co.kr/game/v-league/11400_team-compare.asp?season={season}&g_part=201&s_part={gender}&team1={home_team}&team2={away_team}"
    driver = webdriver.Chrome("./chromedriver")
    driver.get(url)
    
    html = driver.page_source
    soup = BeautifulSoup(html,"html.parser")
    
    try : 
        lists = pd.read_html(str(soup.find_all("table")))
    except : 
        return 
    
    fixture ,relative_records,relative_detail_records = lists
    fixture = pd.DataFrame(fixture)
    fixture["시즌"] = season
    
    if gender == 1 : 
        fixture.columns = [men_team_info[home_team],"상대전적",men_team_info[away_team],"시즌"]
        
    else : 
        fixture.columns = [women_team_info[home_team],"상대전적",women_team_info[away_team],"시즌"]
        
#     women_fixture = pd.concat([women_fixture,fixture])

    relative_records = pd.DataFrame(relative_records)
    relative_records["시즌"] = season
    relative_records["홈팀"] = men_team_info[home_team]
#     women_relative_rec = pd.concat([women_relative_rec,relative_records])

    
    relative_detail_records = pd.DataFrame(relative_detail_records)
    relative_detail_records["시즌"] = season
#     women_relative_detial_rec = pd.concat([women_relative_detial_rec,relative_detail_records])


    display(fixture)
    display(relative_records)
    display(relative_detail_records)
    
    men_fixture.append(fixture)
    men_relative_rec.append(relative_records)
    men_relative_detial_rec.append(relative_detail_records)
    
    driver.close()

In [ ]:
# 여자
for season in seasons : 
    for i, women_team in enumerate(women_teams) : 
        versus_teams = women_teams[:i] + women_teams[i+1:]
        for versus_team in versus_teams : 
            get_datas(2,season,women_team,versus_team)

In [23]:
# 남자
for season in seasons : 
    for i, men_team in enumerate(men_teams) : 
        versus_teams = men_teams[:i] + men_teams[i+1:]
        for versus_team in versus_teams : 
            get_datas(1,season,men_team,versus_team)

          대한항공                             상대전적         삼성화재   시즌
0          NaN               VS 구단 선택 대한항공 삼성화재          NaN  014
1  3위(22승 14패)  * 상대전적 : 52승 73패 * 시즌전적 : 5승 4패  2위(22승 14패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      36  2017.11.07  삼성화재   0:3   61   75  1h 22m  lose  014  대한항공
1      41  2017.11.10  삼성화재   2:3  100  111  2h 09m  lose  014  대한항공
2      73  2017.12.02  삼성화재   2:3  104  113  2h 08m  lose  014  대한항공
3     112  2017.12.28  삼성화재   3:2  110   98  2h 07m   win  014  대한항공
4     145  2018.01.24  삼성화재   3:0   75   54  1h 16m   win  014  대한항공
5     195  2018.02.27  삼성화재   3:0   76   59  1h 25m   win  014  대한항공
6     218  2018.03.18  삼성화재   1:3   92   99  1h 59m  lose  014  대한항공
7     220  2018.03.20  삼성화재   3:1   99   85  1h 53m   win  014  대한항공
8     222  2018.03.22  삼성화재   3:1  105   97  2h 10m   win  014  대한항공

      대한항공             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.58   87.67     득점   85.00   91.33  014
1   51.08%  50.25%     공격  50.00%  53.71%  014
2   41.07%  40.12%   오픈공격  46.18%  50.54%  014
3   58.70%  60.00%  시간차공격  69.23%  56.00%  014
4    0.00%     NaN   이동공격     NaN  72.73%  014
5   50.98%  48.32%   후위공격  50.28%  56.02%  014
6   59.24%  56.00%     속공  53.52%  56.28%  014
7   56.98%  58.03%    퀵오픈  53.33%  55.45%  014
8     1.50    1.50     서브    0.79    0.95  014
9     2.16    2.29    블로킹    2.50    2.56  014
10    9.58    9.38     디그    9.79    8.62  014
11   12.34   12.04     세트   11.00   11.88  014
12    7.84    8.92    리시브    7.33    8.05  014
13    0.00    0.00     벌칙    0.00    0.00  014
14   26.25   24.17     범실   22.17   24.25  014

          대한항공                             상대전적       KB손해보험   시즌
0          NaN             VS 구단 선택 대한항공 KB손해보험          NaN  014
1  3위(22승 14패)  * 상대전적 : 71승 39패 * 시즌전적 : 3승 3패  4위(19승 17패)  014

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      21  2017.10.28  KB손해보험   0:3   70   77  1h 29m  lose  014  대한항공
1      52  2017.11.17  KB손해보험   2:3  108  107  2h 15m  lose  014  대한항공
2      88  2017.12.12  KB손해보험   3:2  106   99  2h 03m   win  014  대한항공
3     122  2018.01.03  KB손해보험   3:2  113  106  2h 15m   win  014  대한항공
4     178  2018.02.15  KB손해보험   3:0   79   58  1h 21m   win  014  대한항공
5     183  2018.02.18  KB손해보험   0:3   69   75  1h 29m  lose  014  대한항공

      대한항공             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.58   90.83     득점   87.00   90.94  014
1   51.08%  51.97%     공격  49.67%  50.01%  014
2   41.07%  43.35%   오픈공격  43.49%  41.90%  014
3   58.70%  52.94%  시간차공격  47.37%  66.33%  014
4    0.00%     NaN   이동공격     NaN   0.00%  014
5   50.98%  55.15%   후위공격  49.65%  51.61%  014
6   59.24%  56.52%     속공  65.00%  57.88%  014
7   56.98%  56.44%    퀵오픈  56.20%  56.66%  014
8     1.50    1.46     서브    1.13    1.75  014
9     2.16    2.13    블로킹    2.29    2.21  014
10    9.58    9.17     디그    9.08    8.97  014
11   12.34   11.79     세트   12.08   11.80  014
12    7.84    5.96    리시브    5.38    6.71  014
13    0.00    0.00     벌칙    0.00    0.06  014
14   26.25   22.67     범실   28.17   27.17  014

          대한항공                             상대전적        현대캐피탈   시즌
0          NaN              VS 구단 선택 대한항공 현대캐피탈          NaN  014
1  3위(22승 14패)  * 상대전적 : 64승 71패 * 시즌전적 : 6승 4패  1위(22승 14패)  014

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       1  2017.10.14  현대캐피탈   1:3  100  104  2h 04m  lose  014  대한항공
1      68  2017.11.28  현대캐피탈   3:2  106  105  2h 06m   win  014  대한항공
2     107  2017.12.25  현대캐피탈   0:3   59   75  1h 22m  lose  014  대한항공
3     136  2018.01.13  현대캐피탈   1:3   94   95  1h 55m  lose  014  대한항공
4     149  2018.01.27  현대캐피탈   3:0   77   64  1h 26m   win  014  대한항공
5     200  2018.03.02  현대캐피탈   3:1   96   86  1h 47m   win  014  대한항공
6     224  2018.03.24  현대캐피탈   2:3  116  110  2h 19m  lose  014  대한항공
7     226  2018.03.26  현대캐피탈   3:0   77   67  1h 28m   win  014  대한항공
8     228  2018.03.28  현대캐피탈   3:0   76   64  1h 26m   win  014  대한항공
9     229  2018.03.30  현대캐피탈   3:0   75   59  1h 22m   win  014  대한항공

      대한항공             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.58   88.67     득점   88.17   86.67  014
1   51.08%  50.96%     공격  50.62%  51.71%  014
2   41.07%  40.64%   오픈공격  43.85%  41.87%  014
3   58.70%  61.54%  시간차공격  68.75%  67.26%  014
4    0.00%     NaN   이동공격     NaN   0.00%  014
5   50.98%  50.33%   후위공격  45.99%  54.39%  014
6   59.24%  60.92%     속공  60.44%  58.33%  014
7   56.98%  56.59%    퀵오픈  56.15%  55.71%  014
8     1.50    1.35     서브    0.96    1.14  014
9     2.16    1.39    블로킹    2.26    2.64  014
10    9.58   10.83     디그    9.39    9.22  014
11   12.34   13.26     세트   11.96   12.16  014
12    7.84    8.30    리시브    6.65    7.75  014
13    0.00    0.00     벌칙    0.00    0.06  014
14   26.25   28.50     범실   25.33   23.53  014

          대한항공                             상대전적         한국전력   시즌
0          NaN               VS 구단 선택 대한항공 한국전력          NaN  014
1  3위(22승 14패)  * 상대전적 : 87승 21패 * 시즌전적 : 5승 1패  5위(17승 19패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      29  2017.11.02  한국전력   3:2  122  112  2h 38m   win  014  대한항공
1      47  2017.11.14  한국전력   3:0   75   52  1h 15m   win  014  대한항공
2      81  2017.12.07  한국전력   3:1   98   86  1h 57m   win  014  대한항공
3     116  2017.12.31  한국전력   0:3   68   76  1h 25m  lose  014  대한항공
4     170  2018.02.10  한국전력   3:1  102   87  1h 57m   win  014  대한항공
5     190  2018.02.22  한국전력   3:2  107  105  2h 15m   win  014  대한항공

      대한항공             VS    한국전력            시즌
      시즌평균   Vs 상대     구분   Vs 상대     시즌평균
0    90.58   95.33     득점   86.33    84.94  014
1   51.08%  51.39%     공격  42.41%   46.97%  014
2   41.07%  40.54%   오픈공격  37.84%   42.50%  014
3   58.70%  54.55%  시간차공격  60.00%   48.84%  014
4    0.00%     NaN   이동공격     NaN  100.00%  014
5   50.98%  53.76%   후위공격  43.35%   49.44%  014
6   59.24%  57.35%     속공  43.33%   44.95%  014
7   56.98%  57.00%    퀵오픈  55.32%   56.58%  014
8     1.50    1.21     서브    1.00     1.13  014
9     2.16    2.79    블로킹    1.42     2.12  014
10    9.58   10.96     디그   12.08     9.90  014
11   12.34   13.08     세트   11.50    11.72  014
12    7.84    8.63    리시브    7.42     8.03  014
13    0.00    0.00     벌칙    0.00     0.00  014
14   26.25   29.67     범실   23.83    22.22  014

          대한항공                             상대전적       OK금융그룹   시즌
0          NaN             VS 구단 선택 대한항공 OK금융그룹          NaN  014
1  3위(22승 14패)  * 상대전적 : 34승 18패 * 시즌전적 : 4승 2패  7위(10승 26패)  014

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      16  2017.10.24  OK금융그룹   3:1   97   92  1h 50m   win  014  대한항공
1      58  2017.11.21  OK금융그룹   1:3  100  108  2h 05m  lose  014  대한항공
2      94  2017.12.16  OK금융그룹   3:2  118  109  2h 13m   win  014  대한항공
3     125  2018.01.06  OK금융그룹   3:1   98   84  1h 50m   win  014  대한항공
4     157  2018.02.01  OK금융그룹   3:0   76   63  1h 22m   win  014  대한항공
5     207  2018.03.07  OK금융그룹   2:3   96  108  2h 02m  lose  014  대한항공

      대한항공             VS   OK금융그룹           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    90.58   97.50     득점    94.00   85.25  014
1   51.08%  53.17%     공격   51.18%  49.27%  014
2   41.07%  40.00%   오픈공격   41.81%  42.45%  014
3   58.70%  68.75%  시간차공격   58.97%  59.70%  014
4    0.00%     NaN   이동공격  100.00%  44.44%  014
5   50.98%  52.87%   후위공격   55.49%  51.02%  014
6   59.24%  61.25%     속공   53.09%  51.75%  014
7   56.98%  61.02%    퀵오픈   59.05%  52.72%  014
8     1.50    1.60     서브     1.12    1.29  014
9     2.16    1.84    블로킹     1.72    2.06  014
10    9.58    8.64     디그     9.00    8.58  014
11   12.34   12.32     세트    12.28   11.78  014
12    7.84    7.84    리시브     7.60    8.48  014
13    0.00    0.00     벌칙     0.00    0.00  014
14   26.25   28.00     범실    29.83   27.92  014

          대한항공                             상대전적         우리카드   시즌
0          NaN               VS 구단 선택 대한항공 우리카드          NaN  014
1  3위(22승 14패)  * 상대전적 : 38승 19패 * 시즌전적 : 4승 2패  6위(14승 22패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       9  2017.10.19  우리카드   3:1   97   76  1h 45m   win  014  대한항공
1      62  2017.11.24  우리카드   3:0   79   70  1h 32m   win  014  대한항공
2     101  2017.12.21  우리카드   3:2  109   97  2h 03m   win  014  대한항공
3     132  2018.01.10  우리카드   0:3   62   75  1h 24m  lose  014  대한항공
4     164  2018.02.06  우리카드   3:2   99  105  2h 02m   win  014  대한항공
5     212  2018.03.11  우리카드   0:3   55   76  1h 15m  lose  014  대한항공

      대한항공             VS     우리카드           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    90.58   83.50     득점    83.17   88.08  014
1   51.08%  48.69%     공격   50.82%  52.31%  014
2   41.07%  41.81%   오픈공격   46.64%  45.49%  014
3   58.70%  57.14%  시간차공격   56.25%  58.77%  014
4    0.00%     NaN   이동공격  100.00%  50.00%  014
5   50.98%  45.21%   후위공격   56.90%  57.74%  014
6   59.24%  62.86%     속공   44.44%  54.96%  014
7   56.98%  52.41%    퀵오픈   55.96%  57.33%  014
8     1.50    1.91     서브     1.13    1.34  014
9     2.16    2.52    블로킹     2.00    1.90  014
10    9.58    8.57     디그    10.26    9.35  014
11   12.34   11.57     세트    11.91   12.50  014
12    7.84    7.39    리시브     4.83    7.16  014
13    0.00    0.00     벌칙     0.00    0.03  014
14   26.25   24.50     범실    20.00   24.28  014

          삼성화재                             상대전적         대한항공   시즌
0          NaN               VS 구단 선택 삼성화재 대한항공          NaN  014
1  2위(22승 14패)  * 상대전적 : 73승 52패 * 시즌전적 : 4승 5패  3위(22승 14패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      36  2017.11.07  대한항공   3:0   75   61  1h 22m   win  014  삼성화재
1      41  2017.11.10  대한항공   3:2  111  100  2h 09m   win  014  삼성화재
2      73  2017.12.02  대한항공   3:2  113  104  2h 08m   win  014  삼성화재
3     112  2017.12.28  대한항공   2:3   98  110  2h 07m  lose  014  삼성화재
4     145  2018.01.24  대한항공   0:3   54   75  1h 16m  lose  014  삼성화재
5     195  2018.02.27  대한항공   0:3   59   76  1h 25m  lose  014  삼성화재
6     218  2018.03.18  대한항공   3:1   99   92  1h 59m   win  014  삼성화재
7     220  2018.03.20  대한항공   1:3   85   99  1h 53m  lose  014  삼성화재
8     222  2018.03.22  대한항공   1:3   97  105  2h 10m  lose  014  삼성화재

      삼성화재             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    91.33   85.00     득점   87.67   90.58  014
1   53.71%  50.00%     공격  50.25%  51.08%  014
2   50.54%  46.18%   오픈공격  40.12%  41.07%  014
3   56.00%  69.23%  시간차공격  60.00%  58.70%  014
4   72.73%     NaN   이동공격     NaN   0.00%  014
5   56.02%  50.28%   후위공격  48.32%  50.98%  014
6   56.28%  53.52%     속공  56.00%  59.24%  014
7   55.45%  53.33%    퀵오픈  58.03%  56.98%  014
8     0.95    0.79     서브    1.50    1.50  014
9     2.56    2.50    블로킹    2.29    2.16  014
10    8.62    9.79     디그    9.38    9.58  014
11   11.88   11.00     세트   12.04   12.34  014
12    8.05    7.33    리시브    8.92    7.84  014
13    0.00    0.00     벌칙    0.00    0.00  014
14   24.25   22.17     범실   24.17   26.25  014

          삼성화재                             상대전적       KB손해보험   시즌
0          NaN             VS 구단 선택 삼성화재 KB손해보험          NaN  014
1  2위(22승 14패)  * 상대전적 : 85승 30패 * 시즌전적 : 4승 2패  4위(19승 17패)  014

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       3  2017.10.15  KB손해보험   2:3  103  106  2h 00m  lose  014  삼성화재
1      60  2017.11.22  KB손해보험   3:2  106  108  2h 07m   win  014  삼성화재
2      93  2017.12.15  KB손해보험   3:1   94   76  1h 40m   win  014  삼성화재
3     127  2018.01.07  KB손해보험   3:1   91   88  1h 47m   win  014  삼성화재
4     172  2018.02.11  KB손해보험   1:3   88   97  1h 49m  lose  014  삼성화재
5     191  2018.02.23  KB손해보험   3:0   75   66  1h 19m   win  014  삼성화재

      삼성화재              VS  KB손해보험           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    91.33    92.83     득점   90.17   90.94  014
1   53.71%   55.86%     공격  51.96%  50.01%  014
2   50.54%   49.79%   오픈공격  41.27%  41.90%  014
3   56.00%   45.45%  시간차공격  66.67%  66.33%  014
4   72.73%  100.00%   이동공격     NaN   0.00%  014
5   56.02%   62.96%   후위공격  50.35%  51.61%  014
6   56.28%   57.50%     속공  58.73%  57.88%  014
7   55.45%   59.65%    퀵오픈  62.50%  56.66%  014
8     0.95     0.92     서브    1.76    1.75  014
9     2.56     2.84    블로킹    1.84    2.21  014
10    8.62     7.44     디그    7.36    8.97  014
11   11.88    11.64     세트   11.12   11.80  014
12    8.05     5.76    리시브    7.48    6.71  014
13    0.00     0.00     벌칙    0.00    0.06  014
14   24.25    26.67     범실   25.50   27.17  014

          삼성화재                             상대전적        현대캐피탈   시즌
0          NaN              VS 구단 선택 삼성화재 현대캐피탈          NaN  014
1  2위(22승 14패)  * 상대전적 : 79승 61패 * 시즌전적 : 3승 3패  1위(22승 14패)  014

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      30  2017.11.03  현대캐피탈   3:1  105   95  2h 03m   win  014  삼성화재
1      49  2017.11.15  현대캐피탈   3:0   75   64  1h 21m   win  014  삼성화재
2      80  2017.12.06  현대캐피탈   0:3   61   75  1h 16m  lose  014  삼성화재
3     118  2018.01.01  현대캐피탈   1:3   88   97  1h 49m  lose  014  삼성화재
4     180  2018.02.16  현대캐피탈   2:3  121  129  2h 34m  lose  014  삼성화재
5     186  2018.02.20  현대캐피탈   3:2  103  105  2h 06m   win  014  삼성화재

      삼성화재              VS   현대캐피탈           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    91.33    92.17     득점   94.17   86.67  014
1   53.71%   52.79%     공격  52.65%  51.71%  014
2   50.54%   51.36%   오픈공격  37.06%  41.87%  014
3   56.00%   50.00%  시간차공격  82.61%  67.26%  014
4   72.73%  100.00%   이동공격     NaN   0.00%  014
5   56.02%   52.84%   후위공격  56.17%  54.39%  014
6   56.28%   55.81%     속공  59.32%  58.33%  014
7   55.45%   52.83%    퀵오픈  57.25%  55.71%  014
8     0.95     0.58     서브    1.00    1.14  014
9     2.56     2.38    블로킹    2.83    2.64  014
10    8.62     9.33     디그    8.50    9.22  014
11   11.88    12.83     세트   12.92   12.16  014
12    8.05     9.21    리시브   10.63    7.75  014
13    0.00     0.00     벌칙    0.00    0.06  014
14   24.25    25.83     범실   25.17   23.53  014

          삼성화재                             상대전적         한국전력   시즌
0          NaN               VS 구단 선택 삼성화재 한국전력          NaN  014
1  2위(22승 14패)  * 상대전적 : 82승 26패 * 시즌전적 : 2승 4패  5위(17승 19패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      23  2017.10.29  한국전력   3:0   75   52  1h 18m   win  014  삼성화재
1      53  2017.11.18  한국전력   3:0   83   70  1h 29m   win  014  삼성화재
2      85  2017.12.10  한국전력   1:3   90  101  1h 55m  lose  014  삼성화재
3     123  2018.01.04  한국전력   2:3  104  113  2h 15m  lose  014  삼성화재
4     166  2018.02.07  한국전력   2:3   97  101  2h 04m  lose  014  삼성화재
5     215  2018.03.13  한국전력   0:3   69   79  1h 27m  lose  014  삼성화재

      삼성화재             VS    한국전력            시즌
      시즌평균   Vs 상대     구분   Vs 상대     시즌평균
0    91.33   86.33     득점   86.00    84.94  014
1   53.71%  52.14%     공격  50.67%   46.97%  014
2   50.54%  49.12%   오픈공격  43.09%   42.50%  014
3   56.00%  45.00%  시간차공격  45.45%   48.84%  014
4   72.73%  33.33%   이동공격     NaN  100.00%  014
5   56.02%  57.49%   후위공격  55.30%   49.44%  014
6   56.28%  51.85%     속공  45.45%   44.95%  014
7   55.45%  52.27%    퀵오픈  62.41%   56.58%  014
8     0.95    0.83     서브    0.87     1.13  014
9     2.56    2.48    블로킹    2.09     2.12  014
10    8.62    9.35     디그    9.22     9.90  014
11   11.88   12.39     세트   12.91    11.72  014
12    8.05   10.43    리시브    9.74     8.03  014
13    0.00    0.00     벌칙    0.00     0.00  014
14   24.25   24.17     범실   22.83    22.22  014

          삼성화재                             상대전적       OK금융그룹   시즌
0          NaN             VS 구단 선택 삼성화재 OK금융그룹          NaN  014
1  2위(22승 14패)  * 상대전적 : 24승 33패 * 시즌전적 : 5승 1패  7위(10승 26패)  014

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      10  2017.10.20  OK금융그룹   1:3   86   95  1h 42m  lose  014  삼성화재
1      63  2017.11.25  OK금융그룹   3:0   75   57  1h 13m   win  014  삼성화재
2     100  2017.12.20  OK금융그룹   3:0   83   71  1h 34m   win  014  삼성화재
3     134  2018.01.11  OK금융그룹   3:2  111  102  2h 03m   win  014  삼성화재
4     151  2018.01.28  OK금융그룹   3:2  109  102  2h 07m   win  014  삼성화재
5     201  2018.03.03  OK금융그룹   3:0   75   57  1h 12m   win  014  삼성화재

      삼성화재             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    91.33   89.83     득점   80.67   85.25  014
1   53.71%  56.84%     공격  47.21%  49.27%  014
2   50.54%  53.00%   오픈공격  42.94%  42.45%  014
3   56.00%  66.67%  시간차공격  61.90%  59.70%  014
4   72.73%   0.00%   이동공격     NaN  44.44%  014
5   56.02%  58.22%   후위공격  44.16%  51.02%  014
6   56.28%  61.73%     속공  46.91%  51.75%  014
7   55.45%  59.68%    퀵오픈  53.16%  52.72%  014
8     0.95    1.30     서브    1.22    1.29  014
9     2.56    2.65    블로킹    1.91    2.06  014
10    8.62    8.22     디그    8.35    8.58  014
11   11.88   11.83     세트   11.43   11.78  014
12    8.05    7.52    리시브    9.35    8.48  014
13    0.00    0.00     벌칙    0.00    0.00  014
14   24.25   22.17     범실   25.50   27.92  014

          삼성화재                             상대전적         우리카드   시즌
0          NaN               VS 구단 선택 삼성화재 우리카드          NaN  014
1  2위(22승 14패)  * 상대전적 : 32승 20패 * 시즌전적 : 5승 1패  6위(14승 22패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      18  2017.10.25  우리카드   3:2  113  107  2h 10m   win  014  삼성화재
1      70  2017.11.29  우리카드   3:1   98   85  1h 45m   win  014  삼성화재
2     105  2017.12.24  우리카드   3:2  101  102  2h 02m   win  014  삼성화재
3     138  2018.01.14  우리카드   3:2  109  100  2h 04m   win  014  삼성화재
4     158  2018.02.02  우리카드   3:2  108  106  2h 06m   win  014  삼성화재
5     208  2018.03.08  우리카드   1:3   82   97  1h 40m  lose  014  삼성화재

      삼성화재              VS    우리카드           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    91.33   101.83     득점   99.50   88.08  014
1   53.71%   54.95%     공격  52.46%  52.31%  014
2   50.54%   53.64%   오픈공격  41.03%  45.49%  014
3   56.00%   52.94%  시간차공격  58.06%  58.77%  014
4   72.73%  100.00%   이동공격   0.00%  50.00%  014
5   56.02%   55.49%   후위공격  62.22%  57.74%  014
6   56.28%   56.84%     속공  57.41%  54.96%  014
7   55.45%   55.56%    퀵오픈  57.14%  57.33%  014
8     0.95     1.25     서브    1.46    1.34  014
9     2.56     2.50    블로킹    2.04    1.90  014
10    8.62     7.79     디그    8.61    9.35  014
11   11.88    11.68     세트   12.14   12.50  014
12    8.05     8.18    리시브    8.54    7.16  014
13    0.00     0.00     벌칙    0.00    0.03  014
14   24.25    24.50     범실   25.17   24.28  014

        KB손해보험                             상대전적         대한항공   시즌
0          NaN             VS 구단 선택 KB손해보험 대한항공          NaN  014
1  4위(19승 17패)  * 상대전적 : 39승 71패 * 시즌전적 : 3승 3패  3위(22승 14패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      21  2017.10.28  대한항공   3:0   77   70  1h 29m   win  014  KB손해보험
1      52  2017.11.17  대한항공   3:2  107  108  2h 15m   win  014  KB손해보험
2      88  2017.12.12  대한항공   2:3   99  106  2h 03m  lose  014  KB손해보험
3     122  2018.01.03  대한항공   2:3  106  113  2h 15m  lose  014  KB손해보험
4     178  2018.02.15  대한항공   0:3   58   79  1h 21m  lose  014  KB손해보험
5     183  2018.02.18  대한항공   3:0   75   69  1h 29m   win  014  KB손해보험

    KB손해보험             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.94   87.00     득점   90.83   90.58  014
1   50.01%  49.67%     공격  51.97%  51.08%  014
2   41.90%  43.49%   오픈공격  43.35%  41.07%  014
3   66.33%  47.37%  시간차공격  52.94%  58.70%  014
4    0.00%     NaN   이동공격     NaN   0.00%  014
5   51.61%  49.65%   후위공격  55.15%  50.98%  014
6   57.88%  65.00%     속공  56.52%  59.24%  014
7   56.66%  56.20%    퀵오픈  56.44%  56.98%  014
8     1.75    1.13     서브    1.46    1.50  014
9     2.21    2.29    블로킹    2.13    2.16  014
10    8.97    9.08     디그    9.17    9.58  014
11   11.80   12.08     세트   11.79   12.34  014
12    6.71    5.38    리시브    5.96    7.84  014
13    0.06    0.00     벌칙    0.00    0.00  014
14   27.17   28.17     범실   22.67   26.25  014

        KB손해보험                             상대전적         삼성화재   시즌
0          NaN             VS 구단 선택 KB손해보험 삼성화재          NaN  014
1  4위(19승 17패)  * 상대전적 : 30승 85패 * 시즌전적 : 2승 4패  2위(22승 14패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       3  2017.10.15  삼성화재   3:2  106  103  2h 00m   win  014  KB손해보험
1      60  2017.11.22  삼성화재   2:3  108  106  2h 07m  lose  014  KB손해보험
2      93  2017.12.15  삼성화재   1:3   76   94  1h 40m  lose  014  KB손해보험
3     127  2018.01.07  삼성화재   1:3   88   91  1h 47m  lose  014  KB손해보험
4     172  2018.02.11  삼성화재   3:1   97   88  1h 49m   win  014  KB손해보험
5     191  2018.02.23  삼성화재   0:3   66   75  1h 19m  lose  014  KB손해보험

    KB손해보험             VS     삼성화재           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    90.94   90.17     득점    92.83   91.33  014
1   50.01%  51.96%     공격   55.86%  53.71%  014
2   41.90%  41.27%   오픈공격   49.79%  50.54%  014
3   66.33%  66.67%  시간차공격   45.45%  56.00%  014
4    0.00%     NaN   이동공격  100.00%  72.73%  014
5   51.61%  50.35%   후위공격   62.96%  56.02%  014
6   57.88%  58.73%     속공   57.50%  56.28%  014
7   56.66%  62.50%    퀵오픈   59.65%  55.45%  014
8     1.75    1.76     서브     0.92    0.95  014
9     2.21    1.84    블로킹     2.84    2.56  014
10    8.97    7.36     디그     7.44    8.62  014
11   11.80   11.12     세트    11.64   11.88  014
12    6.71    7.48    리시브     5.76    8.05  014
13    0.06    0.00     벌칙     0.00    0.00  014
14   27.17   25.50     범실    26.67   24.25  014

        KB손해보험                             상대전적        현대캐피탈   시즌
0          NaN            VS 구단 선택 KB손해보험 현대캐피탈          NaN  014
1  4위(19승 17패)  * 상대전적 : 27승 81패 * 시즌전적 : 4승 2패  1위(22승 14패)  014

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       8  2017.10.18  현대캐피탈   3:0   81   61  1h 25m   win  014  KB손해보험
1      72  2017.12.01  현대캐피탈   0:3   59   75  1h 18m  lose  014  KB손해보험
2     102  2017.12.22  현대캐피탈   3:2  105  106  2h 16m   win  014  KB손해보험
3     143  2018.01.17  현대캐피탈   0:3   60   75  1h 24m  lose  014  KB손해보험
4     168  2018.02.08  현대캐피탈   3:1   97   81  1h 44m   win  014  KB손해보험
5     216  2018.03.14  현대캐피탈   3:1  100   78  1h 50m   win  014  KB손해보험

    KB손해보험             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.94   83.67     득점   79.33   86.67  014
1   50.01%  49.14%     공격  48.85%  51.71%  014
2   41.90%  42.18%   오픈공격  40.51%  41.87%  014
3   66.33%  66.67%  시간차공격  50.00%  67.26%  014
4    0.00%     NaN   이동공격     NaN   0.00%  014
5   51.61%  50.00%   후위공격  58.56%  54.39%  014
6   57.88%  61.90%     속공  51.65%  58.33%  014
7   56.66%  53.54%    퀵오픈  51.49%  55.71%  014
8     1.75    2.50     서브    1.18    1.14  014
9     2.21    2.14    블로킹    2.18    2.64  014
10    8.97    9.18     디그    9.41    9.22  014
11   11.80   11.14     세트   11.14   12.16  014
12    6.71    6.09    리시브    5.18    7.75  014
13    0.06    0.17     벌칙    0.17    0.06  014
14   27.17   24.67     범실   24.00   23.53  014

        KB손해보험                             상대전적         한국전력   시즌
0          NaN             VS 구단 선택 KB손해보험 한국전력          NaN  014
1  4위(19승 17패)  * 상대전적 : 67승 41패 * 시즌전적 : 3승 3패  5위(17승 19패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      11  2017.10.21  한국전력   1:3   84   95  1h 50m  lose  014  KB손해보험
1      65  2017.11.26  한국전력   1:3   87   94  1h 52m  lose  014  KB손해보험
2      98  2017.12.19  한국전력   1:3   99   97  2h 18m  lose  014  KB손해보험
3     135  2018.01.12  한국전력   3:0   85   70  1h 31m   win  014  KB손해보험
4     159  2018.02.03  한국전력   3:2  116  105  2h 14m   win  014  KB손해보험
5     209  2018.03.09  한국전력   3:2   99   98  2h 04m   win  014  KB손해보험

    KB손해보험             VS     한국전력            시즌
      시즌평균   Vs 상대     구분    Vs 상대     시즌평균
0    90.94   95.00     득점    93.17    84.94  014
1   50.01%  48.95%     공격   47.99%   46.97%  014
2   41.90%  40.64%   오픈공격   44.35%   42.50%  014
3   66.33%  78.57%  시간차공격   25.00%   48.84%  014
4    0.00%     NaN   이동공격  100.00%  100.00%  014
5   51.61%  52.47%   후위공격   54.17%   49.44%  014
6   57.88%  56.00%     속공   50.70%   44.95%  014
7   56.66%  55.35%    퀵오픈   51.43%   56.58%  014
8     1.75    1.72     서브     1.36     1.13  014
9     2.21    2.28    블로킹     2.32     2.12  014
10    8.97   10.20     디그    10.28     9.90  014
11   11.80   12.48     세트    11.92    11.72  014
12    6.71    6.92    리시브     6.60     8.03  014
13    0.06    0.17     벌칙     0.00     0.00  014
14   27.17   26.00     범실    23.83    22.22  014

        KB손해보험                             상대전적       OK금융그룹   시즌
0          NaN           VS 구단 선택 KB손해보험 OK금융그룹          NaN  014
1  4위(19승 17패)  * 상대전적 : 26승 28패 * 시즌전적 : 4승 2패  7위(10승 26패)  014

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      31  2017.11.04  OK금융그룹   3:2  103   99  1h 59m   win  014  KB손해보험
1      38  2017.11.08  OK금융그룹   2:3  110  112  2h 12m  lose  014  KB손해보험
2      78  2017.12.05  OK금융그룹   3:2  109  102  2h 07m   win  014  KB손해보험
3     109  2017.12.26  OK금융그룹   1:3   99   99  1h 53m  lose  014  KB손해보험
4     147  2018.01.25  OK금융그룹   3:1   97   90  1h 48m   win  014  KB손해보험
5     197  2018.02.28  OK금융그룹   3:1   94   88  1h 43m   win  014  KB손해보험

    KB손해보험             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.94  102.00     득점   98.33   85.25  014
1   50.01%  50.71%     공격  51.24%  49.27%  014
2   41.90%  39.92%   오픈공격  41.57%  42.45%  014
3   66.33%  69.57%  시간차공격  63.16%  59.70%  014
4    0.00%   0.00%   이동공격     NaN  44.44%  014
5   51.61%  54.23%   후위공격  55.36%  51.02%  014
6   57.88%  53.85%     속공  51.69%  51.75%  014
7   56.66%  59.76%    퀵오픈  55.30%  52.72%  014
8     1.75    1.85     서브    1.41    1.29  014
9     2.21    2.37    블로킹    2.04    2.06  014
10    8.97    8.63     디그    8.19    8.58  014
11   11.80   11.56     세트   10.81   11.78  014
12    6.71    6.74    리시브    6.67    8.48  014
13    0.06    0.00     벌칙    0.00    0.00  014
14   27.17   31.17     범실   29.50   27.92  014

        KB손해보험                             상대전적         우리카드   시즌
0          NaN             VS 구단 선택 KB손해보험 우리카드          NaN  014
1  4위(19승 17패)  * 상대전적 : 24승 29패 * 시즌전적 : 3승 3패  6위(14승 22패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      28  2017.11.01  우리카드   1:3  115  119  2h 17m  lose  014  KB손해보험
1      45  2017.11.12  우리카드   3:1  100   88  1h 52m   win  014  KB손해보험
2      82  2017.12.08  우리카드   3:0   75   62  1h 23m   win  014  KB손해보험
3     114  2017.12.30  우리카드   3:1   93   90  1h 50m   win  014  KB손해보험
4     154  2018.01.30  우리카드   0:3   56   75  1h 20m  lose  014  KB손해보험
5     203  2018.03.04  우리카드   1:3   88   99  1h 55m  lose  014  KB손해보험

    KB손해보험             VS     우리카드           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    90.94   87.83     득점    88.83   88.08  014
1   50.01%  49.74%     공격   53.11%  52.31%  014
2   41.90%  44.08%   오픈공격   46.67%  45.49%  014
3   66.33%  71.43%  시간차공격   36.36%  58.77%  014
4    0.00%     NaN   이동공격  100.00%  50.00%  014
5   51.61%  52.90%   후위공격   57.63%  57.74%  014
6   57.88%  52.24%     속공   53.33%  54.96%  014
7   56.66%  50.72%    퀵오픈   62.93%  57.33%  014
8     1.75    1.59     서브     1.64    1.34  014
9     2.21    2.36    블로킹     1.91    1.90  014
10    8.97    9.45     디그     9.27    9.35  014
11   11.80   12.45     세트    12.68   12.50  014
12    6.71    7.64    리시브     6.73    7.16  014
13    0.06    0.00     벌칙     0.00    0.03  014
14   27.17   27.50     범실    25.50   24.28  014

         현대캐피탈                             상대전적         대한항공   시즌
0          NaN              VS 구단 선택 현대캐피탈 대한항공          NaN  014
1  1위(22승 14패)  * 상대전적 : 71승 64패 * 시즌전적 : 4승 6패  3위(22승 14패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0       1  2017.10.14  대한항공   3:1  104  100  2h 04m   win  014  현대캐피탈
1      68  2017.11.28  대한항공   2:3  105  106  2h 06m  lose  014  현대캐피탈
2     107  2017.12.25  대한항공   3:0   75   59  1h 22m   win  014  현대캐피탈
3     136  2018.01.13  대한항공   3:1   95   94  1h 55m   win  014  현대캐피탈
4     149  2018.01.27  대한항공   0:3   64   77  1h 26m  lose  014  현대캐피탈
5     200  2018.03.02  대한항공   1:3   86   96  1h 47m  lose  014  현대캐피탈
6     224  2018.03.24  대한항공   3:2  110  116  2h 19m   win  014  현대캐피탈
7     226  2018.03.26  대한항공   0:3   67   77  1h 28m  lose  014  현대캐피탈
8     228  2018.03.28  대한항공   0:3   64   76  1h 26m  lose  014  현대캐피탈
9     229  2018.03.30  대한항공   0:3   59   75  1h 22m  lose  014  현대캐피탈

     현대캐피탈             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    86.67   88.17     득점   88.67   90.58  014
1   51.71%  50.62%     공격  50.96%  51.08%  014
2   41.87%  43.85%   오픈공격  40.64%  41.07%  014
3   67.26%  68.75%  시간차공격  61.54%  58.70%  014
4    0.00%     NaN   이동공격     NaN   0.00%  014
5   54.39%  45.99%   후위공격  50.33%  50.98%  014
6   58.33%  60.44%     속공  60.92%  59.24%  014
7   55.71%  56.15%    퀵오픈  56.59%  56.98%  014
8     1.14    0.96     서브    1.35    1.50  014
9     2.64    2.26    블로킹    1.39    2.16  014
10    9.22    9.39     디그   10.83    9.58  014
11   12.16   11.96     세트   13.26   12.34  014
12    7.75    6.65    리시브    8.30    7.84  014
13    0.06    0.00     벌칙    0.00    0.00  014
14   23.53   25.33     범실   28.50   26.25  014

         현대캐피탈                             상대전적         삼성화재   시즌
0          NaN              VS 구단 선택 현대캐피탈 삼성화재          NaN  014
1  1위(22승 14패)  * 상대전적 : 61승 79패 * 시즌전적 : 3승 3패  2위(22승 14패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      30  2017.11.03  삼성화재   1:3   95  105  2h 03m  lose  014  현대캐피탈
1      49  2017.11.15  삼성화재   0:3   64   75  1h 21m  lose  014  현대캐피탈
2      80  2017.12.06  삼성화재   3:0   75   61  1h 16m   win  014  현대캐피탈
3     118  2018.01.01  삼성화재   3:1   97   88  1h 49m   win  014  현대캐피탈
4     180  2018.02.16  삼성화재   3:2  129  121  2h 34m   win  014  현대캐피탈
5     186  2018.02.20  삼성화재   2:3  105  103  2h 06m  lose  014  현대캐피탈

     현대캐피탈             VS     삼성화재           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    86.67   94.17     득점    92.17   91.33  014
1   51.71%  52.65%     공격   52.79%  53.71%  014
2   41.87%  37.06%   오픈공격   51.36%  50.54%  014
3   67.26%  82.61%  시간차공격   50.00%  56.00%  014
4    0.00%     NaN   이동공격  100.00%  72.73%  014
5   54.39%  56.17%   후위공격   52.84%  56.02%  014
6   58.33%  59.32%     속공   55.81%  56.28%  014
7   55.71%  57.25%    퀵오픈   52.83%  55.45%  014
8     1.14    1.00     서브     0.58    0.95  014
9     2.64    2.83    블로킹     2.38    2.56  014
10    9.22    8.50     디그     9.33    8.62  014
11   12.16   12.92     세트    12.83   11.88  014
12    7.75   10.63    리시브     9.21    8.05  014
13    0.06    0.00     벌칙     0.00    0.00  014
14   23.53   25.17     범실    25.83   24.25  014

         현대캐피탈                             상대전적       KB손해보험   시즌
0          NaN            VS 구단 선택 현대캐피탈 KB손해보험          NaN  014
1  1위(22승 14패)  * 상대전적 : 81승 27패 * 시즌전적 : 2승 4패  4위(19승 17패)  014

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0       8  2017.10.18  KB손해보험   0:3   61   81  1h 25m  lose  014  현대캐피탈
1      72  2017.12.01  KB손해보험   3:0   75   59  1h 18m   win  014  현대캐피탈
2     102  2017.12.22  KB손해보험   2:3  106  105  2h 16m  lose  014  현대캐피탈
3     143  2018.01.17  KB손해보험   3:0   75   60  1h 24m   win  014  현대캐피탈
4     168  2018.02.08  KB손해보험   1:3   81   97  1h 44m  lose  014  현대캐피탈
5     216  2018.03.14  KB손해보험   1:3   78  100  1h 50m  lose  014  현대캐피탈

     현대캐피탈             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    86.67   79.33     득점   83.67   90.94  014
1   51.71%  48.85%     공격  49.14%  50.01%  014
2   41.87%  40.51%   오픈공격  42.18%  41.90%  014
3   67.26%  50.00%  시간차공격  66.67%  66.33%  014
4    0.00%     NaN   이동공격     NaN   0.00%  014
5   54.39%  58.56%   후위공격  50.00%  51.61%  014
6   58.33%  51.65%     속공  61.90%  57.88%  014
7   55.71%  51.49%    퀵오픈  53.54%  56.66%  014
8     1.14    1.18     서브    2.50    1.75  014
9     2.64    2.18    블로킹    2.14    2.21  014
10    9.22    9.41     디그    9.18    8.97  014
11   12.16   11.14     세트   11.14   11.80  014
12    7.75    5.18    리시브    6.09    6.71  014
13    0.06    0.17     벌칙    0.17    0.06  014
14   23.53   24.00     범실   24.67   27.17  014

         현대캐피탈                             상대전적         한국전력   시즌
0          NaN              VS 구단 선택 현대캐피탈 한국전력          NaN  014
1  1위(22승 14패)  * 상대전적 : 82승 30패 * 시즌전적 : 4승 2패  5위(17승 19패)  014

   경기 No.        경기일자   상대팀 세트스코어  득점  실점    경기시간    승패   시즌     홈팀
0      19  2017.10.26  한국전력   0:3  64  75  1h 23m  lose  014  현대캐피탈
1      61  2017.11.23  한국전력   3:0  75  55  1h 14m   win  014  현대캐피탈
2      92  2017.12.14  한국전력   3:0  75  52  1h 14m   win  014  현대캐피탈
3     130  2018.01.09  한국전력   3:1  97  82  1h 45m   win  014  현대캐피탈
4     156  2018.01.31  한국전력   3:0  75  58  1h 24m   win  014  현대캐피탈
5     206  2018.03.06  한국전력   0:3  57  75  1h 17m  lose  014  현대캐피탈

     현대캐피탈             VS    한국전력            시즌
      시즌평균   Vs 상대     구분   Vs 상대     시즌평균
0    86.67   73.83     득점   66.17    84.94  014
1   51.71%  50.31%     공격  42.97%   46.97%  014
2   41.87%  39.87%   오픈공격  42.11%   42.50%  014
3   67.26%  83.33%  시간차공격  75.00%   48.84%  014
4    0.00%     NaN   이동공격     NaN  100.00%  014
5   54.39%  50.38%   후위공격  42.02%   49.44%  014
6   58.33%  59.46%     속공  37.29%   44.95%  014
7   55.71%  53.27%    퀵오픈  49.40%   56.58%  014
8     1.14    1.11     서브    1.00     1.13  014
9     2.64    3.05    블로킹    1.95     2.12  014
10    9.22   11.00     디그   10.42     9.90  014
11   12.16   12.11     세트   11.26    11.72  014
12    7.75    8.47    리시브    8.74     8.03  014
13    0.06    0.00     벌칙    0.00     0.00  014
14   23.53   20.17     범실   20.00    22.22  014

         현대캐피탈                             상대전적       OK금융그룹   시즌
0          NaN            VS 구단 선택 현대캐피탈 OK금융그룹          NaN  014
1  1위(22승 14패)  * 상대전적 : 39승 17패 * 시즌전적 : 5승 1패  7위(10승 26패)  014

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      26  2017.10.31  OK금융그룹   3:1   97   84  1h 45m   win  014  현대캐피탈
1      42  2017.11.11  OK금융그룹   3:1   95   83  1h 42m   win  014  현대캐피탈
2      83  2017.12.09  OK금융그룹   3:1   96   88  1h 43m   win  014  현대캐피탈
3     113  2017.12.29  OK금융그룹   3:0   75   57  1h 17m   win  014  현대캐피탈
4     161  2018.02.04  OK금융그룹   3:0   75   59  1h 12m   win  014  현대캐피탈
5     210  2018.03.10  OK금융그룹   2:3  105  106  2h 01m  lose  014  현대캐피탈

     현대캐피탈             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    86.67   90.50     득점   79.50   85.25  014
1   51.71%  52.92%     공격  46.68%  49.27%  014
2   41.87%  50.00%   오픈공격  40.10%  42.45%  014
3   67.26%  43.75%  시간차공격  54.84%  59.70%  014
4    0.00%     NaN   이동공격  50.00%  44.44%  014
5   54.39%  55.38%   후위공격  47.02%  51.02%  014
6   58.33%  54.43%     속공  50.96%  51.75%  014
7   55.71%  54.55%    퀵오픈  51.40%  52.72%  014
8     1.14    1.43     서브    1.17    1.29  014
9     2.64    2.78    블로킹    1.78    2.06  014
10    9.22    8.35     디그    8.96    8.58  014
11   12.16   11.35     세트   11.57   11.78  014
12    7.75    6.83    리시브    9.22    8.48  014
13    0.06    0.00     벌칙    0.00    0.00  014
14   23.53   22.50     범실   29.00   27.92  014

         현대캐피탈                             상대전적         우리카드   시즌
0          NaN              VS 구단 선택 현대캐피탈 우리카드          NaN  014
1  1위(22승 14패)  * 상대전적 : 38승 17패 * 시즌전적 : 5승 1패  6위(14승 22패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      13  2017.10.22  우리카드   3:1  100   95  2h 09m   win  014  현대캐피탈
1      55  2017.11.19  우리카드   3:1   97   79  1h 36m   win  014  현대캐피탈
2      96  2017.12.17  우리카드   2:3  110  112  2h 19m  lose  014  현대캐피탈
3     124  2018.01.05  우리카드   3:0   75   64  1h 20m   win  014  현대캐피탈
4     175  2018.02.13  우리카드   3:1   95   84  1h 45m   win  014  현대캐피탈
5     193  2018.02.25  우리카드   3:0   87   81  1h 41m   win  014  현대캐피탈

     현대캐피탈             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    86.67   94.00     득점   85.83   88.08  014
1   51.71%  54.45%     공격  50.25%  52.31%  014
2   41.87%  40.00%   오픈공격  45.08%  45.49%  014
3   67.26%  72.22%  시간차공격  63.64%  58.77%  014
4    0.00%   0.00%   이동공격     NaN  50.00%  014
5   54.39%  59.86%   후위공격  58.62%  57.74%  014
6   58.33%  64.37%     속공  52.94%  54.96%  014
7   55.71%  59.59%    퀵오픈  50.68%  57.33%  014
8     1.14    1.17     서브    1.09    1.34  014
9     2.64    2.78    블로킹    1.78    1.90  014
10    9.22    9.04     디그    9.26    9.35  014
11   12.16   13.39     세트   12.70   12.50  014
12    7.75    8.65    리시브    8.30    7.16  014
13    0.06    0.17     벌칙    0.17    0.03  014
14   23.53   24.00     범실   25.67   24.28  014

          한국전력                             상대전적         대한항공   시즌
0          NaN               VS 구단 선택 한국전력 대한항공          NaN  014
1  5위(17승 19패)  * 상대전적 : 21승 87패 * 시즌전적 : 1승 5패  3위(22승 14패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      29  2017.11.02  대한항공   2:3  112  122  2h 38m  lose  014  한국전력
1      47  2017.11.14  대한항공   0:3   52   75  1h 15m  lose  014  한국전력
2      81  2017.12.07  대한항공   1:3   86   98  1h 57m  lose  014  한국전력
3     116  2017.12.31  대한항공   3:0   76   68  1h 25m   win  014  한국전력
4     170  2018.02.10  대한항공   1:3   87  102  1h 57m  lose  014  한국전력
5     190  2018.02.22  대한항공   2:3  105  107  2h 15m  lose  014  한국전력

       한국전력             VS    대한항공           시즌
       시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0     84.94   86.33     득점   95.33   90.58  014
1    46.97%  42.41%     공격  51.39%  51.08%  014
2    42.50%  37.84%   오픈공격  40.54%  41.07%  014
3    48.84%  60.00%  시간차공격  54.55%  58.70%  014
4   100.00%     NaN   이동공격     NaN   0.00%  014
5    49.44%  43.35%   후위공격  53.76%  50.98%  014
6    44.95%  43.33%     속공  57.35%  59.24%  014
7    56.58%  55.32%    퀵오픈  57.00%  56.98%  014
8      1.13    1.00     서브    1.21    1.50  014
9      2.12    1.42    블로킹    2.79    2.16  014
10     9.90   12.08     디그   10.96    9.58  014
11    11.72   11.50     세트   13.08   12.34  014
12     8.03    7.42    리시브    8.63    7.84  014
13     0.00    0.00     벌칙    0.00    0.00  014
14    22.22   23.83     범실   29.67   26.25  014

          한국전력                             상대전적         삼성화재   시즌
0          NaN               VS 구단 선택 한국전력 삼성화재          NaN  014
1  5위(17승 19패)  * 상대전적 : 26승 82패 * 시즌전적 : 4승 2패  2위(22승 14패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      23  2017.10.29  삼성화재   0:3   52   75  1h 18m  lose  014  한국전력
1      53  2017.11.18  삼성화재   0:3   70   83  1h 29m  lose  014  한국전력
2      85  2017.12.10  삼성화재   3:1  101   90  1h 55m   win  014  한국전력
3     123  2018.01.04  삼성화재   3:2  113  104  2h 15m   win  014  한국전력
4     166  2018.02.07  삼성화재   3:2  101   97  2h 04m   win  014  한국전력
5     215  2018.03.13  삼성화재   3:0   79   69  1h 27m   win  014  한국전력

       한국전력             VS    삼성화재           시즌
       시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0     84.94   86.00     득점   86.33   91.33  014
1    46.97%  50.67%     공격  52.14%  53.71%  014
2    42.50%  43.09%   오픈공격  49.12%  50.54%  014
3    48.84%  45.45%  시간차공격  45.00%  56.00%  014
4   100.00%     NaN   이동공격  33.33%  72.73%  014
5    49.44%  55.30%   후위공격  57.49%  56.02%  014
6    44.95%  45.45%     속공  51.85%  56.28%  014
7    56.58%  62.41%    퀵오픈  52.27%  55.45%  014
8      1.13    0.87     서브    0.83    0.95  014
9      2.12    2.09    블로킹    2.48    2.56  014
10     9.90    9.22     디그    9.35    8.62  014
11    11.72   12.91     세트   12.39   11.88  014
12     8.03    9.74    리시브   10.43    8.05  014
13     0.00    0.00     벌칙    0.00    0.00  014
14    22.22   22.83     범실   24.17   24.25  014

          한국전력                             상대전적       KB손해보험   시즌
0          NaN             VS 구단 선택 한국전력 KB손해보험          NaN  014
1  5위(17승 19패)  * 상대전적 : 41승 67패 * 시즌전적 : 3승 3패  4위(19승 17패)  014

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      11  2017.10.21  KB손해보험   3:1   95   84  1h 50m   win  014  한국전력
1      65  2017.11.26  KB손해보험   3:1   94   87  1h 52m   win  014  한국전력
2      98  2017.12.19  KB손해보험   3:1   97   99  2h 18m   win  014  한국전력
3     135  2018.01.12  KB손해보험   0:3   70   85  1h 31m  lose  014  한국전력
4     159  2018.02.03  KB손해보험   2:3  105  116  2h 14m  lose  014  한국전력
5     209  2018.03.09  KB손해보험   2:3   98   99  2h 04m  lose  014  한국전력

       한국전력              VS  KB손해보험           시즌
       시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0     84.94    93.17     득점   95.00   90.94  014
1    46.97%   47.99%     공격  48.95%  50.01%  014
2    42.50%   44.35%   오픈공격  40.64%  41.90%  014
3    48.84%   25.00%  시간차공격  78.57%  66.33%  014
4   100.00%  100.00%   이동공격     NaN   0.00%  014
5    49.44%   54.17%   후위공격  52.47%  51.61%  014
6    44.95%   50.70%     속공  56.00%  57.88%  014
7    56.58%   51.43%    퀵오픈  55.35%  56.66%  014
8      1.13     1.36     서브    1.72    1.75  014
9      2.12     2.32    블로킹    2.28    2.21  014
10     9.90    10.28     디그   10.20    8.97  014
11    11.72    11.92     세트   12.48   11.80  014
12     8.03     6.60    리시브    6.92    6.71  014
13     0.00     0.00     벌칙    0.17    0.06  014
14    22.22    23.83     범실   26.00   27.17  014

          한국전력                             상대전적        현대캐피탈   시즌
0          NaN              VS 구단 선택 한국전력 현대캐피탈          NaN  014
1  5위(17승 19패)  * 상대전적 : 30승 82패 * 시즌전적 : 2승 4패  1위(22승 14패)  014

   경기 No.        경기일자    상대팀 세트스코어  득점  실점    경기시간    승패   시즌    홈팀
0      19  2017.10.26  현대캐피탈   3:0  75  64  1h 23m   win  014  한국전력
1      61  2017.11.23  현대캐피탈   0:3  55  75  1h 14m  lose  014  한국전력
2      92  2017.12.14  현대캐피탈   0:3  52  75  1h 14m  lose  014  한국전력
3     130  2018.01.09  현대캐피탈   1:3  82  97  1h 45m  lose  014  한국전력
4     156  2018.01.31  현대캐피탈   0:3  58  75  1h 24m  lose  014  한국전력
5     206  2018.03.06  현대캐피탈   3:0  75  57  1h 17m   win  014  한국전력

       한국전력             VS   현대캐피탈           시즌
       시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0     84.94   66.17     득점   73.83   86.67  014
1    46.97%  42.97%     공격  50.31%  51.71%  014
2    42.50%  42.11%   오픈공격  39.87%  41.87%  014
3    48.84%  75.00%  시간차공격  83.33%  67.26%  014
4   100.00%     NaN   이동공격     NaN   0.00%  014
5    49.44%  42.02%   후위공격  50.38%  54.39%  014
6    44.95%  37.29%     속공  59.46%  58.33%  014
7    56.58%  49.40%    퀵오픈  53.27%  55.71%  014
8      1.13    1.00     서브    1.11    1.14  014
9      2.12    1.95    블로킹    3.05    2.64  014
10     9.90   10.42     디그   11.00    9.22  014
11    11.72   11.26     세트   12.11   12.16  014
12     8.03    8.74    리시브    8.47    7.75  014
13     0.00    0.00     벌칙    0.00    0.06  014
14    22.22   20.00     범실   20.17   23.53  014

          한국전력                             상대전적       OK금융그룹   시즌
0          NaN             VS 구단 선택 한국전력 OK금융그룹          NaN  014
1  5위(17승 19패)  * 상대전적 : 21승 34패 * 시즌전적 : 4승 2패  7위(10승 26패)  014

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       6  2017.10.17  OK금융그룹   2:3  101  105  2h 07m  lose  014  한국전력
1      71  2017.11.30  OK금융그룹   3:0   77   67  1h 17m   win  014  한국전력
2     103  2017.12.23  OK금융그룹   3:1  105   90  1h 58m   win  014  한국전력
3     141  2018.01.16  OK금융그룹   3:0   75   59  1h 16m   win  014  한국전력
4     177  2018.02.14  OK금융그룹   3:0   75   68  1h 23m   win  014  한국전력
5     181  2018.02.17  OK금융그룹   1:3   94   95  1h 56m  lose  014  한국전력

       한국전력             VS  OK금융그룹           시즌
       시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0     84.94   87.83     득점   80.67   85.25  014
1    46.97%  49.90%     공격  49.33%  49.27%  014
2    42.50%  44.54%   오픈공격  48.11%  42.45%  014
3    48.84%  57.14%  시간차공격  55.88%  59.70%  014
4   100.00%     NaN   이동공격   0.00%  44.44%  014
5    49.44%  52.63%   후위공격  46.94%  51.02%  014
6    44.95%  46.30%     속공  59.30%  51.75%  014
7    56.58%  60.38%    퀵오픈  46.43%  52.72%  014
8      1.13    1.45     서브    1.09    1.29  014
9      2.12    2.73    블로킹    2.36    2.06  014
10     9.90    8.95     디그    8.82    8.58  014
11    11.72   11.41     세트   12.73   11.78  014
12     8.03    7.55    리시브    9.82    8.48  014
13     0.00    0.00     벌칙    0.00    0.00  014
14    22.22   19.17     범실   29.33   27.92  014

          한국전력                             상대전적         우리카드   시즌
0          NaN               VS 구단 선택 한국전력 우리카드          NaN  014
1  5위(17승 19패)  * 상대전적 : 21승 32패 * 시즌전적 : 3승 3패  6위(14승 22패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      33  2017.11.05  우리카드   3:1  106   92  2h 02m   win  014  한국전력
1      40  2017.11.09  우리카드   0:3   70   78  1h 30m  lose  014  한국전력
2      75  2017.12.03  우리카드   2:3  114  114  2h 15m  lose  014  한국전력
3     111  2017.12.27  우리카드   3:2  101  102  2h 08m   win  014  한국전력
4     148  2018.01.26  우리카드   0:3   56   75  1h 21m  lose  014  한국전력
5     198  2018.03.01  우리카드   3:1   94   85  1h 47m   win  014  한국전력

       한국전력             VS    우리카드           시즌
       시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0     84.94   90.17     득점   91.00   88.08  014
1    46.97%  48.18%     공격  53.77%  52.31%  014
2    42.50%  44.00%   오픈공격  46.12%  45.49%  014
3    48.84%  41.67%  시간차공격  66.67%  58.77%  014
4   100.00%     NaN   이동공격     NaN  50.00%  014
5    49.44%  51.02%   후위공격  55.83%  57.74%  014
6    44.95%  45.45%     속공  58.73%  54.96%  014
7    56.58%  56.86%    퀵오픈  60.14%  57.33%  014
8      1.13    1.08     서브    1.21    1.34  014
9      2.12    2.21    블로킹    1.38    1.90  014
10     9.90    8.42     디그   10.13    9.35  014
11    11.72   11.21     세트   13.83   12.50  014
12     8.03    8.38    리시브    8.17    7.16  014
13     0.00    0.00     벌칙    0.00    0.03  014
14    22.22   23.67     범실   30.67   24.28  014

        OK금융그룹                             상대전적         대한항공   시즌
0          NaN             VS 구단 선택 OK금융그룹 대한항공          NaN  014
1  7위(10승 26패)  * 상대전적 : 18승 34패 * 시즌전적 : 2승 4패  3위(22승 14패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      16  2017.10.24  대한항공   1:3   92   97  1h 50m  lose  014  OK금융그룹
1      58  2017.11.21  대한항공   3:1  108  100  2h 05m   win  014  OK금융그룹
2      94  2017.12.16  대한항공   2:3  109  118  2h 13m  lose  014  OK금융그룹
3     125  2018.01.06  대한항공   1:3   84   98  1h 50m  lose  014  OK금융그룹
4     157  2018.02.01  대한항공   0:3   63   76  1h 22m  lose  014  OK금융그룹
5     207  2018.03.07  대한항공   3:2  108   96  2h 02m   win  014  OK금융그룹

    OK금융그룹              VS    대한항공           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    85.25    94.00     득점   97.50   90.58  014
1   49.27%   51.18%     공격  53.17%  51.08%  014
2   42.45%   41.81%   오픈공격  40.00%  41.07%  014
3   59.70%   58.97%  시간차공격  68.75%  58.70%  014
4   44.44%  100.00%   이동공격     NaN   0.00%  014
5   51.02%   55.49%   후위공격  52.87%  50.98%  014
6   51.75%   53.09%     속공  61.25%  59.24%  014
7   52.72%   59.05%    퀵오픈  61.02%  56.98%  014
8     1.29     1.12     서브    1.60    1.50  014
9     2.06     1.72    블로킹    1.84    2.16  014
10    8.58     9.00     디그    8.64    9.58  014
11   11.78    12.28     세트   12.32   12.34  014
12    8.48     7.60    리시브    7.84    7.84  014
13    0.00     0.00     벌칙    0.00    0.00  014
14   27.92    29.83     범실   28.00   26.25  014

        OK금융그룹                             상대전적         삼성화재   시즌
0          NaN             VS 구단 선택 OK금융그룹 삼성화재          NaN  014
1  7위(10승 26패)  * 상대전적 : 33승 24패 * 시즌전적 : 1승 5패  2위(22승 14패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      10  2017.10.20  삼성화재   3:1   95   86  1h 42m   win  014  OK금융그룹
1      63  2017.11.25  삼성화재   0:3   57   75  1h 13m  lose  014  OK금융그룹
2     100  2017.12.20  삼성화재   0:3   71   83  1h 34m  lose  014  OK금융그룹
3     134  2018.01.11  삼성화재   2:3  102  111  2h 03m  lose  014  OK금융그룹
4     151  2018.01.28  삼성화재   2:3  102  109  2h 07m  lose  014  OK금융그룹
5     201  2018.03.03  삼성화재   0:3   57   75  1h 12m  lose  014  OK금융그룹

    OK금융그룹             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.25   80.67     득점   89.83   91.33  014
1   49.27%  47.21%     공격  56.84%  53.71%  014
2   42.45%  42.94%   오픈공격  53.00%  50.54%  014
3   59.70%  61.90%  시간차공격  66.67%  56.00%  014
4   44.44%     NaN   이동공격   0.00%  72.73%  014
5   51.02%  44.16%   후위공격  58.22%  56.02%  014
6   51.75%  46.91%     속공  61.73%  56.28%  014
7   52.72%  53.16%    퀵오픈  59.68%  55.45%  014
8     1.29    1.22     서브    1.30    0.95  014
9     2.06    1.91    블로킹    2.65    2.56  014
10    8.58    8.35     디그    8.22    8.62  014
11   11.78   11.43     세트   11.83   11.88  014
12    8.48    9.35    리시브    7.52    8.05  014
13    0.00    0.00     벌칙    0.00    0.00  014
14   27.92   25.50     범실   22.17   24.25  014

        OK금융그룹                             상대전적       KB손해보험   시즌
0          NaN           VS 구단 선택 OK금융그룹 KB손해보험          NaN  014
1  7위(10승 26패)  * 상대전적 : 28승 26패 * 시즌전적 : 2승 4패  4위(19승 17패)  014

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      31  2017.11.04  KB손해보험   2:3   99  103  1h 59m  lose  014  OK금융그룹
1      38  2017.11.08  KB손해보험   3:2  112  110  2h 12m   win  014  OK금융그룹
2      78  2017.12.05  KB손해보험   2:3  102  109  2h 07m  lose  014  OK금융그룹
3     109  2017.12.26  KB손해보험   3:1   99   99  1h 53m   win  014  OK금융그룹
4     147  2018.01.25  KB손해보험   1:3   90   97  1h 48m  lose  014  OK금융그룹
5     197  2018.02.28  KB손해보험   1:3   88   94  1h 43m  lose  014  OK금융그룹

    OK금융그룹             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.25   98.33     득점  102.00   90.94  014
1   49.27%  51.24%     공격  50.71%  50.01%  014
2   42.45%  41.57%   오픈공격  39.92%  41.90%  014
3   59.70%  63.16%  시간차공격  69.57%  66.33%  014
4   44.44%     NaN   이동공격   0.00%   0.00%  014
5   51.02%  55.36%   후위공격  54.23%  51.61%  014
6   51.75%  51.69%     속공  53.85%  57.88%  014
7   52.72%  55.30%    퀵오픈  59.76%  56.66%  014
8     1.29    1.41     서브    1.85    1.75  014
9     2.06    2.04    블로킹    2.37    2.21  014
10    8.58    8.19     디그    8.63    8.97  014
11   11.78   10.81     세트   11.56   11.80  014
12    8.48    6.67    리시브    6.74    6.71  014
13    0.00    0.00     벌칙    0.00    0.06  014
14   27.92   29.50     범실   31.17   27.17  014

        OK금융그룹                             상대전적        현대캐피탈   시즌
0          NaN            VS 구단 선택 OK금융그룹 현대캐피탈          NaN  014
1  7위(10승 26패)  * 상대전적 : 17승 39패 * 시즌전적 : 1승 5패  1위(22승 14패)  014

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      26  2017.10.31  현대캐피탈   1:3   84   97  1h 45m  lose  014  OK금융그룹
1      42  2017.11.11  현대캐피탈   1:3   83   95  1h 42m  lose  014  OK금융그룹
2      83  2017.12.09  현대캐피탈   1:3   88   96  1h 43m  lose  014  OK금융그룹
3     113  2017.12.29  현대캐피탈   0:3   57   75  1h 17m  lose  014  OK금융그룹
4     161  2018.02.04  현대캐피탈   0:3   59   75  1h 12m  lose  014  OK금융그룹
5     210  2018.03.10  현대캐피탈   3:2  106  105  2h 01m   win  014  OK금융그룹

    OK금융그룹             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.25   79.50     득점   90.50   86.67  014
1   49.27%  46.68%     공격  52.92%  51.71%  014
2   42.45%  40.10%   오픈공격  50.00%  41.87%  014
3   59.70%  54.84%  시간차공격  43.75%  67.26%  014
4   44.44%  50.00%   이동공격     NaN   0.00%  014
5   51.02%  47.02%   후위공격  55.38%  54.39%  014
6   51.75%  50.96%     속공  54.43%  58.33%  014
7   52.72%  51.40%    퀵오픈  54.55%  55.71%  014
8     1.29    1.17     서브    1.43    1.14  014
9     2.06    1.78    블로킹    2.78    2.64  014
10    8.58    8.96     디그    8.35    9.22  014
11   11.78   11.57     세트   11.35   12.16  014
12    8.48    9.22    리시브    6.83    7.75  014
13    0.00    0.00     벌칙    0.00    0.06  014
14   27.92   29.00     범실   22.50   23.53  014

        OK금융그룹                             상대전적         한국전력   시즌
0          NaN             VS 구단 선택 OK금융그룹 한국전력          NaN  014
1  7위(10승 26패)  * 상대전적 : 34승 21패 * 시즌전적 : 2승 4패  5위(17승 19패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       6  2017.10.17  한국전력   3:2  105  101  2h 07m   win  014  OK금융그룹
1      71  2017.11.30  한국전력   0:3   67   77  1h 17m  lose  014  OK금융그룹
2     103  2017.12.23  한국전력   1:3   90  105  1h 58m  lose  014  OK금융그룹
3     141  2018.01.16  한국전력   0:3   59   75  1h 16m  lose  014  OK금융그룹
4     177  2018.02.14  한국전력   0:3   68   75  1h 23m  lose  014  OK금융그룹
5     181  2018.02.17  한국전력   3:1   95   94  1h 56m   win  014  OK금융그룹

    OK금융그룹             VS    한국전력            시즌
      시즌평균   Vs 상대     구분   Vs 상대     시즌평균
0    85.25   80.67     득점   87.83    84.94  014
1   49.27%  49.33%     공격  49.90%   46.97%  014
2   42.45%  48.11%   오픈공격  44.54%   42.50%  014
3   59.70%  55.88%  시간차공격  57.14%   48.84%  014
4   44.44%   0.00%   이동공격     NaN  100.00%  014
5   51.02%  46.94%   후위공격  52.63%   49.44%  014
6   51.75%  59.30%     속공  46.30%   44.95%  014
7   52.72%  46.43%    퀵오픈  60.38%   56.58%  014
8     1.29    1.09     서브    1.45     1.13  014
9     2.06    2.36    블로킹    2.73     2.12  014
10    8.58    8.82     디그    8.95     9.90  014
11   11.78   12.73     세트   11.41    11.72  014
12    8.48    9.82    리시브    7.55     8.03  014
13    0.00    0.00     벌칙    0.00     0.00  014
14   27.92   29.33     범실   19.17    22.22  014

        OK금융그룹                             상대전적         우리카드   시즌
0          NaN             VS 구단 선택 OK금융그룹 우리카드          NaN  014
1  7위(10승 26패)  * 상대전적 : 26승 28패 * 시즌전적 : 2승 4패  6위(14승 22패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      20  2017.10.27  우리카드   2:3  100  108  1h 59m  lose  014  OK금융그룹
1      51  2017.11.16  우리카드   1:3   90   99  1h 54m  lose  014  OK금융그룹
2      90  2017.12.13  우리카드   0:3   55   75  1h 13m  lose  014  OK금융그룹
3     120  2018.01.02  우리카드   0:3   75   86  1h 33m  lose  014  OK금융그룹
4     169  2018.02.09  우리카드   3:0   75   58  1h 15m   win  014  OK금융그룹
5     188  2018.02.21  우리카드   3:0   75   55  1h 14m   win  014  OK금융그룹

    OK금융그룹             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.25   78.33     득점   80.17   88.08  014
1   49.27%  49.81%     공격  53.60%  52.31%  014
2   42.45%  40.00%   오픈공격  47.69%  45.49%  014
3   59.70%  63.16%  시간차공격  61.11%  58.77%  014
4   44.44%   0.00%   이동공격     NaN  50.00%  014
5   51.02%  56.72%   후위공격  55.26%  57.74%  014
6   51.75%  47.95%     속공  60.00%  54.96%  014
7   52.72%  52.31%    퀵오픈  58.82%  57.33%  014
8     1.29    1.76     서브    1.52    1.34  014
9     2.06    2.62    블로킹    2.33    1.90  014
10    8.58    8.19     디그    8.67    9.35  014
11   11.78   12.05     세트   11.71   12.50  014
12    8.48    8.71    리시브    5.95    7.16  014
13    0.00    0.00     벌칙    0.00    0.03  014
14   27.92   24.33     범실   18.67   24.28  014

          우리카드                             상대전적         대한항공   시즌
0          NaN               VS 구단 선택 우리카드 대한항공          NaN  014
1  6위(14승 22패)  * 상대전적 : 19승 38패 * 시즌전적 : 2승 4패  3위(22승 14패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       9  2017.10.19  대한항공   1:3   76   97  1h 45m  lose  014  우리카드
1      62  2017.11.24  대한항공   0:3   70   79  1h 32m  lose  014  우리카드
2     101  2017.12.21  대한항공   2:3   97  109  2h 03m  lose  014  우리카드
3     132  2018.01.10  대한항공   3:0   75   62  1h 24m   win  014  우리카드
4     164  2018.02.06  대한항공   2:3  105   99  2h 02m  lose  014  우리카드
5     212  2018.03.11  대한항공   3:0   76   55  1h 15m   win  014  우리카드

      우리카드              VS    대한항공           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    88.08    83.17     득점   83.50   90.58  014
1   52.31%   50.82%     공격  48.69%  51.08%  014
2   45.49%   46.64%   오픈공격  41.81%  41.07%  014
3   58.77%   56.25%  시간차공격  57.14%  58.70%  014
4   50.00%  100.00%   이동공격     NaN   0.00%  014
5   57.74%   56.90%   후위공격  45.21%  50.98%  014
6   54.96%   44.44%     속공  62.86%  59.24%  014
7   57.33%   55.96%    퀵오픈  52.41%  56.98%  014
8     1.34     1.13     서브    1.91    1.50  014
9     1.90     2.00    블로킹    2.52    2.16  014
10    9.35    10.26     디그    8.57    9.58  014
11   12.50    11.91     세트   11.57   12.34  014
12    7.16     4.83    리시브    7.39    7.84  014
13    0.03     0.00     벌칙    0.00    0.00  014
14   24.28    20.00     범실   24.50   26.25  014

          우리카드                             상대전적         삼성화재   시즌
0          NaN               VS 구단 선택 우리카드 삼성화재          NaN  014
1  6위(14승 22패)  * 상대전적 : 20승 32패 * 시즌전적 : 1승 5패  2위(22승 14패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      18  2017.10.25  삼성화재   2:3  107  113  2h 10m  lose  014  우리카드
1      70  2017.11.29  삼성화재   1:3   85   98  1h 45m  lose  014  우리카드
2     105  2017.12.24  삼성화재   2:3  102  101  2h 02m  lose  014  우리카드
3     138  2018.01.14  삼성화재   2:3  100  109  2h 04m  lose  014  우리카드
4     158  2018.02.02  삼성화재   2:3  106  108  2h 06m  lose  014  우리카드
5     208  2018.03.08  삼성화재   3:1   97   82  1h 40m   win  014  우리카드

      우리카드             VS     삼성화재           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    88.08   99.50     득점   101.83   91.33  014
1   52.31%  52.46%     공격   54.95%  53.71%  014
2   45.49%  41.03%   오픈공격   53.64%  50.54%  014
3   58.77%  58.06%  시간차공격   52.94%  56.00%  014
4   50.00%   0.00%   이동공격  100.00%  72.73%  014
5   57.74%  62.22%   후위공격   55.49%  56.02%  014
6   54.96%  57.41%     속공   56.84%  56.28%  014
7   57.33%  57.14%    퀵오픈   55.56%  55.45%  014
8     1.34    1.46     서브     1.25    0.95  014
9     1.90    2.04    블로킹     2.50    2.56  014
10    9.35    8.61     디그     7.79    8.62  014
11   12.50   12.14     세트    11.68   11.88  014
12    7.16    8.54    리시브     8.18    8.05  014
13    0.03    0.00     벌칙     0.00    0.00  014
14   24.28   25.17     범실    24.50   24.25  014

          우리카드                             상대전적       KB손해보험   시즌
0          NaN             VS 구단 선택 우리카드 KB손해보험          NaN  014
1  6위(14승 22패)  * 상대전적 : 29승 24패 * 시즌전적 : 3승 3패  4위(19승 17패)  014

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      28  2017.11.01  KB손해보험   3:1  119  115  2h 17m   win  014  우리카드
1      45  2017.11.12  KB손해보험   1:3   88  100  1h 52m  lose  014  우리카드
2      82  2017.12.08  KB손해보험   0:3   62   75  1h 23m  lose  014  우리카드
3     114  2017.12.30  KB손해보험   1:3   90   93  1h 50m  lose  014  우리카드
4     154  2018.01.30  KB손해보험   3:0   75   56  1h 20m   win  014  우리카드
5     203  2018.03.04  KB손해보험   3:1   99   88  1h 55m   win  014  우리카드

      우리카드              VS  KB손해보험           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    88.08    88.83     득점   87.83   90.94  014
1   52.31%   53.11%     공격  49.74%  50.01%  014
2   45.49%   46.67%   오픈공격  44.08%  41.90%  014
3   58.77%   36.36%  시간차공격  71.43%  66.33%  014
4   50.00%  100.00%   이동공격     NaN   0.00%  014
5   57.74%   57.63%   후위공격  52.90%  51.61%  014
6   54.96%   53.33%     속공  52.24%  57.88%  014
7   57.33%   62.93%    퀵오픈  50.72%  56.66%  014
8     1.34     1.64     서브    1.59    1.75  014
9     1.90     1.91    블로킹    2.36    2.21  014
10    9.35     9.27     디그    9.45    8.97  014
11   12.50    12.68     세트   12.45   11.80  014
12    7.16     6.73    리시브    7.64    6.71  014
13    0.03     0.00     벌칙    0.00    0.06  014
14   24.28    25.50     범실   27.50   27.17  014

          우리카드                             상대전적        현대캐피탈   시즌
0          NaN              VS 구단 선택 우리카드 현대캐피탈          NaN  014
1  6위(14승 22패)  * 상대전적 : 17승 38패 * 시즌전적 : 1승 5패  1위(22승 14패)  014

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      13  2017.10.22  현대캐피탈   1:3   95  100  2h 09m  lose  014  우리카드
1      55  2017.11.19  현대캐피탈   1:3   79   97  1h 36m  lose  014  우리카드
2      96  2017.12.17  현대캐피탈   3:2  112  110  2h 19m   win  014  우리카드
3     124  2018.01.05  현대캐피탈   0:3   64   75  1h 20m  lose  014  우리카드
4     175  2018.02.13  현대캐피탈   1:3   84   95  1h 45m  lose  014  우리카드
5     193  2018.02.25  현대캐피탈   0:3   81   87  1h 41m  lose  014  우리카드

      우리카드             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    88.08   85.83     득점   94.00   86.67  014
1   52.31%  50.25%     공격  54.45%  51.71%  014
2   45.49%  45.08%   오픈공격  40.00%  41.87%  014
3   58.77%  63.64%  시간차공격  72.22%  67.26%  014
4   50.00%     NaN   이동공격   0.00%   0.00%  014
5   57.74%  58.62%   후위공격  59.86%  54.39%  014
6   54.96%  52.94%     속공  64.37%  58.33%  014
7   57.33%  50.68%    퀵오픈  59.59%  55.71%  014
8     1.34    1.09     서브    1.17    1.14  014
9     1.90    1.78    블로킹    2.78    2.64  014
10    9.35    9.26     디그    9.04    9.22  014
11   12.50   12.70     세트   13.39   12.16  014
12    7.16    8.30    리시브    8.65    7.75  014
13    0.03    0.17     벌칙    0.17    0.06  014
14   24.28   25.67     범실   24.00   23.53  014

          우리카드                             상대전적         한국전력   시즌
0          NaN               VS 구단 선택 우리카드 한국전력          NaN  014
1  6위(14승 22패)  * 상대전적 : 32승 21패 * 시즌전적 : 3승 3패  5위(17승 19패)  014

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      33  2017.11.05  한국전력   1:3   92  106  2h 02m  lose  014  우리카드
1      40  2017.11.09  한국전력   3:0   78   70  1h 30m   win  014  우리카드
2      75  2017.12.03  한국전력   3:2  114  114  2h 15m   win  014  우리카드
3     111  2017.12.27  한국전력   2:3  102  101  2h 08m  lose  014  우리카드
4     148  2018.01.26  한국전력   3:0   75   56  1h 21m   win  014  우리카드
5     198  2018.03.01  한국전력   1:3   85   94  1h 47m  lose  014  우리카드

      우리카드             VS    한국전력            시즌
      시즌평균   Vs 상대     구분   Vs 상대     시즌평균
0    88.08   91.00     득점   90.17    84.94  014
1   52.31%  53.77%     공격  48.18%   46.97%  014
2   45.49%  46.12%   오픈공격  44.00%   42.50%  014
3   58.77%  66.67%  시간차공격  41.67%   48.84%  014
4   50.00%     NaN   이동공격     NaN  100.00%  014
5   57.74%  55.83%   후위공격  51.02%   49.44%  014
6   54.96%  58.73%     속공  45.45%   44.95%  014
7   57.33%  60.14%    퀵오픈  56.86%   56.58%  014
8     1.34    1.21     서브    1.08     1.13  014
9     1.90    1.38    블로킹    2.21     2.12  014
10    9.35   10.13     디그    8.42     9.90  014
11   12.50   13.83     세트   11.21    11.72  014
12    7.16    8.17    리시브    8.38     8.03  014
13    0.03    0.00     벌칙    0.00     0.00  014
14   24.28   30.67     범실   23.67    22.22  014

          우리카드                             상대전적       OK금융그룹   시즌
0          NaN             VS 구단 선택 우리카드 OK금융그룹          NaN  014
1  6위(14승 22패)  * 상대전적 : 28승 26패 * 시즌전적 : 4승 2패  7위(10승 26패)  014

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      20  2017.10.27  OK금융그룹   3:2  108  100  1h 59m   win  014  우리카드
1      51  2017.11.16  OK금융그룹   3:1   99   90  1h 54m   win  014  우리카드
2      90  2017.12.13  OK금융그룹   3:0   75   55  1h 13m   win  014  우리카드
3     120  2018.01.02  OK금융그룹   3:0   86   75  1h 33m   win  014  우리카드
4     169  2018.02.09  OK금융그룹   0:3   58   75  1h 15m  lose  014  우리카드
5     188  2018.02.21  OK금융그룹   0:3   55   75  1h 14m  lose  014  우리카드

      우리카드             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    88.08   80.17     득점   78.33   85.25  014
1   52.31%  53.60%     공격  49.81%  49.27%  014
2   45.49%  47.69%   오픈공격  40.00%  42.45%  014
3   58.77%  61.11%  시간차공격  63.16%  59.70%  014
4   50.00%     NaN   이동공격   0.00%  44.44%  014
5   57.74%  55.26%   후위공격  56.72%  51.02%  014
6   54.96%  60.00%     속공  47.95%  51.75%  014
7   57.33%  58.82%    퀵오픈  52.31%  52.72%  014
8     1.34    1.52     서브    1.76    1.29  014
9     1.90    2.33    블로킹    2.62    2.06  014
10    9.35    8.67     디그    8.19    8.58  014
11   12.50   11.71     세트   12.05   11.78  014
12    7.16    5.95    리시브    8.71    8.48  014
13    0.03    0.00     벌칙    0.00    0.00  014
14   24.28   18.67     범실   24.33   27.92  014

          대한항공                             상대전적         삼성화재   시즌
0          NaN               VS 구단 선택 대한항공 삼성화재          NaN  015
1  1위(25승 11패)  * 상대전적 : 52승 73패 * 시즌전적 : 5승 1패  4위(19승 17패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      18  2018.10.27  삼성화재   3:1  100   91  1h 54m   win  015  대한항공
1      64  2018.11.25  삼성화재   3:0   75   56  1h 19m   win  015  대한항공
2      81  2018.12.06  삼성화재   1:3   92   92  1h 57m  lose  015  대한항공
3     124  2019.01.04  삼성화재   3:2  112  107  2h 17m   win  015  대한항공
4     180  2019.02.15  삼성화재   3:2  105  101  2h 09m   win  015  대한항공
5     190  2019.02.22  삼성화재   3:1   94   77  1h 50m   win  015  대한항공

      대한항공              VS    삼성화재           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    94.92    96.33     득점   87.33   89.33  015
1   51.92%   50.32%     공격  50.34%  54.25%  015
2   43.14%   45.36%   오픈공격  49.64%  51.48%  015
3   63.04%   66.67%  시간차공격  66.67%  70.18%  015
4   50.00%  100.00%   이동공격   0.00%  68.75%  015
5   49.54%   48.25%   후위공격  51.59%  56.49%  015
6   62.76%   52.58%     속공  45.31%  49.61%  015
7   56.75%   54.69%    퀵오픈  52.94%  60.20%  015
8     1.49     1.96     서브    0.80    0.95  015
9     2.57     2.60    블로킹    2.52    2.42  015
10    9.17     9.84     디그    8.52    8.35  015
11   12.09    11.84     세트   11.48   12.43  015
12    8.19     9.36    리시브    6.96    7.57  015
13    0.00     0.00     벌칙    0.00    0.00  015
14   26.67    23.17     범실   25.00   24.78  015

          대한항공                             상대전적       KB손해보험   시즌
0          NaN             VS 구단 선택 대한항공 KB손해보험          NaN  015
1  1위(25승 11패)  * 상대전적 : 71승 39패 * 시즌전적 : 4승 2패  6위(16승 20패)  015

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       4  2018.10.16  KB손해보험   3:0   78   66  1h 27m   win  015  대한항공
1      56  2018.11.19  KB손해보험   3:1   97   86  1h 55m   win  015  대한항공
2      77  2018.12.03  KB손해보험   3:1  103   94  2h 06m   win  015  대한항공
3     114  2018.12.29  KB손해보험   2:3  107  100  2h 14m  lose  015  대한항공
4     147  2019.01.25  KB손해보험   2:3  112  103  2h 17m  lose  015  대한항공
5     195  2019.02.25  KB손해보험   3:1  100   89  2h 04m   win  015  대한항공

      대한항공             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    94.92   99.50     득점   89.67   89.33  015
1   51.92%  53.07%     공격  46.95%  49.89%  015
2   43.14%  40.58%   오픈공격  42.33%  42.19%  015
3   63.04%  33.33%  시간차공격  28.57%  67.27%  015
4   50.00%     NaN   이동공격   0.00%  33.33%  015
5   49.54%  59.70%   후위공격  50.82%  50.72%  015
6   62.76%  68.32%     속공  46.27%  59.12%  015
7   56.75%  54.71%    퀵오픈  50.34%  53.69%  015
8     1.49    1.28     서브    0.76    1.25  015
9     2.57    2.80    블로킹    1.68    1.96  015
10    9.17    9.56     디그    8.60    9.03  015
11   12.09   12.68     세트   11.24   12.06  015
12    8.19    8.48    리시브    7.72    7.54  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   26.67   30.83     범실   27.83   26.81  015

          대한항공                             상대전적        현대캐피탈   시즌
0          NaN              VS 구단 선택 대한항공 현대캐피탈          NaN  015
1  1위(25승 11패)  * 상대전적 : 64승 71패 * 시즌전적 : 3승 6패  2위(25승 11패)  015

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       1  2018.10.13  현대캐피탈   0:3   64   75  1h 21m  lose  015  대한항공
1      51  2018.11.16  현대캐피탈   3:1   94   85  1h 48m   win  015  대한항공
2      91  2018.12.13  현대캐피탈   3:1   94   90  1h 53m   win  015  대한항공
3     133  2019.01.10  현대캐피탈   1:3   85  101  1h 58m  lose  015  대한항공
4     160  2019.02.03  현대캐피탈   2:3  105   97  2h 08m  lose  015  대한항공
5     185  2019.02.18  현대캐피탈   3:0   78   65  1h 32m   win  015  대한항공
6     223  2019.03.22  현대캐피탈   2:3  107  118  2h 29m  lose  015  대한항공
7     225  2019.03.24  현대캐피탈   2:3  110  101  2h 24m  lose  015  대한항공
8     227  2019.03.26  현대캐피탈   1:3   91  105  2h 11m  lose  015  대한항공

      대한항공             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    94.92   86.67     득점   85.50   90.14  015
1   51.92%  51.66%     공격  50.18%  51.28%  015
2   43.14%  39.15%   오픈공격  42.78%  41.95%  015
3   63.04%  55.56%  시간차공격  25.00%  59.32%  015
4   50.00%     NaN   이동공격     NaN   0.00%  015
5   49.54%  52.26%   후위공격  51.28%  53.37%  015
6   62.76%  65.52%     속공  47.87%  58.20%  015
7   56.75%  59.40%    퀵오픈  65.45%  58.66%  015
8     1.49    1.17     서브    1.39    1.84  015
9     2.57    2.43    블로킹    2.43    2.66  015
10    9.17    9.57     디그    8.57    8.36  015
11   12.09   12.17     세트   11.57   11.78  015
12    8.19    7.78    리시브    7.13    7.66  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   26.67   23.83     범실   23.17   24.69  015

          대한항공                             상대전적        한국전력   시즌
0          NaN               VS 구단 선택 대한항공 한국전력         NaN  015
1  1위(25승 11패)  * 상대전적 : 87승 21패 * 시즌전적 : 6승 0패  7위(4승 32패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간   승패   시즌    홈팀
0       6  2018.10.19  한국전력   3:1  102   84  1h 55m  win  015  대한항공
1      40  2018.11.08  한국전력   3:2  107  103  2h 10m  win  015  대한항공
2     103  2018.12.22  한국전력   3:1   97   74  1h 41m  win  015  대한항공
3     110  2018.12.25  한국전력   3:2  111   92  2h 12m  win  015  대한항공
4     172  2019.02.10  한국전력   3:2  106  100  2h 11m  win  015  대한항공
5     204  2019.03.03  한국전력   3:1   99   91  2h 06m  win  015  대한항공

      대한항공             VS     한국전력            시즌
      시즌평균   Vs 상대     구분    Vs 상대     시즌평균
0    94.92  103.67     득점    90.67    81.03  015
1   51.92%  54.15%     공격   48.11%   46.46%  015
2   43.14%  41.01%   오픈공격   37.13%   38.97%  015
3   63.04%  76.92%  시간차공격   46.67%   55.66%  015
4   50.00%     NaN   이동공격  100.00%  100.00%  015
5   49.54%  49.66%   후위공격   49.67%   47.34%  015
6   62.76%  67.06%     속공   58.11%   51.74%  015
7   56.75%  60.92%    퀵오픈   57.96%   52.43%  015
8     1.49    1.52     서브     0.70     0.71  015
9     2.57    2.81    블로킹     1.52     1.73  015
10    9.17    8.85     디그     8.07     9.13  015
11   12.09   12.85     세트    11.07    11.40  015
12    8.19    9.07    리시브     5.74     7.65  015
13    0.00    0.00     벌칙     0.00     0.00  015
14   26.67   29.67     범실    24.17    21.61  015

          대한항공                             상대전적       OK금융그룹   시즌
0          NaN             VS 구단 선택 대한항공 OK금융그룹          NaN  015
1  1위(25승 11패)  * 상대전적 : 34승 18패 * 시즌전적 : 2승 4패  5위(17승 19패)  015

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      31  2018.11.03  OK금융그룹   2:3   96  113  2h 04m  lose  015  대한항공
1      44  2018.11.11  OK금융그룹   3:0   75   60  1h 22m   win  015  대한항공
2      95  2018.12.16  OK금융그룹   1:3   93   96  1h 53m  lose  015  대한항공
3     139  2019.01.14  OK금융그룹   2:3  109  102  2h 10m  lose  015  대한항공
4     153  2019.01.29  OK금융그룹   3:1   91   87  1h 47m   win  015  대한항공
5     216  2019.03.11  OK금융그룹   2:3   87  106  1h 46m  lose  015  대한항공

      대한항공             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    94.92   91.83     득점   94.00   85.08  015
1   51.92%  51.44%     공격  52.24%  51.60%  015
2   43.14%  45.03%   오픈공격  51.55%  43.34%  015
3   63.04%  71.43%  시간차공격  53.33%  53.13%  015
4   50.00%     NaN   이동공격     NaN   0.00%  015
5   49.54%  42.96%   후위공격  50.68%  53.94%  015
6   62.76%  63.10%     속공  50.77%  55.24%  015
7   56.75%  57.06%    퀵오픈  55.65%  59.76%  015
8     1.49    1.50     서브    1.65    1.72  015
9     2.57    2.31    블로킹    1.92    2.20  015
10    9.17    7.42     디그    7.31    7.77  015
11   12.09   10.46     세트   10.42   11.65  015
12    8.19    6.12    리시브    5.73    6.86  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   26.67   29.67     범실   27.50   27.39  015

          대한항공                             상대전적         우리카드   시즌
0          NaN               VS 구단 선택 대한항공 우리카드          NaN  015
1  1위(25승 11패)  * 상대전적 : 38승 19패 * 시즌전적 : 5승 1패  3위(20승 16패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      10  2018.10.22  우리카드   3:0   75   59  1h 19m   win  015  대한항공
1      71  2018.11.29  우리카드   2:3  112  109  2h 23m  lose  015  대한항공
2      85  2018.12.09  우리카드   3:2  102   98  2h 01m   win  015  대한항공
3     129  2019.01.07  우리카드   3:2  107  106  2h 16m   win  015  대한항공
4     166  2019.02.06  우리카드   3:0   75   62  1h 33m   win  015  대한항공
5     210  2019.03.07  우리카드   3:0   78   66  1h 28m   win  015  대한항공

      대한항공             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    94.92   91.50     득점   83.33   86.86  015
1   51.92%  50.65%     공격  47.52%  52.01%  015
2   43.14%  48.39%   오픈공격  45.28%  45.52%  015
3   63.04%  60.00%  시간차공격  57.14%  67.21%  015
4   50.00%   0.00%   이동공격     NaN   0.00%  015
5   49.54%  44.59%   후위공격  51.97%  55.77%  015
6   62.76%  60.24%     속공  43.10%  55.52%  015
7   56.75%  53.37%    퀵오픈  48.12%  57.27%  015
8     1.49    1.46     서브    0.71    1.22  015
9     2.57    2.46    블로킹    2.38    2.51  015
10    9.17    9.96     디그    9.17    8.83  015
11   12.09   12.58     세트   11.08   12.05  015
12    8.19    8.29    리시브    5.67    6.10  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   26.67   22.83     범실   23.50   21.28  015

          삼성화재                             상대전적         대한항공   시즌
0          NaN               VS 구단 선택 삼성화재 대한항공          NaN  015
1  4위(19승 17패)  * 상대전적 : 73승 52패 * 시즌전적 : 1승 5패  1위(25승 11패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      18  2018.10.27  대한항공   1:3   91  100  1h 54m  lose  015  삼성화재
1      64  2018.11.25  대한항공   0:3   56   75  1h 19m  lose  015  삼성화재
2      81  2018.12.06  대한항공   3:1   92   92  1h 57m   win  015  삼성화재
3     124  2019.01.04  대한항공   2:3  107  112  2h 17m  lose  015  삼성화재
4     180  2019.02.15  대한항공   2:3  101  105  2h 09m  lose  015  삼성화재
5     190  2019.02.22  대한항공   1:3   77   94  1h 50m  lose  015  삼성화재

      삼성화재             VS     대한항공           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    89.33   87.33     득점    96.33   94.92  015
1   54.25%  50.34%     공격   50.32%  51.92%  015
2   51.48%  49.64%   오픈공격   45.36%  43.14%  015
3   70.18%  66.67%  시간차공격   66.67%  63.04%  015
4   68.75%   0.00%   이동공격  100.00%  50.00%  015
5   56.49%  51.59%   후위공격   48.25%  49.54%  015
6   49.61%  45.31%     속공   52.58%  62.76%  015
7   60.20%  52.94%    퀵오픈   54.69%  56.75%  015
8     0.95    0.80     서브     1.96    1.49  015
9     2.42    2.52    블로킹     2.60    2.57  015
10    8.35    8.52     디그     9.84    9.17  015
11   12.43   11.48     세트    11.84   12.09  015
12    7.57    6.96    리시브     9.36    8.19  015
13    0.00    0.00     벌칙     0.00    0.00  015
14   24.78   25.00     범실    23.17   26.67  015

          삼성화재                             상대전적       KB손해보험   시즌
0          NaN             VS 구단 선택 삼성화재 KB손해보험          NaN  015
1  4위(19승 17패)  * 상대전적 : 85승 30패 * 시즌전적 : 5승 1패  6위(16승 20패)  015

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      30  2018.11.02  KB손해보험   3:2  112  105  2h 19m   win  015  삼성화재
1      42  2018.11.10  KB손해보험   3:0   80   63  1h 26m   win  015  삼성화재
2      93  2018.12.15  KB손해보험   3:2  113   99  2h 10m   win  015  삼성화재
3     130  2019.01.08  KB손해보험   3:1  104   82  1h 53m   win  015  삼성화재
4     169  2019.02.08  KB손해보험   1:3   87   98  1h 53m  lose  015  삼성화재
5     212  2019.03.09  KB손해보험   3:0   77   71  1h 29m   win  015  삼성화재

      삼성화재             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.33   95.50     득점   86.33   89.33  015
1   54.25%  56.03%     공격  47.56%  49.89%  015
2   51.48%  52.83%   오픈공격  39.47%  42.19%  015
3   70.18%  68.75%  시간차공격  61.90%  67.27%  015
4   68.75%  77.78%   이동공격     NaN  33.33%  015
5   56.49%  53.16%   후위공격  48.50%  50.72%  015
6   49.61%  52.70%     속공  57.33%  59.12%  015
7   60.20%  73.13%    퀵오픈  49.69%  53.69%  015
8     0.95    1.29     서브    0.96    1.25  015
9     2.42    2.46    블로킹    2.17    1.96  015
10    8.35    8.63     디그    8.63    9.03  015
11   12.43   13.13     세트   11.50   12.06  015
12    7.57    8.04    리시브    8.29    7.54  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   24.78   25.17     범실   25.33   26.81  015

          삼성화재                             상대전적        현대캐피탈   시즌
0          NaN              VS 구단 선택 삼성화재 현대캐피탈          NaN  015
1  4위(19승 17패)  * 상대전적 : 79승 61패 * 시즌전적 : 2승 4패  2위(25승 11패)  015

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       7  2018.10.20  현대캐피탈   1:3   89   98  1h 59m  lose  015  삼성화재
1      47  2018.11.13  현대캐피탈   3:2  103  104  2h 13m   win  015  삼성화재
2     102  2018.12.21  현대캐피탈   1:3   99  101  2h 00m  lose  015  삼성화재
3     112  2018.12.27  현대캐피탈   3:1  102   96  2h 07m   win  015  삼성화재
4     156  2019.01.31  현대캐피탈   0:3   64   77  1h 25m  lose  015  삼성화재
5     196  2019.02.26  현대캐피탈   1:3   77   99  1h 50m  lose  015  삼성화재

      삼성화재             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.33   89.00     득점   95.83   90.14  015
1   54.25%  50.86%     공격  52.63%  51.28%  015
2   51.48%  49.12%   오픈공격  42.66%  41.95%  015
3   70.18%  57.14%  시간차공격  62.50%  59.32%  015
4   68.75%  50.00%   이동공격     NaN   0.00%  015
5   56.49%  50.67%   후위공격  55.47%  53.37%  015
6   49.61%  46.15%     속공  63.16%  58.20%  015
7   60.20%  61.33%    퀵오픈  58.68%  58.66%  015
8     0.95    0.88     서브    2.13    1.84  015
9     2.42    2.00    블로킹    2.67    2.66  015
10    8.35    8.21     디그    8.00    8.36  015
11   12.43   11.58     세트   12.13   11.78  015
12    7.57    6.67    리시브    8.08    7.66  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   24.78   26.50     범실   28.17   24.69  015

          삼성화재                             상대전적        한국전력   시즌
0          NaN               VS 구단 선택 삼성화재 한국전력         NaN  015
1  4위(19승 17패)  * 상대전적 : 82승 26패 * 시즌전적 : 6승 0패  7위(4승 32패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간   승패   시즌    홈팀
0      12  2018.10.23  한국전력   3:1   98   89  1h 53m  win  015  삼성화재
1      54  2018.11.18  한국전력   3:2  111  102  2h 19m  win  015  삼성화재
2      87  2018.12.10  한국전력   3:1  101  100  2h 00m  win  015  삼성화재
3     140  2019.01.15  한국전력   3:0   75   63  1h 26m  win  015  삼성화재
4     162  2019.02.04  한국전력   3:0   76   63  1h 23m  win  015  삼성화재
5     186  2019.02.19  한국전력   3:0   75   58  1h 29m  win  015  삼성화재

      삼성화재             VS     한국전력            시즌
      시즌평균   Vs 상대     구분    Vs 상대     시즌평균
0    89.33   89.33     득점    79.17    81.03  015
1   54.25%  57.37%     공격   45.66%   46.46%  015
2   51.48%  53.21%   오픈공격   38.68%   38.97%  015
3   70.18%  75.00%  시간차공격   59.09%   55.66%  015
4   68.75%     NaN   이동공격  100.00%  100.00%  015
5   56.49%  63.19%   후위공격   46.53%   47.34%  015
6   49.61%  56.90%     속공   55.00%   51.74%  015
7   60.20%  58.33%    퀵오픈   47.24%   52.43%  015
8     0.95    0.95     서브     1.00     0.71  015
9     2.42    2.91    블로킹     1.64     1.73  015
10    8.35    9.50     디그    10.77     9.13  015
11   12.43   13.77     세트    12.64    11.40  015
12    7.57    8.50    리시브     8.86     7.65  015
13    0.00    0.00     벌칙     0.00     0.00  015
14   24.78   22.00     범실    21.33    21.61  015

          삼성화재                             상대전적       OK금융그룹   시즌
0          NaN             VS 구단 선택 삼성화재 OK금융그룹          NaN  015
1  4위(19승 17패)  * 상대전적 : 24승 33패 * 시즌전적 : 2승 4패  5위(17승 19패)  015

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      24  2018.10.30  OK금융그룹   0:3   74   83  1h 31m  lose  015  삼성화재
1      37  2018.11.06  OK금융그룹   1:3   91  101  1h 56m  lose  015  삼성화재
2     108  2018.12.24  OK금융그룹   3:0   78   67  1h 24m   win  015  삼성화재
3     134  2019.01.11  OK금융그룹   0:3   66   78  1h 26m  lose  015  삼성화재
4     148  2019.01.26  OK금융그룹   2:3  103   99  1h 59m  lose  015  삼성화재
5     207  2019.03.05  OK금융그룹   3:1   94   78  1h 39m   win  015  삼성화재

      삼성화재              VS  OK금융그룹           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    89.33    84.33     득점   84.33   85.08  015
1   54.25%   56.08%     공격  53.01%  51.60%  015
2   51.48%   53.05%   오픈공격  40.28%  43.34%  015
3   70.18%   87.50%  시간차공격  55.56%  53.13%  015
4   68.75%  100.00%   이동공격     NaN   0.00%  015
5   56.49%   64.52%   후위공격  52.38%  53.94%  015
6   49.61%   40.35%     속공  64.79%  55.24%  015
7   60.20%   57.50%    퀵오픈  60.77%  59.76%  015
8     0.95     0.77     서브    1.77    1.72  015
9     2.42     2.36    블로킹    2.41    2.20  015
10    8.35     6.50     디그    6.45    7.77  015
11   12.43    11.64     세트   11.64   11.65  015
12    7.57     6.77    리시브    7.55    6.86  015
13    0.00     0.00     벌칙    0.00    0.00  015
14   24.78    25.00     범실   27.17   27.39  015

          삼성화재                             상대전적         우리카드   시즌
0          NaN               VS 구단 선택 삼성화재 우리카드          NaN  015
1  4위(19승 17패)  * 상대전적 : 32승 20패 * 시즌전적 : 3승 3패  3위(20승 16패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       2  2018.10.14  우리카드   3:1  111  106  2h 16m   win  015  삼성화재
1      60  2018.11.22  우리카드   3:2  104   99  2h 03m   win  015  삼성화재
2      75  2018.12.02  우리카드   1:3   91   91  1h 53m  lose  015  삼성화재
3     118  2018.12.31  우리카드   1:3   87   99  1h 49m  lose  015  삼성화재
4     175  2019.02.12  우리카드   1:3   75   98  1h 44m  lose  015  삼성화재
5     202  2019.03.02  우리카드   3:0   75   54  1h 18m   win  015  삼성화재

      삼성화재             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.33   90.50     득점   91.17   86.86  015
1   54.25%  55.25%     공격  51.89%  52.01%  015
2   51.48%  51.61%   오픈공격  43.58%  45.52%  015
3   70.18%  60.00%  시간차공격  62.50%  67.21%  015
4   68.75%   0.00%   이동공격     NaN   0.00%  015
5   56.49%  57.74%   후위공격  57.04%  55.77%  015
6   49.61%  55.07%     속공  53.73%  55.52%  015
7   60.20%  60.61%    퀵오픈  57.79%  57.27%  015
8     0.95    1.00     서브    1.67    1.22  015
9     2.42    2.29    블로킹    2.29    2.51  015
10    8.35    8.71     디그    8.25    8.83  015
11   12.43   13.08     세트   12.17   12.05  015
12    7.57    8.50    리시브    7.13    6.10  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   24.78   25.00     범실   23.00   21.28  015

        KB손해보험                             상대전적         대한항공   시즌
0          NaN             VS 구단 선택 KB손해보험 대한항공          NaN  015
1  6위(16승 20패)  * 상대전적 : 39승 71패 * 시즌전적 : 2승 4패  1위(25승 11패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       4  2018.10.16  대한항공   0:3   66   78  1h 27m  lose  015  KB손해보험
1      56  2018.11.19  대한항공   1:3   86   97  1h 55m  lose  015  KB손해보험
2      77  2018.12.03  대한항공   1:3   94  103  2h 06m  lose  015  KB손해보험
3     114  2018.12.29  대한항공   3:2  100  107  2h 14m   win  015  KB손해보험
4     147  2019.01.25  대한항공   3:2  103  112  2h 17m   win  015  KB손해보험
5     195  2019.02.25  대한항공   1:3   89  100  2h 04m  lose  015  KB손해보험

    KB손해보험             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.33   89.67     득점   99.50   94.92  015
1   49.89%  46.95%     공격  53.07%  51.92%  015
2   42.19%  42.33%   오픈공격  40.58%  43.14%  015
3   67.27%  28.57%  시간차공격  33.33%  63.04%  015
4   33.33%   0.00%   이동공격     NaN  50.00%  015
5   50.72%  50.82%   후위공격  59.70%  49.54%  015
6   59.12%  46.27%     속공  68.32%  62.76%  015
7   53.69%  50.34%    퀵오픈  54.71%  56.75%  015
8     1.25    0.76     서브    1.28    1.49  015
9     1.96    1.68    블로킹    2.80    2.57  015
10    9.03    8.60     디그    9.56    9.17  015
11   12.06   11.24     세트   12.68   12.09  015
12    7.54    7.72    리시브    8.48    8.19  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   26.81   27.83     범실   30.83   26.67  015

        KB손해보험                             상대전적         삼성화재   시즌
0          NaN             VS 구단 선택 KB손해보험 삼성화재          NaN  015
1  6위(16승 20패)  * 상대전적 : 30승 85패 * 시즌전적 : 1승 5패  4위(19승 17패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      30  2018.11.02  삼성화재   2:3  105  112  2h 19m  lose  015  KB손해보험
1      42  2018.11.10  삼성화재   0:3   63   80  1h 26m  lose  015  KB손해보험
2      93  2018.12.15  삼성화재   2:3   99  113  2h 10m  lose  015  KB손해보험
3     130  2019.01.08  삼성화재   1:3   82  104  1h 53m  lose  015  KB손해보험
4     169  2019.02.08  삼성화재   3:1   98   87  1h 53m   win  015  KB손해보험
5     212  2019.03.09  삼성화재   0:3   71   77  1h 29m  lose  015  KB손해보험

    KB손해보험             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.33   86.33     득점   95.50   89.33  015
1   49.89%  47.56%     공격  56.03%  54.25%  015
2   42.19%  39.47%   오픈공격  52.83%  51.48%  015
3   67.27%  61.90%  시간차공격  68.75%  70.18%  015
4   33.33%     NaN   이동공격  77.78%  68.75%  015
5   50.72%  48.50%   후위공격  53.16%  56.49%  015
6   59.12%  57.33%     속공  52.70%  49.61%  015
7   53.69%  49.69%    퀵오픈  73.13%  60.20%  015
8     1.25    0.96     서브    1.29    0.95  015
9     1.96    2.17    블로킹    2.46    2.42  015
10    9.03    8.63     디그    8.63    8.35  015
11   12.06   11.50     세트   13.13   12.43  015
12    7.54    8.29    리시브    8.04    7.57  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   26.81   25.33     범실   25.17   24.78  015

        KB손해보험                             상대전적        현대캐피탈   시즌
0          NaN            VS 구단 선택 KB손해보험 현대캐피탈          NaN  015
1  6위(16승 20패)  * 상대전적 : 27승 81패 * 시즌전적 : 2승 4패  2위(25승 11패)  015

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      36  2018.11.05  현대캐피탈   0:3   61   78  1h 28m  lose  015  KB손해보험
1      61  2018.11.23  현대캐피탈   2:3  111  114  2h 27m  lose  015  KB손해보험
2      83  2018.12.08  현대캐피탈   0:3   57   75  1h 22m  lose  015  KB손해보험
3     137  2019.01.13  현대캐피탈   1:3  104  108  2h 12m  lose  015  KB손해보험
4     174  2019.02.11  현대캐피탈   3:1   98   89  1h 56m   win  015  KB손해보험
5     206  2019.03.04  현대캐피탈   3:2  122  119  2h 34m   win  015  KB손해보험

    KB손해보험             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.33   92.17     득점   97.17   90.14  015
1   49.89%  52.88%     공격  53.46%  51.28%  015
2   42.19%  39.91%   오픈공격  42.23%  41.95%  015
3   67.27%  80.95%  시간차공격  50.00%  59.32%  015
4   33.33%     NaN   이동공격     NaN   0.00%  015
5   50.72%  56.61%   후위공격  59.15%  53.37%  015
6   59.12%  64.71%     속공  65.18%  58.20%  015
7   53.69%  60.00%    퀵오픈  55.26%  58.66%  015
8     1.25    1.38     서브    1.83    1.84  015
9     1.96    1.50    블로킹    2.21    2.66  015
10    9.03    9.29     디그    8.33    8.36  015
11   12.06   13.50     세트   12.46   11.78  015
12    7.54    6.50    리시브    8.08    7.66  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   26.81   29.33     범실   25.33   24.69  015

        KB손해보험                             상대전적        한국전력   시즌
0          NaN             VS 구단 선택 KB손해보험 한국전력         NaN  015
1  6위(16승 20패)  * 상대전적 : 67승 41패 * 시즌전적 : 5승 1패  7위(4승 32패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      20  2018.10.28  한국전력   3:1   97   81  1h 51m   win  015  KB손해보험
1      50  2018.11.15  한국전력   3:1   93   79  1h 46m   win  015  KB손해보험
2      98  2018.12.18  한국전력   2:3  100  112  2h 16m  lose  015  KB손해보험
3     125  2019.01.05  한국전력   3:2  110  104  2h 18m   win  015  KB손해보험
4     152  2019.01.28  한국전력   3:2  104   98  2h 09m   win  015  KB손해보험
5     199  2019.02.28  한국전력   3:1   97   81  1h 46m   win  015  KB손해보험

    KB손해보험              VS    한국전력            시즌
      시즌평균    Vs 상대     구분   Vs 상대     시즌평균
0    89.33   100.17     득점   92.50    81.03  015
1   49.89%   51.97%     공격  45.45%   46.46%  015
2   42.19%   43.33%   오픈공격  38.03%   38.97%  015
3   67.27%   75.86%  시간차공격  57.14%   55.66%  015
4   33.33%  100.00%   이동공격     NaN  100.00%  015
5   50.72%   49.47%   후위공격  45.04%   47.34%  015
6   59.12%   66.18%     속공  47.73%   51.74%  015
7   53.69%   57.32%    퀵오픈  53.14%   52.43%  015
8     1.25     1.22     서브    0.67     0.71  015
9     1.96     2.67    블로킹    2.04     1.73  015
10    9.03     9.59     디그    8.85     9.13  015
11   12.06    12.63     세트   10.48    11.40  015
12    7.54     9.00    리시브    8.00     7.65  015
13    0.00     0.00     벌칙    0.00     0.00  015
14   26.81    30.83     범실   23.00    21.61  015

        KB손해보험                             상대전적       OK금융그룹   시즌
0          NaN           VS 구단 선택 KB손해보험 OK금융그룹          NaN  015
1  6위(16승 20패)  * 상대전적 : 26승 28패 * 시즌전적 : 4승 2패  5위(17승 19패)  015

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       8  2018.10.21  OK금융그룹   1:3   81   92  1h 46m  lose  015  KB손해보험
1      72  2018.11.30  OK금융그룹   1:3   82   91  1h 50m  lose  015  KB손해보험
2      88  2018.12.11  OK금융그룹   3:1  107  103  2h 05m   win  015  KB손해보험
3     119  2019.01.01  OK금융그룹   3:0   75   61  1h 23m   win  015  KB손해보험
4     164  2019.02.05  OK금융그룹   3:0   79   68  1h 28m   win  015  KB손해보험
5     183  2019.02.17  OK금융그룹   3:2  104  111  2h 20m   win  015  KB손해보험

    KB손해보험             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.33   88.00     득점   87.67   85.08  015
1   49.89%  52.72%     공격  52.28%  51.60%  015
2   42.19%  43.78%   오픈공격  39.05%  43.34%  015
3   67.27%  66.67%  시간차공격  36.36%  53.13%  015
4   33.33%     NaN   이동공격   0.00%   0.00%  015
5   50.72%  55.56%   후위공격  59.15%  53.94%  015
6   59.12%  62.90%     속공  56.92%  55.24%  015
7   53.69%  56.76%    퀵오픈  66.67%  59.76%  015
8     1.25    1.48     서브    2.22    1.72  015
9     1.96    1.61    블로킹    1.74    2.20  015
10    9.03    9.00     디그    7.96    7.77  015
11   12.06   11.35     세트   11.96   11.65  015
12    7.54    4.83    리시브    6.09    6.86  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   26.81   24.50     범실   31.00   27.39  015

        KB손해보험                             상대전적         우리카드   시즌
0          NaN             VS 구단 선택 KB손해보험 우리카드          NaN  015
1  6위(16승 20패)  * 상대전적 : 24승 29패 * 시즌전적 : 2승 4패  3위(20승 16패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점  실점    경기시간    승패   시즌      홈팀
0      15  2018.10.25  우리카드   3:1  106  86  2h 03m   win  015  KB손해보험
1      66  2018.11.26  우리카드   0:3   67  77  1h 33m  lose  015  KB손해보험
2     105  2018.12.23  우리카드   1:3   81  96  1h 52m  lose  015  KB손해보험
3     143  2019.01.17  우리카드   0:3   65  77  1h 27m  lose  015  KB손해보험
4     158  2019.02.02  우리카드   0:3   63  77  1h 28m  lose  015  KB손해보험
5     189  2019.02.21  우리카드   3:1   96  86  1h 50m   win  015  KB손해보험

    KB손해보험             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.33   79.67     득점   83.17   86.86  015
1   49.89%  47.24%     공격  53.98%  52.01%  015
2   42.19%  44.50%   오픈공격  50.42%  45.52%  015
3   67.27%  60.00%  시간차공격  75.00%  67.21%  015
4   33.33%   0.00%   이동공격     NaN   0.00%  015
5   50.72%  43.29%   후위공격  54.78%  55.77%  015
6   59.12%  57.75%     속공  64.41%  55.52%  015
7   53.69%  49.12%    퀵오픈  51.76%  57.27%  015
8     1.25    1.81     서브    1.19    1.22  015
9     1.96    2.05    블로킹    2.76    2.51  015
10    9.03    9.00     디그    8.90    8.83  015
11   12.06   12.10     세트   12.57   12.05  015
12    7.54    8.76    리시브    4.95    6.10  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   26.81   23.00     범실   21.67   21.28  015

         현대캐피탈                             상대전적         대한항공   시즌
0          NaN              VS 구단 선택 현대캐피탈 대한항공          NaN  015
1  2위(25승 11패)  * 상대전적 : 71승 64패 * 시즌전적 : 6승 3패  1위(25승 11패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0       1  2018.10.13  대한항공   3:0   75   64  1h 21m   win  015  현대캐피탈
1      51  2018.11.16  대한항공   1:3   85   94  1h 48m  lose  015  현대캐피탈
2      91  2018.12.13  대한항공   1:3   90   94  1h 53m  lose  015  현대캐피탈
3     133  2019.01.10  대한항공   3:1  101   85  1h 58m   win  015  현대캐피탈
4     160  2019.02.03  대한항공   3:2   97  105  2h 08m   win  015  현대캐피탈
5     185  2019.02.18  대한항공   0:3   65   78  1h 32m  lose  015  현대캐피탈
6     223  2019.03.22  대한항공   3:2  118  107  2h 29m   win  015  현대캐피탈
7     225  2019.03.24  대한항공   3:2  101  110  2h 24m   win  015  현대캐피탈
8     227  2019.03.26  대한항공   3:1  105   91  2h 11m   win  015  현대캐피탈

     현대캐피탈             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.14   85.50     득점   86.67   94.92  015
1   51.28%  50.18%     공격  51.66%  51.92%  015
2   41.95%  42.78%   오픈공격  39.15%  43.14%  015
3   59.32%  25.00%  시간차공격  55.56%  63.04%  015
4    0.00%     NaN   이동공격     NaN  50.00%  015
5   53.37%  51.28%   후위공격  52.26%  49.54%  015
6   58.20%  47.87%     속공  65.52%  62.76%  015
7   58.66%  65.45%    퀵오픈  59.40%  56.75%  015
8     1.84    1.39     서브    1.17    1.49  015
9     2.66    2.43    블로킹    2.43    2.57  015
10    8.36    8.57     디그    9.57    9.17  015
11   11.78   11.57     세트   12.17   12.09  015
12    7.66    7.13    리시브    7.78    8.19  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   24.69   23.17     범실   23.83   26.67  015

         현대캐피탈                             상대전적         삼성화재   시즌
0          NaN              VS 구단 선택 현대캐피탈 삼성화재          NaN  015
1  2위(25승 11패)  * 상대전적 : 61승 79패 * 시즌전적 : 4승 2패  4위(19승 17패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0       7  2018.10.20  삼성화재   3:1   98   89  1h 59m   win  015  현대캐피탈
1      47  2018.11.13  삼성화재   2:3  104  103  2h 13m  lose  015  현대캐피탈
2     102  2018.12.21  삼성화재   3:1  101   99  2h 00m   win  015  현대캐피탈
3     112  2018.12.27  삼성화재   1:3   96  102  2h 07m  lose  015  현대캐피탈
4     156  2019.01.31  삼성화재   3:0   77   64  1h 25m   win  015  현대캐피탈
5     196  2019.02.26  삼성화재   3:1   99   77  1h 50m   win  015  현대캐피탈

     현대캐피탈             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.14   95.83     득점   89.00   89.33  015
1   51.28%  52.63%     공격  50.86%  54.25%  015
2   41.95%  42.66%   오픈공격  49.12%  51.48%  015
3   59.32%  62.50%  시간차공격  57.14%  70.18%  015
4    0.00%     NaN   이동공격  50.00%  68.75%  015
5   53.37%  55.47%   후위공격  50.67%  56.49%  015
6   58.20%  63.16%     속공  46.15%  49.61%  015
7   58.66%  58.68%    퀵오픈  61.33%  60.20%  015
8     1.84    2.13     서브    0.88    0.95  015
9     2.66    2.67    블로킹    2.00    2.42  015
10    8.36    8.00     디그    8.21    8.35  015
11   11.78   12.13     세트   11.58   12.43  015
12    7.66    8.08    리시브    6.67    7.57  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   24.69   28.17     범실   26.50   24.78  015

         현대캐피탈                             상대전적       KB손해보험   시즌
0          NaN            VS 구단 선택 현대캐피탈 KB손해보험          NaN  015
1  2위(25승 11패)  * 상대전적 : 81승 27패 * 시즌전적 : 4승 2패  6위(16승 20패)  015

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      36  2018.11.05  KB손해보험   3:0   78   61  1h 28m   win  015  현대캐피탈
1      61  2018.11.23  KB손해보험   3:2  114  111  2h 27m   win  015  현대캐피탈
2      83  2018.12.08  KB손해보험   3:0   75   57  1h 22m   win  015  현대캐피탈
3     137  2019.01.13  KB손해보험   3:1  108  104  2h 12m   win  015  현대캐피탈
4     174  2019.02.11  KB손해보험   1:3   89   98  1h 56m  lose  015  현대캐피탈
5     206  2019.03.04  KB손해보험   2:3  119  122  2h 34m  lose  015  현대캐피탈

     현대캐피탈             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.14   97.17     득점   92.17   89.33  015
1   51.28%  53.46%     공격  52.88%  49.89%  015
2   41.95%  42.23%   오픈공격  39.91%  42.19%  015
3   59.32%  50.00%  시간차공격  80.95%  67.27%  015
4    0.00%     NaN   이동공격     NaN  33.33%  015
5   53.37%  59.15%   후위공격  56.61%  50.72%  015
6   58.20%  65.18%     속공  64.71%  59.12%  015
7   58.66%  55.26%    퀵오픈  60.00%  53.69%  015
8     1.84    1.83     서브    1.38    1.25  015
9     2.66    2.21    블로킹    1.50    1.96  015
10    8.36    8.33     디그    9.29    9.03  015
11   11.78   12.46     세트   13.50   12.06  015
12    7.66    8.08    리시브    6.50    7.54  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   24.69   25.33     범실   29.33   26.81  015

         현대캐피탈                             상대전적        한국전력   시즌
0          NaN              VS 구단 선택 현대캐피탈 한국전력         NaN  015
1  2위(25승 11패)  * 상대전적 : 82승 30패 * 시즌전적 : 5승 1패  7위(4승 32패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      28  2018.11.01  한국전력   3:2  102   92  1h 58m   win  015  현대캐피탈
1      67  2018.11.27  한국전력   3:2  113  107  2h 17m   win  015  현대캐피탈
2      73  2018.12.01  한국전력   3:1   93   83  1h 46m   win  015  현대캐피탈
3     116  2018.12.30  한국전력   3:0   75   55  1h 21m   win  015  현대캐피탈
4     168  2019.02.07  한국전력   0:3   63   75  1h 24m  lose  015  현대캐피탈
5     191  2019.02.23  한국전력   3:0   78   63  1h 27m   win  015  현대캐피탈

     현대캐피탈             VS    한국전력            시즌
      시즌평균   Vs 상대     구분   Vs 상대     시즌평균
0    90.14   87.33     득점   79.17    81.03  015
1   51.28%  49.36%     공격  48.29%   46.46%  015
2   41.95%  43.75%   오픈공격  39.83%   38.97%  015
3   59.32%  84.62%  시간차공격  66.67%   55.66%  015
4    0.00%     NaN   이동공격     NaN  100.00%  015
5   53.37%  44.52%   후위공격  50.37%   47.34%  015
6   58.20%  52.94%     속공  44.62%   51.74%  015
7   58.66%  56.69%    퀵오픈  60.28%   52.43%  015
8     1.84    1.83     서브    0.74     0.71  015
9     2.66    3.22    블로킹    1.78     1.73  015
10    8.36    8.65     디그    9.17     9.13  015
11   11.78   11.43     세트   11.43    11.40  015
12    7.66    8.74    리시브    6.09     7.65  015
13    0.00    0.00     벌칙    0.00     0.00  015
14   24.69   22.33     범실   22.67    21.61  015

         현대캐피탈                             상대전적       OK금융그룹   시즌
0          NaN            VS 구단 선택 현대캐피탈 OK금융그룹          NaN  015
1  2위(25승 11패)  * 상대전적 : 39승 17패 * 시즌전적 : 6승 0패  5위(17승 19패)  015

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간   승패   시즌     홈팀
0      17  2018.10.26  OK금융그룹   3:0   79   63  1h 27m  win  015  현대캐피탈
1      57  2018.11.20  OK금융그룹   3:2  110   98  2h 09m  win  015  현대캐피탈
2      78  2018.12.04  OK금융그룹   3:0   75   63  1h 24m  win  015  현대캐피탈
3     127  2019.01.06  OK금융그룹   3:2  116  113  2h 27m  win  015  현대캐피탈
4     179  2019.02.14  OK금융그룹   3:0   78   65  1h 24m  win  015  현대캐피탈
5     200  2019.03.01  OK금융그룹   3:0   75   56  1h 18m  win  015  현대캐피탈

     현대캐피탈             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.14   88.83     득점   76.33   85.08  015
1   51.28%  52.18%     공격  43.73%  51.60%  015
2   41.95%  41.81%   오픈공격  37.10%  43.34%  015
3   59.32%  50.00%  시간차공격  53.33%  53.13%  015
4    0.00%     NaN   이동공격     NaN   0.00%  015
5   53.37%  56.03%   후위공격  44.70%  53.94%  015
6   58.20%  63.89%     속공  49.25%  55.24%  015
7   58.66%  57.69%    퀵오픈  51.40%  59.76%  015
8     1.84    1.91     서브    1.45    1.72  015
9     2.66    3.23    블로킹    1.86    2.20  015
10    8.36    7.82     디그    7.95    7.77  015
11   11.78   11.09     세트   10.27   11.65  015
12    7.66    6.59    리시브    5.55    6.86  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   24.69   24.67     범실   27.83   27.39  015

         현대캐피탈                             상대전적         우리카드   시즌
0          NaN              VS 구단 선택 현대캐피탈 우리카드          NaN  015
1  2위(25승 11패)  * 상대전적 : 38승 17패 * 시즌전적 : 5승 3패  3위(20승 16패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      23  2018.10.29  우리카드   0:3   68   75  1h 28m  lose  015  현대캐피탈
1      41  2018.11.09  우리카드   3:2  117  101  2h 22m   win  015  현대캐피탈
2      97  2018.12.17  우리카드   3:0   75   46  1h 13m   win  015  현대캐피탈
3     123  2019.01.03  우리카드   3:2  106  103  2h 18m   win  015  현대캐피탈
4     150  2019.01.27  우리카드   0:3   63   75  1h 27m  lose  015  현대캐피탈
5     214  2019.03.10  우리카드   2:3   88  108  2h 01m  lose  015  현대캐피탈
6     218  2019.03.16  우리카드   3:2  109   97  2h 18m   win  015  현대캐피탈
7     220  2019.03.18  우리카드   3:0   82   64  1h 32m   win  015  현대캐피탈

     현대캐피탈             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.14   86.17     득점   84.67   86.86  015
1   51.28%  49.91%     공격  50.53%  52.01%  015
2   41.95%  38.91%   오픈공격  44.84%  45.52%  015
3   59.32%  64.29%  시간차공격  42.86%  67.21%  015
4    0.00%     NaN   이동공격     NaN   0.00%  015
5   53.37%  54.86%   후위공격  46.53%  55.77%  015
6   58.20%  55.67%     속공  51.72%  55.52%  015
7   58.66%  58.56%    퀵오픈  62.84%  57.27%  015
8     1.84    1.96     서브    1.33    1.22  015
9     2.66    2.25    블로킹    1.79    2.51  015
10    8.36    8.79     디그    8.88    8.83  015
11   11.78   11.92     세트   11.63   12.05  015
12    7.66    7.25    리시브    5.38    6.10  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   24.69   24.50     범실   20.50   21.28  015

         한국전력                             상대전적         대한항공   시즌
0         NaN               VS 구단 선택 한국전력 대한항공          NaN  015
1  7위(4승 32패)  * 상대전적 : 21승 87패 * 시즌전적 : 0승 6패  1위(25승 11패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       6  2018.10.19  대한항공   1:3   84  102  1h 55m  lose  015  한국전력
1      40  2018.11.08  대한항공   2:3  103  107  2h 10m  lose  015  한국전력
2     103  2018.12.22  대한항공   1:3   74   97  1h 41m  lose  015  한국전력
3     110  2018.12.25  대한항공   2:3   92  111  2h 12m  lose  015  한국전력
4     172  2019.02.10  대한항공   2:3  100  106  2h 11m  lose  015  한국전력
5     204  2019.03.03  대한항공   1:3   91   99  2h 06m  lose  015  한국전력

       한국전력              VS    대한항공           시즌
       시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0     81.03    90.67     득점  103.67   94.92  015
1    46.46%   48.11%     공격  54.15%  51.92%  015
2    38.97%   37.13%   오픈공격  41.01%  43.14%  015
3    55.66%   46.67%  시간차공격  76.92%  63.04%  015
4   100.00%  100.00%   이동공격     NaN  50.00%  015
5    47.34%   49.67%   후위공격  49.66%  49.54%  015
6    51.74%   58.11%     속공  67.06%  62.76%  015
7    52.43%   57.96%    퀵오픈  60.92%  56.75%  015
8      0.71     0.70     서브    1.52    1.49  015
9      1.73     1.52    블로킹    2.81    2.57  015
10     9.13     8.07     디그    8.85    9.17  015
11    11.40    11.07     세트   12.85   12.09  015
12     7.65     5.74    리시브    9.07    8.19  015
13     0.00     0.00     벌칙    0.00    0.00  015
14    21.61    24.17     범실   29.67   26.67  015

         한국전력                             상대전적         삼성화재   시즌
0         NaN               VS 구단 선택 한국전력 삼성화재          NaN  015
1  7위(4승 32패)  * 상대전적 : 26승 82패 * 시즌전적 : 0승 6패  4위(19승 17패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      12  2018.10.23  삼성화재   1:3   89   98  1h 53m  lose  015  한국전력
1      54  2018.11.18  삼성화재   2:3  102  111  2h 19m  lose  015  한국전력
2      87  2018.12.10  삼성화재   1:3  100  101  2h 00m  lose  015  한국전력
3     140  2019.01.15  삼성화재   0:3   63   75  1h 26m  lose  015  한국전력
4     162  2019.02.04  삼성화재   0:3   63   76  1h 23m  lose  015  한국전력
5     186  2019.02.19  삼성화재   0:3   58   75  1h 29m  lose  015  한국전력

       한국전력              VS    삼성화재           시즌
       시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0     81.03    79.17     득점   89.33   89.33  015
1    46.46%   45.66%     공격  57.37%  54.25%  015
2    38.97%   38.68%   오픈공격  53.21%  51.48%  015
3    55.66%   59.09%  시간차공격  75.00%  70.18%  015
4   100.00%  100.00%   이동공격     NaN  68.75%  015
5    47.34%   46.53%   후위공격  63.19%  56.49%  015
6    51.74%   55.00%     속공  56.90%  49.61%  015
7    52.43%   47.24%    퀵오픈  58.33%  60.20%  015
8      0.71     1.00     서브    0.95    0.95  015
9      1.73     1.64    블로킹    2.91    2.42  015
10     9.13    10.77     디그    9.50    8.35  015
11    11.40    12.64     세트   13.77   12.43  015
12     7.65     8.86    리시브    8.50    7.57  015
13     0.00     0.00     벌칙    0.00    0.00  015
14    21.61    21.33     범실   22.00   24.78  015

         한국전력                             상대전적       KB손해보험   시즌
0         NaN             VS 구단 선택 한국전력 KB손해보험          NaN  015
1  7위(4승 32패)  * 상대전적 : 41승 67패 * 시즌전적 : 1승 5패  6위(16승 20패)  015

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      20  2018.10.28  KB손해보험   1:3   81   97  1h 51m  lose  015  한국전력
1      50  2018.11.15  KB손해보험   1:3   79   93  1h 46m  lose  015  한국전력
2      98  2018.12.18  KB손해보험   3:2  112  100  2h 16m   win  015  한국전력
3     125  2019.01.05  KB손해보험   2:3  104  110  2h 18m  lose  015  한국전력
4     152  2019.01.28  KB손해보험   2:3   98  104  2h 09m  lose  015  한국전력
5     199  2019.02.28  KB손해보험   1:3   81   97  1h 46m  lose  015  한국전력

       한국전력             VS   KB손해보험           시즌
       시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0     81.03   92.50     득점   100.17   89.33  015
1    46.46%  45.45%     공격   51.97%  49.89%  015
2    38.97%  38.03%   오픈공격   43.33%  42.19%  015
3    55.66%  57.14%  시간차공격   75.86%  67.27%  015
4   100.00%     NaN   이동공격  100.00%  33.33%  015
5    47.34%  45.04%   후위공격   49.47%  50.72%  015
6    51.74%  47.73%     속공   66.18%  59.12%  015
7    52.43%  53.14%    퀵오픈   57.32%  53.69%  015
8      0.71    0.67     서브     1.22    1.25  015
9      1.73    2.04    블로킹     2.67    1.96  015
10     9.13    8.85     디그     9.59    9.03  015
11    11.40   10.48     세트    12.63   12.06  015
12     7.65    8.00    리시브     9.00    7.54  015
13     0.00    0.00     벌칙     0.00    0.00  015
14    21.61   23.00     범실    30.83   26.81  015

         한국전력                             상대전적        현대캐피탈   시즌
0         NaN              VS 구단 선택 한국전력 현대캐피탈          NaN  015
1  7위(4승 32패)  * 상대전적 : 30승 82패 * 시즌전적 : 1승 5패  2위(25승 11패)  015

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      28  2018.11.01  현대캐피탈   2:3   92  102  1h 58m  lose  015  한국전력
1      67  2018.11.27  현대캐피탈   2:3  107  113  2h 17m  lose  015  한국전력
2      73  2018.12.01  현대캐피탈   1:3   83   93  1h 46m  lose  015  한국전력
3     116  2018.12.30  현대캐피탈   0:3   55   75  1h 21m  lose  015  한국전력
4     168  2019.02.07  현대캐피탈   3:0   75   63  1h 24m   win  015  한국전력
5     191  2019.02.23  현대캐피탈   0:3   63   78  1h 27m  lose  015  한국전력

       한국전력             VS   현대캐피탈           시즌
       시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0     81.03   79.17     득점   87.33   90.14  015
1    46.46%  48.29%     공격  49.36%  51.28%  015
2    38.97%  39.83%   오픈공격  43.75%  41.95%  015
3    55.66%  66.67%  시간차공격  84.62%  59.32%  015
4   100.00%     NaN   이동공격     NaN   0.00%  015
5    47.34%  50.37%   후위공격  44.52%  53.37%  015
6    51.74%  44.62%     속공  52.94%  58.20%  015
7    52.43%  60.28%    퀵오픈  56.69%  58.66%  015
8      0.71    0.74     서브    1.83    1.84  015
9      1.73    1.78    블로킹    3.22    2.66  015
10     9.13    9.17     디그    8.65    8.36  015
11    11.40   11.43     세트   11.43   11.78  015
12     7.65    6.09    리시브    8.74    7.66  015
13     0.00    0.00     벌칙    0.00    0.00  015
14    21.61   22.67     범실   22.33   24.69  015

         한국전력                             상대전적       OK금융그룹   시즌
0         NaN             VS 구단 선택 한국전력 OK금융그룹          NaN  015
1  7위(4승 32패)  * 상대전적 : 21승 34패 * 시즌전적 : 1승 5패  5위(17승 19패)  015

   경기 No.        경기일자     상대팀 세트스코어  득점   실점    경기시간    승패   시즌    홈팀
0       3  2018.10.15  OK금융그룹   1:3  95  103  2h 12m  lose  015  한국전력
1      62  2018.11.24  OK금융그룹   0:3  56   75  1h 15m  lose  015  한국전력
2      82  2018.12.07  OK금융그룹   0:3  50   75  1h 09m  lose  015  한국전력
3     144  2019.01.18  OK금융그룹   3:1  96   86  1h 48m   win  015  한국전력
4     157  2019.02.01  OK금융그룹   0:3  61   75  1h 22m  lose  015  한국전력
5     211  2019.03.08  OK금융그룹   0:3  56   75  1h 14m  lose  015  한국전력

       한국전력             VS  OK금융그룹           시즌
       시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0     81.03   69.00     득점   81.50   85.08  015
1    46.46%  45.34%     공격  58.13%  51.60%  015
2    38.97%  38.32%   오픈공격  51.69%  43.34%  015
3    55.66%  60.00%  시간차공격  62.07%  53.13%  015
4   100.00%     NaN   이동공격     NaN   0.00%  015
5    47.34%  41.67%   후위공격  66.33%  53.94%  015
6    51.74%  57.58%     속공  56.52%  55.24%  015
7    52.43%  48.78%    퀵오픈  60.77%  59.76%  015
8      0.71    0.55     서브    1.30    1.72  015
9      1.73    1.55    블로킹    3.25    2.20  015
10     9.13    7.80     디그    8.75    7.77  015
11    11.40   10.05     세트   13.75   11.65  015
12     7.65    7.75    리시브    9.25    6.86  015
13     0.00    0.00     벌칙    0.00    0.00  015
14    21.61   17.00     범실   26.33   27.39  015

         한국전력                             상대전적         우리카드   시즌
0         NaN               VS 구단 선택 한국전력 우리카드          NaN  015
1  7위(4승 32패)  * 상대전적 : 21승 32패 * 시즌전적 : 1승 5패  3위(20승 16패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      33  2018.11.04  우리카드   0:3   58   75  1h 21m  lose  015  한국전력
1      46  2018.11.12  우리카드   0:3   61   79  1h 29m  lose  015  한국전력
2      92  2018.12.14  우리카드   2:3  110  117  2h 23m  lose  015  한국전력
3     135  2019.01.12  우리카드   0:3   56   75  1h 18m  lose  015  한국전력
4     146  2019.01.24  우리카드   0:3   67   75  1h 27m  lose  015  한국전력
5     181  2019.02.16  우리카드   3:2  102  105  2h 20m   win  015  한국전력

       한국전력             VS    우리카드           시즌
       시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0     81.03   75.67     득점   87.67   86.86  015
1    46.46%  45.79%     공격  54.61%  52.01%  015
2    38.97%  41.78%   오픈공격  40.09%  45.52%  015
3    55.66%  43.75%  시간차공격  70.59%  67.21%  015
4   100.00%     NaN   이동공격     NaN   0.00%  015
5    47.34%  48.87%   후위공격  65.52%  55.77%  015
6    51.74%  48.28%     속공  67.92%  55.52%  015
7    52.43%  47.62%    퀵오픈  60.67%  57.27%  015
8      0.71    0.59     서브    0.82    1.22  015
9      1.73    1.82    블로킹    3.50    2.51  015
10     9.13   10.32     디그    9.50    8.83  015
11    11.40   12.86     세트   13.14   12.05  015
12     7.65    9.91    리시브    7.95    6.10  015
13     0.00    0.00     벌칙    0.00    0.00  015
14    21.61   21.50     범실   18.67   21.28  015

        OK금융그룹                             상대전적         대한항공   시즌
0          NaN             VS 구단 선택 OK금융그룹 대한항공          NaN  015
1  5위(17승 19패)  * 상대전적 : 18승 34패 * 시즌전적 : 4승 2패  1위(25승 11패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      31  2018.11.03  대한항공   3:2  113   96  2h 04m   win  015  OK금융그룹
1      44  2018.11.11  대한항공   0:3   60   75  1h 22m  lose  015  OK금융그룹
2      95  2018.12.16  대한항공   3:1   96   93  1h 53m   win  015  OK금융그룹
3     139  2019.01.14  대한항공   3:2  102  109  2h 10m   win  015  OK금융그룹
4     153  2019.01.29  대한항공   1:3   87   91  1h 47m  lose  015  OK금융그룹
5     216  2019.03.11  대한항공   3:2  106   87  1h 46m   win  015  OK금융그룹

    OK금융그룹             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.08   94.00     득점   91.83   94.92  015
1   51.60%  52.24%     공격  51.44%  51.92%  015
2   43.34%  51.55%   오픈공격  45.03%  43.14%  015
3   53.13%  53.33%  시간차공격  71.43%  63.04%  015
4    0.00%     NaN   이동공격     NaN  50.00%  015
5   53.94%  50.68%   후위공격  42.96%  49.54%  015
6   55.24%  50.77%     속공  63.10%  62.76%  015
7   59.76%  55.65%    퀵오픈  57.06%  56.75%  015
8     1.72    1.65     서브    1.50    1.49  015
9     2.20    1.92    블로킹    2.31    2.57  015
10    7.77    7.31     디그    7.42    9.17  015
11   11.65   10.42     세트   10.46   12.09  015
12    6.86    5.73    리시브    6.12    8.19  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   27.39   27.50     범실   29.67   26.67  015

        OK금융그룹                             상대전적         삼성화재   시즌
0          NaN             VS 구단 선택 OK금융그룹 삼성화재          NaN  015
1  5위(17승 19패)  * 상대전적 : 33승 24패 * 시즌전적 : 4승 2패  4위(19승 17패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      24  2018.10.30  삼성화재   3:0   83   74  1h 31m   win  015  OK금융그룹
1      37  2018.11.06  삼성화재   3:1  101   91  1h 56m   win  015  OK금융그룹
2     108  2018.12.24  삼성화재   0:3   67   78  1h 24m  lose  015  OK금융그룹
3     134  2019.01.11  삼성화재   3:0   78   66  1h 26m   win  015  OK금융그룹
4     148  2019.01.26  삼성화재   3:2   99  103  1h 59m   win  015  OK금융그룹
5     207  2019.03.05  삼성화재   1:3   78   94  1h 39m  lose  015  OK금융그룹

    OK금융그룹             VS     삼성화재           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    85.08   84.33     득점    84.33   89.33  015
1   51.60%  53.01%     공격   56.08%  54.25%  015
2   43.34%  40.28%   오픈공격   53.05%  51.48%  015
3   53.13%  55.56%  시간차공격   87.50%  70.18%  015
4    0.00%     NaN   이동공격  100.00%  68.75%  015
5   53.94%  52.38%   후위공격   64.52%  56.49%  015
6   55.24%  64.79%     속공   40.35%  49.61%  015
7   59.76%  60.77%    퀵오픈   57.50%  60.20%  015
8     1.72    1.77     서브     0.77    0.95  015
9     2.20    2.41    블로킹     2.36    2.42  015
10    7.77    6.45     디그     6.50    8.35  015
11   11.65   11.64     세트    11.64   12.43  015
12    6.86    7.55    리시브     6.77    7.57  015
13    0.00    0.00     벌칙     0.00    0.00  015
14   27.39   27.17     범실    25.00   24.78  015

        OK금융그룹                             상대전적       KB손해보험   시즌
0          NaN           VS 구단 선택 OK금융그룹 KB손해보험          NaN  015
1  5위(17승 19패)  * 상대전적 : 28승 26패 * 시즌전적 : 2승 4패  6위(16승 20패)  015

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       8  2018.10.21  KB손해보험   3:1   92   81  1h 46m   win  015  OK금융그룹
1      72  2018.11.30  KB손해보험   3:1   91   82  1h 50m   win  015  OK금융그룹
2      88  2018.12.11  KB손해보험   1:3  103  107  2h 05m  lose  015  OK금융그룹
3     119  2019.01.01  KB손해보험   0:3   61   75  1h 23m  lose  015  OK금융그룹
4     164  2019.02.05  KB손해보험   0:3   68   79  1h 28m  lose  015  OK금융그룹
5     183  2019.02.17  KB손해보험   2:3  111  104  2h 20m  lose  015  OK금융그룹

    OK금융그룹             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.08   87.67     득점   88.00   89.33  015
1   51.60%  52.28%     공격  52.72%  49.89%  015
2   43.34%  39.05%   오픈공격  43.78%  42.19%  015
3   53.13%  36.36%  시간차공격  66.67%  67.27%  015
4    0.00%   0.00%   이동공격     NaN  33.33%  015
5   53.94%  59.15%   후위공격  55.56%  50.72%  015
6   55.24%  56.92%     속공  62.90%  59.12%  015
7   59.76%  66.67%    퀵오픈  56.76%  53.69%  015
8     1.72    2.22     서브    1.48    1.25  015
9     2.20    1.74    블로킹    1.61    1.96  015
10    7.77    7.96     디그    9.00    9.03  015
11   11.65   11.96     세트   11.35   12.06  015
12    6.86    6.09    리시브    4.83    7.54  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   27.39   31.00     범실   24.50   26.81  015

        OK금융그룹                             상대전적        현대캐피탈   시즌
0          NaN            VS 구단 선택 OK금융그룹 현대캐피탈          NaN  015
1  5위(17승 19패)  * 상대전적 : 17승 39패 * 시즌전적 : 0승 6패  2위(25승 11패)  015

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      17  2018.10.26  현대캐피탈   0:3   63   79  1h 27m  lose  015  OK금융그룹
1      57  2018.11.20  현대캐피탈   2:3   98  110  2h 09m  lose  015  OK금융그룹
2      78  2018.12.04  현대캐피탈   0:3   63   75  1h 24m  lose  015  OK금융그룹
3     127  2019.01.06  현대캐피탈   2:3  113  116  2h 27m  lose  015  OK금융그룹
4     179  2019.02.14  현대캐피탈   0:3   65   78  1h 24m  lose  015  OK금융그룹
5     200  2019.03.01  현대캐피탈   0:3   56   75  1h 18m  lose  015  OK금융그룹

    OK금융그룹             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.08   76.33     득점   88.83   90.14  015
1   51.60%  43.73%     공격  52.18%  51.28%  015
2   43.34%  37.10%   오픈공격  41.81%  41.95%  015
3   53.13%  53.33%  시간차공격  50.00%  59.32%  015
4    0.00%     NaN   이동공격     NaN   0.00%  015
5   53.94%  44.70%   후위공격  56.03%  53.37%  015
6   55.24%  49.25%     속공  63.89%  58.20%  015
7   59.76%  51.40%    퀵오픈  57.69%  58.66%  015
8     1.72    1.45     서브    1.91    1.84  015
9     2.20    1.86    블로킹    3.23    2.66  015
10    7.77    7.95     디그    7.82    8.36  015
11   11.65   10.27     세트   11.09   11.78  015
12    6.86    5.55    리시브    6.59    7.66  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   27.39   27.83     범실   24.67   24.69  015

        OK금융그룹                             상대전적        한국전력   시즌
0          NaN             VS 구단 선택 OK금융그룹 한국전력         NaN  015
1  5위(17승 19패)  * 상대전적 : 34승 21패 * 시즌전적 : 5승 1패  7위(4승 32패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점  실점    경기시간    승패   시즌      홈팀
0       3  2018.10.15  한국전력   3:1  103  95  2h 12m   win  015  OK금융그룹
1      62  2018.11.24  한국전력   3:0   75  56  1h 15m   win  015  OK금융그룹
2      82  2018.12.07  한국전력   3:0   75  50  1h 09m   win  015  OK금융그룹
3     144  2019.01.18  한국전력   1:3   86  96  1h 48m  lose  015  OK금융그룹
4     157  2019.02.01  한국전력   3:0   75  61  1h 22m   win  015  OK금융그룹
5     211  2019.03.08  한국전력   3:0   75  56  1h 14m   win  015  OK금융그룹

    OK금융그룹             VS    한국전력            시즌
      시즌평균   Vs 상대     구분   Vs 상대     시즌평균
0    85.08   81.50     득점   69.00    81.03  015
1   51.60%  58.13%     공격  45.34%   46.46%  015
2   43.34%  51.69%   오픈공격  38.32%   38.97%  015
3   53.13%  62.07%  시간차공격  60.00%   55.66%  015
4    0.00%     NaN   이동공격     NaN  100.00%  015
5   53.94%  66.33%   후위공격  41.67%   47.34%  015
6   55.24%  56.52%     속공  57.58%   51.74%  015
7   59.76%  60.77%    퀵오픈  48.78%   52.43%  015
8     1.72    1.30     서브    0.55     0.71  015
9     2.20    3.25    블로킹    1.55     1.73  015
10    7.77    8.75     디그    7.80     9.13  015
11   11.65   13.75     세트   10.05    11.40  015
12    6.86    9.25    리시브    7.75     7.65  015
13    0.00    0.00     벌칙    0.00     0.00  015
14   27.39   26.33     범실   17.00    21.61  015

        OK금융그룹                             상대전적         우리카드   시즌
0          NaN             VS 구단 선택 OK금융그룹 우리카드          NaN  015
1  5위(17승 19패)  * 상대전적 : 26승 28패 * 시즌전적 : 2승 4패  3위(20승 16패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       5  2018.10.18  우리카드   3:1   98   84  1h 50m   win  015  OK금융그룹
1      52  2018.11.17  우리카드   1:3   87   99  1h 54m  lose  015  OK금융그룹
2     101  2018.12.20  우리카드   2:3  105  101  2h 10m  lose  015  OK금융그룹
3     113  2018.12.28  우리카드   0:3   52   75  1h 08m  lose  015  OK금융그룹
4     170  2019.02.09  우리카드   1:3   85   94  1h 45m  lose  015  OK금융그룹
5     193  2019.02.24  우리카드   3:1   93   94  1h 52m   win  015  OK금융그룹

    OK금융그룹             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.08   86.67     득점   91.17   86.86  015
1   51.60%  50.85%     공격  54.11%  52.01%  015
2   43.34%  41.63%   오픈공격  48.31%  45.52%  015
3   53.13%  43.75%  시간차공격  83.33%  67.21%  015
4    0.00%     NaN   이동공격     NaN   0.00%  015
5   53.94%  53.55%   후위공격  58.47%  55.77%  015
6   55.24%  53.01%     속공  53.45%  55.52%  015
7   59.76%  62.20%    퀵오픈  59.15%  57.27%  015
8     1.72    1.88     서브    1.54    1.22  015
9     2.20    2.21    블로킹    2.46    2.51  015
10    7.77    8.29     디그    8.38    8.83  015
11   11.65   12.21     세트   11.88   12.05  015
12    6.86    7.42    리시브    5.54    6.10  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   27.39   24.50     범실   20.33   21.28  015

          우리카드                             상대전적         대한항공   시즌
0          NaN               VS 구단 선택 우리카드 대한항공          NaN  015
1  3위(20승 16패)  * 상대전적 : 19승 38패 * 시즌전적 : 1승 5패  1위(25승 11패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      10  2018.10.22  대한항공   0:3   59   75  1h 19m  lose  015  우리카드
1      71  2018.11.29  대한항공   3:2  109  112  2h 23m   win  015  우리카드
2      85  2018.12.09  대한항공   2:3   98  102  2h 01m  lose  015  우리카드
3     129  2019.01.07  대한항공   2:3  106  107  2h 16m  lose  015  우리카드
4     166  2019.02.06  대한항공   0:3   62   75  1h 33m  lose  015  우리카드
5     210  2019.03.07  대한항공   0:3   66   78  1h 28m  lose  015  우리카드

      우리카드             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    86.86   83.33     득점   91.50   94.92  015
1   52.01%  47.52%     공격  50.65%  51.92%  015
2   45.52%  45.28%   오픈공격  48.39%  43.14%  015
3   67.21%  57.14%  시간차공격  60.00%  63.04%  015
4    0.00%     NaN   이동공격   0.00%  50.00%  015
5   55.77%  51.97%   후위공격  44.59%  49.54%  015
6   55.52%  43.10%     속공  60.24%  62.76%  015
7   57.27%  48.12%    퀵오픈  53.37%  56.75%  015
8     1.22    0.71     서브    1.46    1.49  015
9     2.51    2.38    블로킹    2.46    2.57  015
10    8.83    9.17     디그    9.96    9.17  015
11   12.05   11.08     세트   12.58   12.09  015
12    6.10    5.67    리시브    8.29    8.19  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   21.28   23.50     범실   22.83   26.67  015

          우리카드                             상대전적         삼성화재   시즌
0          NaN               VS 구단 선택 우리카드 삼성화재          NaN  015
1  3위(20승 16패)  * 상대전적 : 20승 32패 * 시즌전적 : 3승 3패  4위(19승 17패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       2  2018.10.14  삼성화재   1:3  106  111  2h 16m  lose  015  우리카드
1      60  2018.11.22  삼성화재   2:3   99  104  2h 03m  lose  015  우리카드
2      75  2018.12.02  삼성화재   3:1   91   91  1h 53m   win  015  우리카드
3     118  2018.12.31  삼성화재   3:1   99   87  1h 49m   win  015  우리카드
4     175  2019.02.12  삼성화재   3:1   98   75  1h 44m   win  015  우리카드
5     202  2019.03.02  삼성화재   0:3   54   75  1h 18m  lose  015  우리카드

      우리카드             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    86.86   91.17     득점   90.50   89.33  015
1   52.01%  51.89%     공격  55.25%  54.25%  015
2   45.52%  43.58%   오픈공격  51.61%  51.48%  015
3   67.21%  62.50%  시간차공격  60.00%  70.18%  015
4    0.00%     NaN   이동공격   0.00%  68.75%  015
5   55.77%  57.04%   후위공격  57.74%  56.49%  015
6   55.52%  53.73%     속공  55.07%  49.61%  015
7   57.27%  57.79%    퀵오픈  60.61%  60.20%  015
8     1.22    1.67     서브    1.00    0.95  015
9     2.51    2.29    블로킹    2.29    2.42  015
10    8.83    8.25     디그    8.71    8.35  015
11   12.05   12.17     세트   13.08   12.43  015
12    6.10    7.13    리시브    8.50    7.57  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   21.28   23.00     범실   25.00   24.78  015

          우리카드                             상대전적       KB손해보험   시즌
0          NaN             VS 구단 선택 우리카드 KB손해보험          NaN  015
1  3위(20승 16패)  * 상대전적 : 29승 24패 * 시즌전적 : 4승 2패  6위(16승 20패)  015

   경기 No.        경기일자     상대팀 세트스코어  득점   실점    경기시간    승패   시즌    홈팀
0      15  2018.10.25  KB손해보험   1:3  86  106  2h 03m  lose  015  우리카드
1      66  2018.11.26  KB손해보험   3:0  77   67  1h 33m   win  015  우리카드
2     105  2018.12.23  KB손해보험   3:1  96   81  1h 52m   win  015  우리카드
3     143  2019.01.17  KB손해보험   3:0  77   65  1h 27m   win  015  우리카드
4     158  2019.02.02  KB손해보험   3:0  77   63  1h 28m   win  015  우리카드
5     189  2019.02.21  KB손해보험   1:3  86   96  1h 50m  lose  015  우리카드

      우리카드             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    86.86   83.17     득점   79.67   89.33  015
1   52.01%  53.98%     공격  47.24%  49.89%  015
2   45.52%  50.42%   오픈공격  44.50%  42.19%  015
3   67.21%  75.00%  시간차공격  60.00%  67.27%  015
4    0.00%     NaN   이동공격   0.00%  33.33%  015
5   55.77%  54.78%   후위공격  43.29%  50.72%  015
6   55.52%  64.41%     속공  57.75%  59.12%  015
7   57.27%  51.76%    퀵오픈  49.12%  53.69%  015
8     1.22    1.19     서브    1.81    1.25  015
9     2.51    2.76    블로킹    2.05    1.96  015
10    8.83    8.90     디그    9.00    9.03  015
11   12.05   12.57     세트   12.10   12.06  015
12    6.10    4.95    리시브    8.76    7.54  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   21.28   21.67     범실   23.00   26.81  015

          우리카드                             상대전적        현대캐피탈   시즌
0          NaN              VS 구단 선택 우리카드 현대캐피탈          NaN  015
1  3위(20승 16패)  * 상대전적 : 17승 38패 * 시즌전적 : 3승 5패  2위(25승 11패)  015

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      23  2018.10.29  현대캐피탈   3:0   75   68  1h 28m   win  015  우리카드
1      41  2018.11.09  현대캐피탈   2:3  101  117  2h 22m  lose  015  우리카드
2      97  2018.12.17  현대캐피탈   0:3   46   75  1h 13m  lose  015  우리카드
3     123  2019.01.03  현대캐피탈   2:3  103  106  2h 18m  lose  015  우리카드
4     150  2019.01.27  현대캐피탈   3:0   75   63  1h 27m   win  015  우리카드
5     214  2019.03.10  현대캐피탈   3:2  108   88  2h 01m   win  015  우리카드
6     218  2019.03.16  현대캐피탈   2:3   97  109  2h 18m  lose  015  우리카드
7     220  2019.03.18  현대캐피탈   0:3   64   82  1h 32m  lose  015  우리카드

      우리카드             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    86.86   84.67     득점   86.17   90.14  015
1   52.01%  50.53%     공격  49.91%  51.28%  015
2   45.52%  44.84%   오픈공격  38.91%  41.95%  015
3   67.21%  42.86%  시간차공격  64.29%  59.32%  015
4    0.00%     NaN   이동공격     NaN   0.00%  015
5   55.77%  46.53%   후위공격  54.86%  53.37%  015
6   55.52%  51.72%     속공  55.67%  58.20%  015
7   57.27%  62.84%    퀵오픈  58.56%  58.66%  015
8     1.22    1.33     서브    1.96    1.84  015
9     2.51    1.79    블로킹    2.25    2.66  015
10    8.83    8.88     디그    8.79    8.36  015
11   12.05   11.63     세트   11.92   11.78  015
12    6.10    5.38    리시브    7.25    7.66  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   21.28   20.50     범실   24.50   24.69  015

          우리카드                             상대전적        한국전력   시즌
0          NaN               VS 구단 선택 우리카드 한국전력         NaN  015
1  3위(20승 16패)  * 상대전적 : 32승 21패 * 시즌전적 : 5승 1패  7위(4승 32패)  015

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      33  2018.11.04  한국전력   3:0   75   58  1h 21m   win  015  우리카드
1      46  2018.11.12  한국전력   3:0   79   61  1h 29m   win  015  우리카드
2      92  2018.12.14  한국전력   3:2  117  110  2h 23m   win  015  우리카드
3     135  2019.01.12  한국전력   3:0   75   56  1h 18m   win  015  우리카드
4     146  2019.01.24  한국전력   3:0   75   67  1h 27m   win  015  우리카드
5     181  2019.02.16  한국전력   2:3  105  102  2h 20m  lose  015  우리카드

      우리카드             VS    한국전력            시즌
      시즌평균   Vs 상대     구분   Vs 상대     시즌평균
0    86.86   87.67     득점   75.67    81.03  015
1   52.01%  54.61%     공격  45.79%   46.46%  015
2   45.52%  40.09%   오픈공격  41.78%   38.97%  015
3   67.21%  70.59%  시간차공격  43.75%   55.66%  015
4    0.00%     NaN   이동공격     NaN  100.00%  015
5   55.77%  65.52%   후위공격  48.87%   47.34%  015
6   55.52%  67.92%     속공  48.28%   51.74%  015
7   57.27%  60.67%    퀵오픈  47.62%   52.43%  015
8     1.22    0.82     서브    0.59     0.71  015
9     2.51    3.50    블로킹    1.82     1.73  015
10    8.83    9.50     디그   10.32     9.13  015
11   12.05   13.14     세트   12.86    11.40  015
12    6.10    7.95    리시브    9.91     7.65  015
13    0.00    0.00     벌칙    0.00     0.00  015
14   21.28   18.67     범실   21.50    21.61  015

          우리카드                             상대전적       OK금융그룹   시즌
0          NaN             VS 구단 선택 우리카드 OK금융그룹          NaN  015
1  3위(20승 16패)  * 상대전적 : 28승 26패 * 시즌전적 : 4승 2패  5위(17승 19패)  015

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       5  2018.10.18  OK금융그룹   1:3   84   98  1h 50m  lose  015  우리카드
1      52  2018.11.17  OK금융그룹   3:1   99   87  1h 54m   win  015  우리카드
2     101  2018.12.20  OK금융그룹   3:2  101  105  2h 10m   win  015  우리카드
3     113  2018.12.28  OK금융그룹   3:0   75   52  1h 08m   win  015  우리카드
4     170  2019.02.09  OK금융그룹   3:1   94   85  1h 45m   win  015  우리카드
5     193  2019.02.24  OK금융그룹   1:3   94   93  1h 52m  lose  015  우리카드

      우리카드             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    86.86   91.17     득점   86.67   85.08  015
1   52.01%  54.11%     공격  50.85%  51.60%  015
2   45.52%  48.31%   오픈공격  41.63%  43.34%  015
3   67.21%  83.33%  시간차공격  43.75%  53.13%  015
4    0.00%     NaN   이동공격     NaN   0.00%  015
5   55.77%  58.47%   후위공격  53.55%  53.94%  015
6   55.52%  53.45%     속공  53.01%  55.24%  015
7   57.27%  59.15%    퀵오픈  62.20%  59.76%  015
8     1.22    1.54     서브    1.88    1.72  015
9     2.51    2.46    블로킹    2.21    2.20  015
10    8.83    8.38     디그    8.29    7.77  015
11   12.05   11.88     세트   12.21   11.65  015
12    6.10    5.54    리시브    7.42    6.86  015
13    0.00    0.00     벌칙    0.00    0.00  015
14   21.28   20.33     범실   24.50   27.39  015

         대한항공                             상대전적         삼성화재   시즌
0         NaN               VS 구단 선택 대한항공 삼성화재          NaN  016
1  2위(23승 8패)  * 상대전적 : 52승 73패 * 시즌전적 : 5승 1패  5위(13승 19패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      11  2019.10.22  삼성화재   1:3   81   97  1h 45m  lose  016  대한항공
1      42  2019.11.10  삼성화재   3:2  107  104  2h 11m   win  016  대한항공
2      97  2019.12.15  삼성화재   3:0   75   65  1h 26m   win  016  대한항공
3     130  2020.01.23  삼성화재   3:0   75   61  1h 30m   win  016  대한항공
4     153  2020.02.06  삼성화재   3:1   97   82  1h 56m   win  016  대한항공
5     188  2020.02.28  삼성화재   3:1   98   74  1h 45m   win  016  대한항공

      대한항공             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.74   88.83     득점   80.50   84.50  016
1   55.49%  56.27%     공격  50.38%  50.13%  016
2   46.66%  45.06%   오픈공격  47.71%  45.79%  016
3   35.29%   0.00%  시간차공격  63.64%  63.64%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   57.51%  57.50%   후위공격  54.46%  48.85%  016
6   62.61%  63.75%     속공  44.87%  53.65%  016
7   60.68%  63.19%    퀵오픈  54.37%  56.30%  016
8     1.62    2.17     서브    1.09    1.03  016
9     2.50    2.17    블로킹    1.43    1.95  016
10    9.46    8.22     디그    8.22    9.67  016
11   13.05   12.26     세트   10.83   11.82  016
12    7.43    7.91    리시브    3.74    5.32  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.39   27.00     범실   22.50   22.63  016

         대한항공                             상대전적       KB손해보험   시즌
0         NaN             VS 구단 선택 대한항공 KB손해보험          NaN  016
1  2위(23승 8패)  * 상대전적 : 71승 39패 * 시즌전적 : 3승 2패  6위(10승 23패)  016

   경기 No.        경기일자     상대팀 세트스코어   득점  실점    경기시간    승패   시즌    홈팀
0      31  2019.11.03  KB손해보험   3:1   92  91  1h 54m   win  016  대한항공
1      62  2019.11.23  KB손해보험   3:0   75  64  1h 30m   win  016  대한항공
2      92  2019.12.12  KB손해보험   2:3  105  96  2h 12m  lose  016  대한항공
3     110  2019.12.29  KB손해보험   1:3   89  98  2h 02m  lose  016  대한항공
4     166  2020.02.14  KB손해보험   3:0   75  59  1h 20m   win  016  대한항공

      대한항공             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.74   87.20     득점   81.60   89.45  016
1   55.49%  54.01%     공격  50.81%  48.97%  016
2   46.66%  44.87%   오픈공격  42.07%  41.96%  016
3   35.29%   0.00%  시간차공격  53.85%  62.35%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   57.51%  57.47%   후위공격  53.19%  51.18%  016
6   62.61%  64.04%     속공  44.26%  51.28%  016
7   60.68%  56.43%    퀵오픈  62.50%  54.52%  016
8     1.62    1.47     서브    0.68    0.96  016
9     2.50    3.05    블로킹    2.74    2.28  016
10    9.46    8.26     디그    7.58    9.45  016
11   13.05   12.95     세트   11.42   12.08  016
12    7.43    8.89    리시브    6.11    6.76  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.39   24.60     범실   18.80   23.67  016

         대한항공                             상대전적        현대캐피탈   시즌
0         NaN              VS 구단 선택 대한항공 현대캐피탈          NaN  016
1  2위(23승 8패)  * 상대전적 : 64승 71패 * 시즌전적 : 3승 2패  3위(19승 13패)  016

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       1  2019.10.12  현대캐피탈   3:1   95   93  2h 01m   win  016  대한항공
1      70  2019.11.28  현대캐피탈   0:3   69   77  1h 29m  lose  016  대한항공
2      75  2019.12.01  현대캐피탈   3:2  111   98  2h 19m   win  016  대한항공
3     122  2020.01.18  현대캐피탈   1:3   84   98  1h 51m  lose  016  대한항공
4     147  2020.02.02  현대캐피탈   3:2  119  118  2h 28m   win  016  대한항공

      대한항공             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.74   95.60     득점   96.80   92.81  016
1   55.49%  54.39%     공격  51.54%  51.24%  016
2   46.66%  47.98%   오픈공격  43.67%  41.14%  016
3   35.29%   0.00%  시간차공격  62.50%  66.67%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   57.51%  52.68%   후위공격  53.10%  54.28%  016
6   62.61%  64.29%     속공  57.83%  59.67%  016
7   60.68%  58.68%    퀵오픈  55.20%  56.38%  016
8     1.62    1.10     서브    1.43    1.14  016
9     2.50    2.10    블로킹    2.43    3.10  016
10    9.46    9.38     디그    7.81    9.58  016
11   13.05   13.00     세트   11.24   12.72  016
12    7.43    6.71    리시브    7.62    8.08  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.39   30.40     범실   25.20   26.25  016

         대한항공                             상대전적        한국전력   시즌
0         NaN               VS 구단 선택 대한항공 한국전력         NaN  016
1  2위(23승 8패)  * 상대전적 : 87승 21패 * 시즌전적 : 5승 0패  7위(6승 26패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간   승패   시즌    홈팀
0       6  2019.10.18  한국전력   3:0   88   68  1h 35m  win  016  대한항공
1      48  2019.11.14  한국전력   3:2  115  104  2h 12m  win  016  대한항공
2     106  2019.12.22  한국전력   3:2  122  112  2h 28m  win  016  대한항공
3     115  2020.01.14  한국전력   3:0   75   63  1h 29m  win  016  대한항공
4     173  2020.02.19  한국전력   3:0   75   54  1h 21m  win  016  대한항공

      대한항공              VS    한국전력           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    89.74    95.00     득점   80.20   81.91  016
1   55.49%   53.94%     공격  44.58%  46.75%  016
2   46.66%   44.94%   오픈공격  36.87%  40.55%  016
3   35.29%  100.00%  시간차공격  58.33%  54.26%  016
4    0.00%      NaN   이동공격     NaN   0.00%  016
5   57.51%   54.39%   후위공격  46.85%  45.24%  016
6   62.61%   56.94%     속공  42.00%  52.48%  016
7   60.68%   60.54%    퀵오픈  51.49%  53.52%  016
8     1.62     1.89     서브    0.68    0.82  016
9     2.50     2.47    블로킹    1.47    2.00  016
10    9.46    11.58     디그    9.58    9.81  016
11   13.05    13.47     세트   11.26   11.80  016
12    7.43     8.32    리시브    6.05    6.70  016
13    0.00     0.00     벌칙    0.00    0.00  016
14   26.39    27.60     범실   25.00   21.34  016

         대한항공                             상대전적       OK금융그룹   시즌
0         NaN             VS 구단 선택 대한항공 OK금융그룹          NaN  016
1  2위(23승 8패)  * 상대전적 : 34승 18패 * 시즌전적 : 4승 1패  4위(16승 16패)  016

   경기 No.        경기일자     상대팀 세트스코어   득점  실점    경기시간    승패   시즌    홈팀
0      17  2019.10.25  OK금융그룹   0:3   61  75  1h 19m  lose  016  대한항공
1      57  2019.11.20  OK금융그룹   3:2  111  90  2h 05m   win  016  대한항공
2      83  2019.12.06  OK금융그룹   3:1  102  76  1h 54m   win  016  대한항공
3     137  2020.01.27  OK금융그룹   3:0   75  56  1h 22m   win  016  대한항공
4     142  2020.01.30  OK금융그룹   3:0   77  62  1h 26m   win  016  대한항공

      대한항공             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.74   85.20     득점   71.80   85.75  016
1   55.49%  60.37%     공격  51.02%  50.89%  016
2   46.66%  52.76%   오픈공격  41.35%  43.30%  016
3   35.29%  50.00%  시간차공격  62.50%  59.09%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   57.51%  64.63%   후위공격  66.99%  55.12%  016
6   62.61%  54.10%     속공  48.08%  54.23%  016
7   60.68%  70.19%    퀵오픈  47.96%  53.44%  016
8     1.62    1.39     서브    0.72    1.51  016
9     2.50    2.72    블로킹    1.61    2.04  016
10    9.46    8.28     디그    5.72    8.70  016
11   13.05   12.11     세트   10.44   11.69  016
12    7.43    5.83    리시브    5.50    6.03  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.39   23.20     범실   24.60   26.47  016

         대한항공                             상대전적        우리카드   시즌
0         NaN               VS 구단 선택 대한항공 우리카드         NaN  016
1  2위(23승 8패)  * 상대전적 : 38승 19패 * 시즌전적 : 3승 2패  1위(25승 7패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      26  2019.10.31  우리카드   3:0   76   62  1h 33m   win  016  대한항공
1      35  2019.11.06  우리카드   3:0   79   66  1h 32m   win  016  대한항공
2     102  2019.12.19  우리카드   2:3  113  117  2h 27m  lose  016  대한항공
3     114  2020.01.04  우리카드   0:3   62   75  1h 26m  lose  016  대한항공
4     158  2020.02.09  우리카드   3:1  104   94  2h 04m   win  016  대한항공

      대한항공             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.74   86.80     득점   82.80   90.47  016
1   55.49%  55.06%     공격  48.05%  52.18%  016
2   46.66%  45.60%   오픈공격  39.86%  41.84%  016
3   35.29%  16.67%  시간차공격  66.67%  75.00%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   57.51%  60.36%   후위공격  41.94%  53.63%  016
6   62.61%  71.88%     속공  52.54%  60.34%  016
7   60.68%  57.25%    퀵오픈  57.23%  57.07%  016
8     1.62    1.61     서브    1.28    1.26  016
9     2.50    2.61    블로킹    2.33    2.44  016
10    9.46   11.33     디그    9.61   10.71  016
11   13.05   14.72     세트   12.00   12.78  016
12    7.43    6.78    리시브    5.94    6.97  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.39   25.40     범실   17.20   19.88  016

          삼성화재                             상대전적        대한항공   시즌
0          NaN               VS 구단 선택 삼성화재 대한항공         NaN  016
1  5위(13승 19패)  * 상대전적 : 73승 52패 * 시즌전적 : 1승 5패  2위(23승 8패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      11  2019.10.22  대한항공   3:1   97   81  1h 45m   win  016  삼성화재
1      42  2019.11.10  대한항공   2:3  104  107  2h 11m  lose  016  삼성화재
2      97  2019.12.15  대한항공   0:3   65   75  1h 26m  lose  016  삼성화재
3     130  2020.01.23  대한항공   0:3   61   75  1h 30m  lose  016  삼성화재
4     153  2020.02.06  대한항공   1:3   82   97  1h 56m  lose  016  삼성화재
5     188  2020.02.28  대한항공   1:3   74   98  1h 45m  lose  016  삼성화재

      삼성화재             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    84.50   80.50     득점   88.83   89.74  016
1   50.13%  50.38%     공격  56.27%  55.49%  016
2   45.79%  47.71%   오픈공격  45.06%  46.66%  016
3   63.64%  63.64%  시간차공격   0.00%  35.29%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   48.85%  54.46%   후위공격  57.50%  57.51%  016
6   53.65%  44.87%     속공  63.75%  62.61%  016
7   56.30%  54.37%    퀵오픈  63.19%  60.68%  016
8     1.03    1.09     서브    2.17    1.62  016
9     1.95    1.43    블로킹    2.17    2.50  016
10    9.67    8.22     디그    8.22    9.46  016
11   11.82   10.83     세트   12.26   13.05  016
12    5.32    3.74    리시브    7.91    7.43  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   22.63   22.50     범실   27.00   26.39  016

          삼성화재                             상대전적       KB손해보험   시즌
0          NaN             VS 구단 선택 삼성화재 KB손해보험          NaN  016
1  5위(13승 19패)  * 상대전적 : 85승 30패 * 시즌전적 : 4승 1패  6위(10승 23패)  016

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       7  2019.10.19  KB손해보험   3:2  109  107  2h 15m   win  016  삼성화재
1      37  2019.11.07  KB손해보험   3:1   94   84  1h 54m   win  016  삼성화재
2      73  2019.11.30  KB손해보험   3:2  117  114  2h 28m   win  016  삼성화재
3     112  2020.01.01  KB손해보험   3:1   96   82  1h 50m   win  016  삼성화재
4     160  2020.02.11  KB손해보험   2:3  104  101  2h 13m  lose  016  삼성화재

      삼성화재             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    84.50  104.00     득점   97.60   89.45  016
1   50.13%  52.08%     공격  46.76%  48.97%  016
2   45.79%  47.66%   오픈공격  39.46%  41.96%  016
3   63.64%  77.78%  시간차공격  47.62%  62.35%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   48.85%  49.12%   후위공격  50.00%  51.18%  016
6   53.65%  52.86%     속공  52.46%  51.28%  016
7   56.30%  61.42%    퀵오픈  52.05%  54.52%  016
8     1.03    1.17     서브    1.17    0.96  016
9     1.95    2.30    블로킹    2.26    2.28  016
10    9.67   10.09     디그    9.65    9.45  016
11   11.82   12.30     세트   11.83   12.08  016
12    5.32    6.13    리시브    7.26    6.76  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   22.63   25.00     범실   27.80   23.67  016

          삼성화재                             상대전적        현대캐피탈   시즌
0          NaN              VS 구단 선택 삼성화재 현대캐피탈          NaN  016
1  5위(13승 19패)  * 상대전적 : 79승 61패 * 시즌전적 : 2승 3패  3위(19승 13패)  016

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      28  2019.11.01  현대캐피탈   2:3  107  111  2h 23m  lose  016  삼성화재
1      59  2019.11.21  현대캐피탈   3:1  102   84  1h 55m   win  016  삼성화재
2      90  2019.12.11  현대캐피탈   0:3   57   77  1h 24m  lose  016  삼성화재
3     140  2020.01.29  현대캐피탈   1:3   94  107  2h 12m  lose  016  삼성화재
4     171  2020.02.18  현대캐피탈   3:1   97   84  1h 51m   win  016  삼성화재

      삼성화재             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    84.50   91.40     득점   92.60   92.81  016
1   50.13%  48.59%     공격  49.15%  51.24%  016
2   45.79%  47.66%   오픈공격  40.68%  41.14%  016
3   63.64%  80.00%  시간차공격  37.50%  66.67%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   48.85%  42.06%   후위공격  53.91%  54.28%  016
6   53.65%  48.21%     속공  54.22%  59.67%  016
7   56.30%  53.64%    퀵오픈  53.38%  56.38%  016
8     1.03    1.00     서브    1.15    1.14  016
9     1.95    2.05    블로킹    3.35    3.10  016
10    9.67   10.50     디그    9.60    9.58  016
11   11.82   12.20     세트   12.70   12.72  016
12    5.32    6.35    리시브    9.40    8.08  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   22.63   22.20     범실   27.40   26.25  016

          삼성화재                             상대전적        한국전력   시즌
0          NaN               VS 구단 선택 삼성화재 한국전력         NaN  016
1  5위(13승 19패)  * 상대전적 : 82승 26패 * 시즌전적 : 5승 1패  7위(6승 26패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점  실점    경기시간    승패   시즌    홈팀
0      18  2019.10.26  한국전력   3:1   94  84  1h 49m   win  016  삼성화재
1      53  2019.11.17  한국전력   3:1   98  86  1h 53m   win  016  삼성화재
2      86  2019.12.08  한국전력   3:0   76  54  1h 21m   win  016  삼성화재
3     121  2020.01.17  한국전력   0:3   60  76  1h 21m  lose  016  삼성화재
4     167  2020.02.15  한국전력   3:0   76  55  1h 23m   win  016  삼성화재
5     182  2020.02.25  한국전력   3:2  111  95  2h 15m   win  016  삼성화재

      삼성화재             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    84.50   85.83     득점   75.00   81.91  016
1   50.13%  52.38%     공격  45.66%  46.75%  016
2   45.79%  44.21%   오픈공격  40.55%  40.55%  016
3   63.64%  56.25%  시간차공격  47.62%  54.26%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   48.85%  50.88%   후위공격  37.39%  45.24%  016
6   53.65%  66.22%     속공  55.00%  52.48%  016
7   56.30%  60.00%    퀵오픈  54.02%  53.52%  016
8     1.03    1.14     서브    0.64    0.82  016
9     1.95    2.45    블로킹    1.95    2.00  016
10    9.67   11.05     디그   10.41    9.81  016
11   11.82   12.77     세트   11.82   11.80  016
12    5.32    7.00    리시브    6.77    6.70  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   22.63   20.50     범실   23.00   21.34  016

          삼성화재                             상대전적       OK금융그룹   시즌
0          NaN             VS 구단 선택 삼성화재 OK금융그룹          NaN  016
1  5위(13승 19패)  * 상대전적 : 24승 33패 * 시즌전적 : 1승 4패  4위(16승 16패)  016

   경기 No.        경기일자     상대팀 세트스코어   득점  실점    경기시간    승패   시즌    홈팀
0       4  2019.10.16  OK금융그룹   1:3   87  99  1h 51m  lose  016  삼성화재
1      46  2019.11.13  OK금융그룹   2:3  102  98  2h 07m  lose  016  삼성화재
2     104  2019.12.20  OK금융그룹   3:0   77  69  1h 34m   win  016  삼성화재
3     109  2019.12.28  OK금융그룹   0:3   63  75  1h 22m  lose  016  삼성화재
4     177  2020.02.21  OK금융그룹   1:3   87  94  1h 48m  lose  016  삼성화재

      삼성화재             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    84.50   83.20     득점   87.00   85.75  016
1   50.13%  52.45%     공격  52.25%  50.89%  016
2   45.79%  48.86%   오픈공격  43.57%  43.30%  016
3   63.64%  57.14%  시간차공격  50.00%  59.09%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   48.85%  49.52%   후위공격  51.61%  55.12%  016
6   53.65%  62.50%     속공  62.50%  54.23%  016
7   56.30%  56.47%    퀵오픈  57.14%  53.44%  016
8     1.03    0.89     서브    2.00    1.51  016
9     1.95    2.11    블로킹    2.42    2.04  016
10    9.67    7.95     디그    8.26    8.70  016
11   11.82   11.47     세트   11.58   11.69  016
12    5.32    3.68    리시브    6.26    6.03  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   22.63   23.20     범실   26.80   26.47  016

          삼성화재                             상대전적        우리카드   시즌
0          NaN               VS 구단 선택 삼성화재 우리카드         NaN  016
1  5위(13승 19패)  * 상대전적 : 32승 20패 * 시즌전적 : 0승 5패  1위(25승 7패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       2  2019.10.13  우리카드   0:3   53   75  1h 25m  lose  016  삼성화재
1      68  2019.11.27  우리카드   0:3   56   75  1h 17m  lose  016  삼성화재
2      79  2019.12.04  우리카드   2:3  103  113  2h 12m  lose  016  삼성화재
3     135  2020.01.26  우리카드   0:3   50   75  1h 20m  lose  016  삼성화재
4     145  2020.02.01  우리카드   0:3   51   75  1h 13m  lose  016  삼성화재

      삼성화재             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    84.50   62.60     득점   82.60   90.47  016
1   50.13%  44.04%     공격  52.64%  52.18%  016
2   45.79%  37.84%   오픈공격  42.45%  41.84%  016
3   63.64%  57.14%  시간차공격  91.67%  75.00%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   48.85%  46.53%   후위공격  59.30%  53.63%  016
6   53.65%  46.00%     속공  54.39%  60.34%  016
7   56.30%  50.98%    퀵오픈  54.92%  57.07%  016
8     1.03    0.82     서브    1.59    1.26  016
9     1.95    1.24    블로킹    3.00    2.44  016
10    9.67   10.24     디그   11.53   10.71  016
11   11.82   11.24     세트   12.35   12.78  016
12    5.32    4.82    리시브    6.18    6.97  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   22.63   22.80     범실   16.40   19.88  016

        KB손해보험                             상대전적        대한항공   시즌
0          NaN             VS 구단 선택 KB손해보험 대한항공         NaN  016
1  6위(10승 23패)  * 상대전적 : 39승 71패 * 시즌전적 : 2승 3패  2위(23승 8패)  016

   경기 No.        경기일자   상대팀 세트스코어  득점   실점    경기시간    승패   시즌      홈팀
0      31  2019.11.03  대한항공   1:3  91   92  1h 54m  lose  016  KB손해보험
1      62  2019.11.23  대한항공   0:3  64   75  1h 30m  lose  016  KB손해보험
2      92  2019.12.12  대한항공   3:2  96  105  2h 12m   win  016  KB손해보험
3     110  2019.12.29  대한항공   3:1  98   89  2h 02m   win  016  KB손해보험
4     166  2020.02.14  대한항공   0:3  59   75  1h 20m  lose  016  KB손해보험

    KB손해보험             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.45   81.60     득점   87.20   89.74  016
1   48.97%  50.81%     공격  54.01%  55.49%  016
2   41.96%  42.07%   오픈공격  44.87%  46.66%  016
3   62.35%  53.85%  시간차공격   0.00%  35.29%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   51.18%  53.19%   후위공격  57.47%  57.51%  016
6   51.28%  44.26%     속공  64.04%  62.61%  016
7   54.52%  62.50%    퀵오픈  56.43%  60.68%  016
8     0.96    0.68     서브    1.47    1.62  016
9     2.28    2.74    블로킹    3.05    2.50  016
10    9.45    7.58     디그    8.26    9.46  016
11   12.08   11.42     세트   12.95   13.05  016
12    6.76    6.11    리시브    8.89    7.43  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   23.67   18.80     범실   24.60   26.39  016

        KB손해보험                             상대전적         삼성화재   시즌
0          NaN             VS 구단 선택 KB손해보험 삼성화재          NaN  016
1  6위(10승 23패)  * 상대전적 : 30승 85패 * 시즌전적 : 1승 4패  5위(13승 19패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       7  2019.10.19  삼성화재   2:3  107  109  2h 15m  lose  016  KB손해보험
1      37  2019.11.07  삼성화재   1:3   84   94  1h 54m  lose  016  KB손해보험
2      73  2019.11.30  삼성화재   2:3  114  117  2h 28m  lose  016  KB손해보험
3     112  2020.01.01  삼성화재   1:3   82   96  1h 50m  lose  016  KB손해보험
4     160  2020.02.11  삼성화재   3:2  101  104  2h 13m   win  016  KB손해보험

    KB손해보험             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.45   97.60     득점  104.00   84.50  016
1   48.97%  46.76%     공격  52.08%  50.13%  016
2   41.96%  39.46%   오픈공격  47.66%  45.79%  016
3   62.35%  47.62%  시간차공격  77.78%  63.64%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   51.18%  50.00%   후위공격  49.12%  48.85%  016
6   51.28%  52.46%     속공  52.86%  53.65%  016
7   54.52%  52.05%    퀵오픈  61.42%  56.30%  016
8     0.96    1.17     서브    1.17    1.03  016
9     2.28    2.26    블로킹    2.30    1.95  016
10    9.45    9.65     디그   10.09    9.67  016
11   12.08   11.83     세트   12.30   11.82  016
12    6.76    7.26    리시브    6.13    5.32  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   23.67   27.80     범실   25.00   22.63  016

        KB손해보험                             상대전적        현대캐피탈   시즌
0          NaN            VS 구단 선택 KB손해보험 현대캐피탈          NaN  016
1  6위(10승 23패)  * 상대전적 : 27승 81패 * 시즌전적 : 0승 6패  3위(19승 13패)  016

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      15  2019.10.24  현대캐피탈   2:3  109  110  2h 25m  lose  016  KB손해보험
1      44  2019.11.12  현대캐피탈   1:3  102  102  2h 11m  lose  016  KB손해보험
2     105  2019.12.21  현대캐피탈   0:3   55   75  1h 21m  lose  016  KB손해보험
3     133  2020.01.25  현대캐피탈   1:3   91  101  1h 59m  lose  016  KB손해보험
4     156  2020.02.08  현대캐피탈   1:3   89   97  1h 57m  lose  016  KB손해보험
5     191  2020.03.01  현대캐피탈   2:3  118  121  2h 29m  lose  016  KB손해보험

    KB손해보험             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.45   94.00     득점  101.00   92.81  016
1   48.97%  49.62%     공격  51.62%  51.24%  016
2   41.96%  42.31%   오픈공격  43.88%  41.14%  016
3   62.35%  75.00%  시간차공격  88.89%  66.67%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   51.18%  56.98%   후위공격  52.60%  54.28%  016
6   51.28%  43.04%     속공  58.88%  59.67%  016
7   54.52%  54.27%    퀵오픈  55.63%  56.38%  016
8     0.96    0.84     서브    1.04    1.14  016
9     2.28    2.16    블로킹    3.44    3.10  016
10    9.45    9.52     디그    9.44    9.58  016
11   12.08   12.60     세트   12.84   12.72  016
12    6.76    6.68    리시브    7.88    8.08  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   23.67   26.33     범실   27.17   26.25  016

        KB손해보험                             상대전적        한국전력   시즌
0          NaN             VS 구단 선택 KB손해보험 한국전력         NaN  016
1  6위(10승 23패)  * 상대전적 : 67승 41패 * 시즌전적 : 3승 2패  7위(6승 26패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       3  2019.10.15  한국전력   3:2  105  101  2h 14m   win  016  KB손해보험
1      66  2019.11.26  한국전력   1:3   86   95  1h 57m  lose  016  KB손해보험
2     100  2019.12.18  한국전력   1:3   89   96  1h 53m  lose  016  KB손해보험
3     139  2020.01.28  한국전력   3:1   92   81  1h 50m   win  016  KB손해보험
4     144  2020.01.31  한국전력   3:2  110  103  2h 23m   win  016  KB손해보험

    KB손해보험             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.45   96.40     득점   95.20   81.91  016
1   48.97%  49.66%     공격  50.00%  46.75%  016
2   41.96%  38.22%   오픈공격  42.93%  40.55%  016
3   62.35%  78.95%  시간차공격  55.00%  54.26%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   51.18%  49.23%   후위공격  49.02%  45.24%  016
6   51.28%  62.86%     속공  59.18%  52.48%  016
7   54.52%  57.53%    퀵오픈  57.45%  53.52%  016
8     0.96    1.09     서브    0.77    0.82  016
9     2.28    2.14    블로킹    2.59    2.00  016
10    9.45   10.09     디그   10.09    9.81  016
11   12.08   12.86     세트   12.45   11.80  016
12    6.76    8.05    리시브    6.55    6.70  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   23.67   23.60     범실   23.40   21.34  016

        KB손해보험                             상대전적       OK금융그룹   시즌
0          NaN           VS 구단 선택 KB손해보험 OK금융그룹          NaN  016
1  6위(10승 23패)  * 상대전적 : 26승 28패 * 시즌전적 : 3승 3패  4위(16승 16패)  016

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      24  2019.10.30  OK금융그룹   2:3  107   97  2h 08m  lose  016  KB손해보험
1      51  2019.11.16  OK금융그룹   2:3   96  102  2h 07m  lose  016  KB손해보험
2      77  2019.12.03  OK금융그룹   3:0   77   71  1h 34m   win  016  KB손해보험
3     119  2020.01.16  OK금융그룹   3:2  106  103  2h 08m   win  016  KB손해보험
4     149  2020.02.04  OK금융그룹   3:0   75   64  1h 35m   win  016  KB손해보험
5     184  2020.02.26  OK금융그룹   1:3   86   92  1h 54m  lose  016  KB손해보험

    KB손해보험             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.45   91.17     득점   88.17   85.75  016
1   48.97%  51.32%     공격  50.25%  50.89%  016
2   41.96%  47.34%   오픈공격  35.39%  43.30%  016
3   62.35%  73.33%  시간차공격  60.00%  59.09%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   51.18%  52.17%   후위공격  58.02%  55.12%  016
6   51.28%  60.32%     속공  54.55%  54.23%  016
7   54.52%  49.59%    퀵오픈  56.07%  53.44%  016
8     0.96    1.36     서브    1.36    1.51  016
9     2.28    2.72    블로킹    2.32    2.04  016
10    9.45    8.20     디그    9.04    8.70  016
11   12.08   11.00     세트   11.48   11.69  016
12    6.76    5.56    리시브    5.52    6.03  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   23.67   22.50     범실   25.17   26.47  016

        KB손해보험                             상대전적        우리카드   시즌
0          NaN             VS 구단 선택 KB손해보험 우리카드         NaN  016
1  6위(10승 23패)  * 상대전적 : 24승 29패 * 시즌전적 : 1승 5패  1위(25승 7패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      20  2019.10.27  우리카드   2:3  104  109  2h 11m  lose  016  KB손해보험
1      55  2019.11.19  우리카드   0:3   57   75  1h 20m  lose  016  KB손해보험
2      84  2019.12.07  우리카드   3:2  102  106  2h 21m   win  016  KB손해보험
3     128  2020.01.22  우리카드   0:3   71   77  1h 40m  lose  016  KB손해보험
4     175  2020.02.20  우리카드   0:3   70   78  1h 40m  lose  016  KB손해보험
5     180  2020.02.23  우리카드   0:3   59   75  1h 24m  lose  016  KB손해보험

    KB손해보험             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    89.45   77.17     득점   86.67   90.47  016
1   48.97%  46.36%     공격  52.28%  52.18%  016
2   41.96%  42.79%   오픈공격  45.00%  41.84%  016
3   62.35%  44.44%  시간차공격  55.56%  75.00%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   51.18%  46.11%   후위공격  50.77%  53.63%  016
6   51.28%  44.83%     속공  58.14%  60.34%  016
7   54.52%  52.15%    퀵오픈  57.63%  57.07%  016
8     0.96    0.50     서브    0.95    1.26  016
9     2.28    1.68    블로킹    2.41    2.44  016
10    9.45   11.55     디그   11.86   10.71  016
11   12.08   12.77     세트   13.64   12.78  016
12    6.76    6.95    리시브    8.73    6.97  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   23.67   22.83     범실   20.33   19.88  016

         현대캐피탈                             상대전적        대한항공   시즌
0          NaN              VS 구단 선택 현대캐피탈 대한항공         NaN  016
1  3위(19승 13패)  * 상대전적 : 71승 64패 * 시즌전적 : 2승 3패  2위(23승 8패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0       1  2019.10.12  대한항공   1:3   93   95  2h 01m  lose  016  현대캐피탈
1      70  2019.11.28  대한항공   3:0   77   69  1h 29m   win  016  현대캐피탈
2      75  2019.12.01  대한항공   2:3   98  111  2h 19m  lose  016  현대캐피탈
3     122  2020.01.18  대한항공   3:1   98   84  1h 51m   win  016  현대캐피탈
4     147  2020.02.02  대한항공   2:3  118  119  2h 28m  lose  016  현대캐피탈

     현대캐피탈             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.81   96.80     득점   95.60   89.74  016
1   51.24%  51.54%     공격  54.39%  55.49%  016
2   41.14%  43.67%   오픈공격  47.98%  46.66%  016
3   66.67%  62.50%  시간차공격   0.00%  35.29%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   54.28%  53.10%   후위공격  52.68%  57.51%  016
6   59.67%  57.83%     속공  64.29%  62.61%  016
7   56.38%  55.20%    퀵오픈  58.68%  60.68%  016
8     1.14    1.43     서브    1.10    1.62  016
9     3.10    2.43    블로킹    2.10    2.50  016
10    9.58    7.81     디그    9.38    9.46  016
11   12.72   11.24     세트   13.00   13.05  016
12    8.08    7.62    리시브    6.71    7.43  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.25   25.20     범실   30.40   26.39  016

         현대캐피탈                             상대전적         삼성화재   시즌
0          NaN              VS 구단 선택 현대캐피탈 삼성화재          NaN  016
1  3위(19승 13패)  * 상대전적 : 61승 79패 * 시즌전적 : 3승 2패  5위(13승 19패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      28  2019.11.01  삼성화재   3:2  111  107  2h 23m   win  016  현대캐피탈
1      59  2019.11.21  삼성화재   1:3   84  102  1h 55m  lose  016  현대캐피탈
2      90  2019.12.11  삼성화재   3:0   77   57  1h 24m   win  016  현대캐피탈
3     140  2020.01.29  삼성화재   3:1  107   94  2h 12m   win  016  현대캐피탈
4     171  2020.02.18  삼성화재   1:3   84   97  1h 51m  lose  016  현대캐피탈

     현대캐피탈             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.81   92.60     득점   91.40   84.50  016
1   51.24%  49.15%     공격  48.59%  50.13%  016
2   41.14%  40.68%   오픈공격  47.66%  45.79%  016
3   66.67%  37.50%  시간차공격  80.00%  63.64%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   54.28%  53.91%   후위공격  42.06%  48.85%  016
6   59.67%  54.22%     속공  48.21%  53.65%  016
7   56.38%  53.38%    퀵오픈  53.64%  56.30%  016
8     1.14    1.15     서브    1.00    1.03  016
9     3.10    3.35    블로킹    2.05    1.95  016
10    9.58    9.60     디그   10.50    9.67  016
11   12.72   12.70     세트   12.20   11.82  016
12    8.08    9.40    리시브    6.35    5.32  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.25   27.40     범실   22.20   22.63  016

         현대캐피탈                             상대전적       KB손해보험   시즌
0          NaN            VS 구단 선택 현대캐피탈 KB손해보험          NaN  016
1  3위(19승 13패)  * 상대전적 : 81승 27패 * 시즌전적 : 6승 0패  6위(10승 23패)  016

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간   승패   시즌     홈팀
0      15  2019.10.24  KB손해보험   3:2  110  109  2h 25m  win  016  현대캐피탈
1      44  2019.11.12  KB손해보험   3:1  102  102  2h 11m  win  016  현대캐피탈
2     105  2019.12.21  KB손해보험   3:0   75   55  1h 21m  win  016  현대캐피탈
3     133  2020.01.25  KB손해보험   3:1  101   91  1h 59m  win  016  현대캐피탈
4     156  2020.02.08  KB손해보험   3:1   97   89  1h 57m  win  016  현대캐피탈
5     191  2020.03.01  KB손해보험   3:2  121  118  2h 29m  win  016  현대캐피탈

     현대캐피탈             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.81  101.00     득점   94.00   89.45  016
1   51.24%  51.62%     공격  49.62%  48.97%  016
2   41.14%  43.88%   오픈공격  42.31%  41.96%  016
3   66.67%  88.89%  시간차공격  75.00%  62.35%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   54.28%  52.60%   후위공격  56.98%  51.18%  016
6   59.67%  58.88%     속공  43.04%  51.28%  016
7   56.38%  55.63%    퀵오픈  54.27%  54.52%  016
8     1.14    1.04     서브    0.84    0.96  016
9     3.10    3.44    블로킹    2.16    2.28  016
10    9.58    9.44     디그    9.52    9.45  016
11   12.72   12.84     세트   12.60   12.08  016
12    8.08    7.88    리시브    6.68    6.76  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.25   27.17     범실   26.33   23.67  016

         현대캐피탈                             상대전적        한국전력   시즌
0          NaN              VS 구단 선택 현대캐피탈 한국전력         NaN  016
1  3위(19승 13패)  * 상대전적 : 82승 30패 * 시즌전적 : 3승 2패  7위(6승 26패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      22  2019.10.29  한국전력   1:3   96   98  2h 01m  lose  016  현대캐피탈
1      39  2019.11.08  한국전력   1:3   93  102  2h 04m  lose  016  현대캐피탈
2      81  2019.12.05  한국전력   3:0   75   56  1h 22m   win  016  현대캐피탈
3     126  2020.01.21  한국전력   3:0   75   54  1h 19m   win  016  현대캐피탈
4     178  2020.02.22  한국전력   3:2  110  107  2h 16m   win  016  현대캐피탈

     현대캐피탈             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.81   89.80     득점   83.40   81.91  016
1   51.24%  53.89%     공격  45.52%  46.75%  016
2   41.14%  43.55%   오픈공격  39.82%  40.55%  016
3   66.67%  85.71%  시간차공격  53.85%  54.26%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   54.28%  56.35%   후위공격  47.01%  45.24%  016
6   59.67%  62.22%     속공  47.92%  52.48%  016
7   56.38%  59.32%    퀵오픈  52.38%  53.52%  016
8     1.14    1.05     서브    1.47    0.82  016
9     3.10    3.53    블로킹    1.89    2.00  016
10    9.58   11.05     디그   10.63    9.81  016
11   12.72   14.26     세트   11.79   11.80  016
12    8.08    7.89    리시브    6.42    6.70  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.25   22.60     범실   15.20   21.34  016

         현대캐피탈                             상대전적       OK금융그룹   시즌
0          NaN            VS 구단 선택 현대캐피탈 OK금융그룹          NaN  016
1  3위(19승 13패)  * 상대전적 : 39승 17패 * 시즌전적 : 4승 1패  4위(16승 16패)  016

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      33  2019.11.05  OK금융그룹   3:0   78   67  1h 36m   win  016  현대캐피탈
1      64  2019.11.24  OK금융그룹   3:0   76   65  1h 29m   win  016  현대캐피탈
2     107  2019.12.24  OK금융그룹   3:0   75   62  1h 27m   win  016  현대캐피탈
3     113  2020.01.03  OK금융그룹   1:3   89   99  2h 02m  lose  016  현대캐피탈
4     164  2020.02.13  OK금융그룹   3:2  111  101  2h 12m   win  016  현대캐피탈

     현대캐피탈              VS  OK금융그룹           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    92.81    85.80     득점   78.80   85.75  016
1   51.24%   50.47%     공격  45.41%  50.89%  016
2   41.14%   38.00%   오픈공격  42.38%  43.30%  016
3   66.67%  100.00%  시간차공격  60.00%  59.09%  016
4    0.00%      NaN   이동공격     NaN   0.00%  016
5   54.28%   54.33%   후위공격  44.66%  55.12%  016
6   59.67%   65.08%     속공  52.38%  54.23%  016
7   56.38%   54.88%    퀵오픈  45.04%  53.44%  016
8     1.14     1.50     서브    0.94    1.51  016
9     3.10     3.67    블로킹    1.67    2.04  016
10    9.58     9.17     디그    9.67    8.70  016
11   12.72    11.44     세트   10.89   11.69  016
12    8.08     6.50    리시브    5.67    6.03  016
13    0.00     0.00     벌칙    0.00    0.00  016
14   26.25    27.60     범실   24.40   26.47  016

         현대캐피탈                             상대전적        우리카드   시즌
0          NaN              VS 구단 선택 현대캐피탈 우리카드         NaN  016
1  3위(19승 13패)  * 상대전적 : 38승 17패 * 시즌전적 : 1승 5패  1위(25승 7패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0       5  2019.10.17  우리카드   2:3  106  104  2h 10m  lose  016  현대캐피탈
1      50  2019.11.15  우리카드   1:3   82   97  1h 56m  lose  016  현대캐피탈
2      95  2019.12.14  우리카드   3:0   89   77  1h 43m   win  016  현대캐피탈
3     117  2020.01.15  우리카드   1:3   83   98  1h 56m  lose  016  현대캐피탈
4     151  2020.02.05  우리카드   0:3   77   83  1h 44m  lose  016  현대캐피탈
5     186  2020.02.27  우리카드   2:3  102  111  2h 09m  lose  016  현대캐피탈

     현대캐피탈             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.81   89.83     득점   95.00   90.47  016
1   51.24%  50.73%     공격  51.67%  52.18%  016
2   41.14%  37.13%   오픈공격  43.81%  41.84%  016
3   66.67%  50.00%  시간차공격  69.23%  75.00%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   54.28%  55.23%   후위공격  54.23%  53.63%  016
6   59.67%  60.71%     속공  62.67%  60.34%  016
7   56.38%  59.48%    퀵오픈  52.20%  57.07%  016
8     1.14    0.79     서브    1.21    1.26  016
9     3.10    2.38    블로킹    2.17    2.44  016
10    9.58   10.42     디그   10.92   10.71  016
11   12.72   13.67     세트   13.13   12.78  016
12    8.08    8.92    리시브    7.46    6.97  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.25   27.17     범실   19.50   19.88  016

         한국전력                             상대전적        대한항공   시즌
0         NaN               VS 구단 선택 한국전력 대한항공         NaN  016
1  7위(6승 26패)  * 상대전적 : 21승 87패 * 시즌전적 : 0승 5패  2위(23승 8패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       6  2019.10.18  대한항공   0:3   68   88  1h 35m  lose  016  한국전력
1      48  2019.11.14  대한항공   2:3  104  115  2h 12m  lose  016  한국전력
2     106  2019.12.22  대한항공   2:3  112  122  2h 28m  lose  016  한국전력
3     115  2020.01.14  대한항공   0:3   63   75  1h 29m  lose  016  한국전력
4     173  2020.02.19  대한항공   0:3   54   75  1h 21m  lose  016  한국전력

      한국전력             VS     대한항공           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    81.91   80.20     득점    95.00   89.74  016
1   46.75%  44.58%     공격   53.94%  55.49%  016
2   40.55%  36.87%   오픈공격   44.94%  46.66%  016
3   54.26%  58.33%  시간차공격  100.00%  35.29%  016
4    0.00%     NaN   이동공격      NaN   0.00%  016
5   45.24%  46.85%   후위공격   54.39%  57.51%  016
6   52.48%  42.00%     속공   56.94%  62.61%  016
7   53.52%  51.49%    퀵오픈   60.54%  60.68%  016
8     0.82    0.68     서브     1.89    1.62  016
9     2.00    1.47    블로킹     2.47    2.50  016
10    9.81    9.58     디그    11.58    9.46  016
11   11.80   11.26     세트    13.47   13.05  016
12    6.70    6.05    리시브     8.32    7.43  016
13    0.00    0.00     벌칙     0.00    0.00  016
14   21.34   25.00     범실    27.60   26.39  016

         한국전력                             상대전적         삼성화재   시즌
0         NaN               VS 구단 선택 한국전력 삼성화재          NaN  016
1  7위(6승 26패)  * 상대전적 : 26승 82패 * 시즌전적 : 1승 5패  5위(13승 19패)  016

   경기 No.        경기일자   상대팀 세트스코어  득점   실점    경기시간    승패   시즌    홈팀
0      18  2019.10.26  삼성화재   1:3  84   94  1h 49m  lose  016  한국전력
1      53  2019.11.17  삼성화재   1:3  86   98  1h 53m  lose  016  한국전력
2      86  2019.12.08  삼성화재   0:3  54   76  1h 21m  lose  016  한국전력
3     121  2020.01.17  삼성화재   3:0  76   60  1h 21m   win  016  한국전력
4     167  2020.02.15  삼성화재   0:3  55   76  1h 23m  lose  016  한국전력
5     182  2020.02.25  삼성화재   2:3  95  111  2h 15m  lose  016  한국전력

      한국전력             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    81.91   75.00     득점   85.83   84.50  016
1   46.75%  45.66%     공격  52.38%  50.13%  016
2   40.55%  40.55%   오픈공격  44.21%  45.79%  016
3   54.26%  47.62%  시간차공격  56.25%  63.64%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   45.24%  37.39%   후위공격  50.88%  48.85%  016
6   52.48%  55.00%     속공  66.22%  53.65%  016
7   53.52%  54.02%    퀵오픈  60.00%  56.30%  016
8     0.82    0.64     서브    1.14    1.03  016
9     2.00    1.95    블로킹    2.45    1.95  016
10    9.81   10.41     디그   11.05    9.67  016
11   11.80   11.82     세트   12.77   11.82  016
12    6.70    6.77    리시브    7.00    5.32  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   21.34   23.00     범실   20.50   22.63  016

         한국전력                             상대전적       KB손해보험   시즌
0         NaN             VS 구단 선택 한국전력 KB손해보험          NaN  016
1  7위(6승 26패)  * 상대전적 : 41승 67패 * 시즌전적 : 2승 3패  6위(10승 23패)  016

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       3  2019.10.15  KB손해보험   2:3  101  105  2h 14m  lose  016  한국전력
1      66  2019.11.26  KB손해보험   3:1   95   86  1h 57m   win  016  한국전력
2     100  2019.12.18  KB손해보험   3:1   96   89  1h 53m   win  016  한국전력
3     139  2020.01.28  KB손해보험   1:3   81   92  1h 50m  lose  016  한국전력
4     144  2020.01.31  KB손해보험   2:3  103  110  2h 23m  lose  016  한국전력

      한국전력             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    81.91   95.20     득점   96.40   89.45  016
1   46.75%  50.00%     공격  49.66%  48.97%  016
2   40.55%  42.93%   오픈공격  38.22%  41.96%  016
3   54.26%  55.00%  시간차공격  78.95%  62.35%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   45.24%  49.02%   후위공격  49.23%  51.18%  016
6   52.48%  59.18%     속공  62.86%  51.28%  016
7   53.52%  57.45%    퀵오픈  57.53%  54.52%  016
8     0.82    0.77     서브    1.09    0.96  016
9     2.00    2.59    블로킹    2.14    2.28  016
10    9.81   10.09     디그   10.09    9.45  016
11   11.80   12.45     세트   12.86   12.08  016
12    6.70    6.55    리시브    8.05    6.76  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   21.34   23.40     범실   23.60   23.67  016

         한국전력                             상대전적        현대캐피탈   시즌
0         NaN              VS 구단 선택 한국전력 현대캐피탈          NaN  016
1  7위(6승 26패)  * 상대전적 : 30승 82패 * 시즌전적 : 2승 3패  3위(19승 13패)  016

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      22  2019.10.29  현대캐피탈   3:1   98   96  2h 01m   win  016  한국전력
1      39  2019.11.08  현대캐피탈   3:1  102   93  2h 04m   win  016  한국전력
2      81  2019.12.05  현대캐피탈   0:3   56   75  1h 22m  lose  016  한국전력
3     126  2020.01.21  현대캐피탈   0:3   54   75  1h 19m  lose  016  한국전력
4     178  2020.02.22  현대캐피탈   2:3  107  110  2h 16m  lose  016  한국전력

      한국전력             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    81.91   83.40     득점   89.80   92.81  016
1   46.75%  45.52%     공격  53.89%  51.24%  016
2   40.55%  39.82%   오픈공격  43.55%  41.14%  016
3   54.26%  53.85%  시간차공격  85.71%  66.67%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   45.24%  47.01%   후위공격  56.35%  54.28%  016
6   52.48%  47.92%     속공  62.22%  59.67%  016
7   53.52%  52.38%    퀵오픈  59.32%  56.38%  016
8     0.82    1.47     서브    1.05    1.14  016
9     2.00    1.89    블로킹    3.53    3.10  016
10    9.81   10.63     디그   11.05    9.58  016
11   11.80   11.79     세트   14.26   12.72  016
12    6.70    6.42    리시브    7.89    8.08  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   21.34   15.20     범실   22.60   26.25  016

         한국전력                             상대전적       OK금융그룹   시즌
0         NaN             VS 구단 선택 한국전력 OK금융그룹          NaN  016
1  7위(6승 26패)  * 상대전적 : 21승 34패 * 시즌전적 : 1승 5패  4위(16승 16패)  016

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      29  2019.11.02  OK금융그룹   0:3   60   75  1h 22m  lose  016  한국전력
1      72  2019.11.29  OK금융그룹   3:2  111  104  2h 17m   win  016  한국전력
2      94  2019.12.13  OK금융그룹   0:3   64   75  1h 20m  lose  016  한국전력
3     132  2020.01.24  OK금융그룹   1:3   93   99  2h 01m  lose  016  한국전력
4     155  2020.02.07  OK금융그룹   0:3   71   78  1h 33m  lose  016  한국전력
5     189  2020.02.29  OK금융그룹   1:3   90   96  1h 53m  lose  016  한국전력

      한국전력             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    81.91   81.50     득점   87.83   85.75  016
1   46.75%  49.52%     공격  53.94%  50.89%  016
2   40.55%  44.00%   오픈공격  49.46%  43.30%  016
3   54.26%  47.83%  시간차공격  50.00%  59.09%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   45.24%  52.89%   후위공격  56.76%  55.12%  016
6   52.48%  61.22%     속공  58.75%  54.23%  016
7   53.52%  50.79%    퀵오픈  54.60%  53.44%  016
8     0.82    0.77     서브    1.95    1.51  016
9     2.00    2.23    블로킹    2.27    2.04  016
10    9.81    8.32     디그   10.36    8.70  016
11   11.80   11.32     세트   14.00   11.69  016
12    6.70    5.55    리시브    8.14    6.03  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   21.34   18.33     범실   27.67   26.47  016

         한국전력                             상대전적        우리카드   시즌
0         NaN               VS 구단 선택 한국전력 우리카드         NaN  016
1  7위(6승 26패)  * 상대전적 : 21승 32패 * 시즌전적 : 0승 5패  1위(25승 7패)  016

   경기 No.        경기일자   상대팀 세트스코어  득점   실점    경기시간    승패   시즌    홈팀
0      13  2019.10.23  우리카드   1:3  90   95  1h 56m  lose  016  한국전력
1      61  2019.11.22  우리카드   0:3  62   76  1h 24m  lose  016  한국전력
2     108  2019.12.25  우리카드   1:3  96  108  2h 06m  lose  016  한국전력
3     111  2019.12.31  우리카드   0:3  55   76  1h 20m  lose  016  한국전력
4     162  2020.02.12  우리카드   2:3  85  109  2h 02m  lose  016  한국전력

      한국전력             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    81.91   77.60     득점   92.80   90.47  016
1   46.75%  45.07%     공격  56.46%  52.18%  016
2   40.55%  38.59%   오픈공격  44.63%  41.84%  016
3   54.26%  60.71%  시간차공격  80.00%  75.00%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   45.24%  36.97%   후위공격  58.33%  53.63%  016
6   52.48%  50.00%     속공  69.70%  60.34%  016
7   53.52%  54.30%    퀵오픈  61.07%  57.07%  016
8     0.82    0.63     서브    0.84    1.26  016
9     2.00    1.74    블로킹    2.37    2.44  016
10    9.81    9.95     디그   11.89   10.71  016
11   11.80   12.16     세트   14.47   12.78  016
12    6.70    9.05    리시브    8.47    6.97  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   21.34   23.40     범실   18.80   19.88  016

        OK금융그룹                             상대전적        대한항공   시즌
0          NaN             VS 구단 선택 OK금융그룹 대한항공         NaN  016
1  4위(16승 16패)  * 상대전적 : 18승 34패 * 시즌전적 : 1승 4패  2위(23승 8패)  016

   경기 No.        경기일자   상대팀 세트스코어  득점   실점    경기시간    승패   시즌      홈팀
0      17  2019.10.25  대한항공   3:0  75   61  1h 19m   win  016  OK금융그룹
1      57  2019.11.20  대한항공   2:3  90  111  2h 05m  lose  016  OK금융그룹
2      83  2019.12.06  대한항공   1:3  76  102  1h 54m  lose  016  OK금융그룹
3     137  2020.01.27  대한항공   0:3  56   75  1h 22m  lose  016  OK금융그룹
4     142  2020.01.30  대한항공   0:3  62   77  1h 26m  lose  016  OK금융그룹

    OK금융그룹             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.75   71.80     득점   85.20   89.74  016
1   50.89%  51.02%     공격  60.37%  55.49%  016
2   43.30%  41.35%   오픈공격  52.76%  46.66%  016
3   59.09%  62.50%  시간차공격  50.00%  35.29%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   55.12%  66.99%   후위공격  64.63%  57.51%  016
6   54.23%  48.08%     속공  54.10%  62.61%  016
7   53.44%  47.96%    퀵오픈  70.19%  60.68%  016
8     1.51    0.72     서브    1.39    1.62  016
9     2.04    1.61    블로킹    2.72    2.50  016
10    8.70    5.72     디그    8.28    9.46  016
11   11.69   10.44     세트   12.11   13.05  016
12    6.03    5.50    리시브    5.83    7.43  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.47   24.60     범실   23.20   26.39  016

        OK금융그룹                             상대전적         삼성화재   시즌
0          NaN             VS 구단 선택 OK금융그룹 삼성화재          NaN  016
1  4위(16승 16패)  * 상대전적 : 33승 24패 * 시즌전적 : 4승 1패  5위(13승 19패)  016

   경기 No.        경기일자   상대팀 세트스코어  득점   실점    경기시간    승패   시즌      홈팀
0       4  2019.10.16  삼성화재   3:1  99   87  1h 51m   win  016  OK금융그룹
1      46  2019.11.13  삼성화재   3:2  98  102  2h 07m   win  016  OK금융그룹
2     104  2019.12.20  삼성화재   0:3  69   77  1h 34m  lose  016  OK금융그룹
3     109  2019.12.28  삼성화재   3:0  75   63  1h 22m   win  016  OK금융그룹
4     177  2020.02.21  삼성화재   3:1  94   87  1h 48m   win  016  OK금융그룹

    OK금융그룹             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.75   87.00     득점   83.20   84.50  016
1   50.89%  52.25%     공격  52.45%  50.13%  016
2   43.30%  43.57%   오픈공격  48.86%  45.79%  016
3   59.09%  50.00%  시간차공격  57.14%  63.64%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   55.12%  51.61%   후위공격  49.52%  48.85%  016
6   54.23%  62.50%     속공  62.50%  53.65%  016
7   53.44%  57.14%    퀵오픈  56.47%  56.30%  016
8     1.51    2.00     서브    0.89    1.03  016
9     2.04    2.42    블로킹    2.11    1.95  016
10    8.70    8.26     디그    7.95    9.67  016
11   11.69   11.58     세트   11.47   11.82  016
12    6.03    6.26    리시브    3.68    5.32  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.47   26.80     범실   23.20   22.63  016

        OK금융그룹                             상대전적       KB손해보험   시즌
0          NaN           VS 구단 선택 OK금융그룹 KB손해보험          NaN  016
1  4위(16승 16패)  * 상대전적 : 28승 26패 * 시즌전적 : 3승 3패  6위(10승 23패)  016

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      24  2019.10.30  KB손해보험   3:2   97  107  2h 08m   win  016  OK금융그룹
1      51  2019.11.16  KB손해보험   3:2  102   96  2h 07m   win  016  OK금융그룹
2      77  2019.12.03  KB손해보험   0:3   71   77  1h 34m  lose  016  OK금융그룹
3     119  2020.01.16  KB손해보험   2:3  103  106  2h 08m  lose  016  OK금융그룹
4     149  2020.02.04  KB손해보험   0:3   64   75  1h 35m  lose  016  OK금융그룹
5     184  2020.02.26  KB손해보험   3:1   92   86  1h 54m   win  016  OK금융그룹

    OK금융그룹             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.75   88.17     득점   91.17   89.45  016
1   50.89%  50.25%     공격  51.32%  48.97%  016
2   43.30%  35.39%   오픈공격  47.34%  41.96%  016
3   59.09%  60.00%  시간차공격  73.33%  62.35%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   55.12%  58.02%   후위공격  52.17%  51.18%  016
6   54.23%  54.55%     속공  60.32%  51.28%  016
7   53.44%  56.07%    퀵오픈  49.59%  54.52%  016
8     1.51    1.36     서브    1.36    0.96  016
9     2.04    2.32    블로킹    2.72    2.28  016
10    8.70    9.04     디그    8.20    9.45  016
11   11.69   11.48     세트   11.00   12.08  016
12    6.03    5.52    리시브    5.56    6.76  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.47   25.17     범실   22.50   23.67  016

        OK금융그룹                             상대전적        현대캐피탈   시즌
0          NaN            VS 구단 선택 OK금융그룹 현대캐피탈          NaN  016
1  4위(16승 16패)  * 상대전적 : 17승 39패 * 시즌전적 : 1승 4패  3위(19승 13패)  016

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      33  2019.11.05  현대캐피탈   0:3   67   78  1h 36m  lose  016  OK금융그룹
1      64  2019.11.24  현대캐피탈   0:3   65   76  1h 29m  lose  016  OK금융그룹
2     107  2019.12.24  현대캐피탈   0:3   62   75  1h 27m  lose  016  OK금융그룹
3     113  2020.01.03  현대캐피탈   3:1   99   89  2h 02m   win  016  OK금융그룹
4     164  2020.02.13  현대캐피탈   2:3  101  111  2h 12m  lose  016  OK금융그룹

    OK금융그룹             VS    현대캐피탈           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    85.75   78.80     득점    85.80   92.81  016
1   50.89%  45.41%     공격   50.47%  51.24%  016
2   43.30%  42.38%   오픈공격   38.00%  41.14%  016
3   59.09%  60.00%  시간차공격  100.00%  66.67%  016
4    0.00%     NaN   이동공격      NaN   0.00%  016
5   55.12%  44.66%   후위공격   54.33%  54.28%  016
6   54.23%  52.38%     속공   65.08%  59.67%  016
7   53.44%  45.04%    퀵오픈   54.88%  56.38%  016
8     1.51    0.94     서브     1.50    1.14  016
9     2.04    1.67    블로킹     3.67    3.10  016
10    8.70    9.67     디그     9.17    9.58  016
11   11.69   10.89     세트    11.44   12.72  016
12    6.03    5.67    리시브     6.50    8.08  016
13    0.00    0.00     벌칙     0.00    0.00  016
14   26.47   24.40     범실    27.60   26.25  016

        OK금융그룹                             상대전적        한국전력   시즌
0          NaN             VS 구단 선택 OK금융그룹 한국전력         NaN  016
1  4위(16승 16패)  * 상대전적 : 34승 21패 * 시즌전적 : 5승 1패  7위(6승 26패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      29  2019.11.02  한국전력   3:0   75   60  1h 22m   win  016  OK금융그룹
1      72  2019.11.29  한국전력   2:3  104  111  2h 17m  lose  016  OK금융그룹
2      94  2019.12.13  한국전력   3:0   75   64  1h 20m   win  016  OK금융그룹
3     132  2020.01.24  한국전력   3:1   99   93  2h 01m   win  016  OK금융그룹
4     155  2020.02.07  한국전력   3:0   78   71  1h 33m   win  016  OK금융그룹
5     189  2020.02.29  한국전력   3:1   96   90  1h 53m   win  016  OK금융그룹

    OK금융그룹             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.75   87.83     득점   81.50   81.91  016
1   50.89%  53.94%     공격  49.52%  46.75%  016
2   43.30%  49.46%   오픈공격  44.00%  40.55%  016
3   59.09%  50.00%  시간차공격  47.83%  54.26%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   55.12%  56.76%   후위공격  52.89%  45.24%  016
6   54.23%  58.75%     속공  61.22%  52.48%  016
7   53.44%  54.60%    퀵오픈  50.79%  53.52%  016
8     1.51    1.95     서브    0.77    0.82  016
9     2.04    2.27    블로킹    2.23    2.00  016
10    8.70   10.36     디그    8.32    9.81  016
11   11.69   14.00     세트   11.32   11.80  016
12    6.03    8.14    리시브    5.55    6.70  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.47   27.67     범실   18.33   21.34  016

        OK금융그룹                             상대전적        우리카드   시즌
0          NaN             VS 구단 선택 OK금융그룹 우리카드         NaN  016
1  4위(16승 16패)  * 상대전적 : 26승 28패 * 시즌전적 : 2승 3패  1위(25승 7패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       9  2019.10.20  우리카드   3:1   97   92  2h 01m   win  016  OK금융그룹
1      40  2019.11.09  우리카드   2:3  110  115  2h 20m  lose  016  OK금융그룹
2      88  2019.12.10  우리카드   3:2  115  105  2h 23m   win  016  OK금융그룹
3     124  2020.01.19  우리카드   2:3   98  105  2h 15m  lose  016  OK금융그룹
4     169  2020.02.16  우리카드   1:3   80   97  1h 48m  lose  016  OK금융그룹

    OK금융그룹             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.75  100.00     득점  102.80   90.47  016
1   50.89%  51.67%     공격  51.85%  52.18%  016
2   43.30%  46.89%   오픈공격  35.42%  41.84%  016
3   59.09%  78.57%  시간차공격  86.67%  75.00%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   55.12%  51.85%   후위공격  58.00%  53.63%  016
6   54.23%  47.06%     속공  63.49%  60.34%  016
7   53.44%  56.94%    퀵오픈  60.84%  57.07%  016
8     1.51    1.91     서브    1.70    1.26  016
9     2.04    1.83    블로킹    2.48    2.44  016
10    8.70    8.70     디그    8.65   10.71  016
11   11.69   11.39     세트   11.13   12.78  016
12    6.03    5.09    리시브    4.91    6.97  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   26.47   30.20     범실   27.00   19.88  016

         우리카드                             상대전적        대한항공   시즌
0         NaN               VS 구단 선택 우리카드 대한항공         NaN  016
1  1위(25승 7패)  * 상대전적 : 19승 38패 * 시즌전적 : 2승 3패  2위(23승 8패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      26  2019.10.31  대한항공   0:3   62   76  1h 33m  lose  016  우리카드
1      35  2019.11.06  대한항공   0:3   66   79  1h 32m  lose  016  우리카드
2     102  2019.12.19  대한항공   3:2  117  113  2h 27m   win  016  우리카드
3     114  2020.01.04  대한항공   3:0   75   62  1h 26m   win  016  우리카드
4     158  2020.02.09  대한항공   1:3   94  104  2h 04m  lose  016  우리카드

      우리카드             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.47   82.80     득점   86.80   89.74  016
1   52.18%  48.05%     공격  55.06%  55.49%  016
2   41.84%  39.86%   오픈공격  45.60%  46.66%  016
3   75.00%  66.67%  시간차공격  16.67%  35.29%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   53.63%  41.94%   후위공격  60.36%  57.51%  016
6   60.34%  52.54%     속공  71.88%  62.61%  016
7   57.07%  57.23%    퀵오픈  57.25%  60.68%  016
8     1.26    1.28     서브    1.61    1.62  016
9     2.44    2.33    블로킹    2.61    2.50  016
10   10.71    9.61     디그   11.33    9.46  016
11   12.78   12.00     세트   14.72   13.05  016
12    6.97    5.94    리시브    6.78    7.43  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   19.88   17.20     범실   25.40   26.39  016

         우리카드                             상대전적         삼성화재   시즌
0         NaN               VS 구단 선택 우리카드 삼성화재          NaN  016
1  1위(25승 7패)  * 상대전적 : 20승 32패 * 시즌전적 : 5승 0패  5위(13승 19패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간   승패   시즌    홈팀
0       2  2019.10.13  삼성화재   3:0   75   53  1h 25m  win  016  우리카드
1      68  2019.11.27  삼성화재   3:0   75   56  1h 17m  win  016  우리카드
2      79  2019.12.04  삼성화재   3:2  113  103  2h 12m  win  016  우리카드
3     135  2020.01.26  삼성화재   3:0   75   50  1h 20m  win  016  우리카드
4     145  2020.02.01  삼성화재   3:0   75   51  1h 13m  win  016  우리카드

      우리카드             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.47   82.60     득점   62.60   84.50  016
1   52.18%  52.64%     공격  44.04%  50.13%  016
2   41.84%  42.45%   오픈공격  37.84%  45.79%  016
3   75.00%  91.67%  시간차공격  57.14%  63.64%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   53.63%  59.30%   후위공격  46.53%  48.85%  016
6   60.34%  54.39%     속공  46.00%  53.65%  016
7   57.07%  54.92%    퀵오픈  50.98%  56.30%  016
8     1.26    1.59     서브    0.82    1.03  016
9     2.44    3.00    블로킹    1.24    1.95  016
10   10.71   11.53     디그   10.24    9.67  016
11   12.78   12.35     세트   11.24   11.82  016
12    6.97    6.18    리시브    4.82    5.32  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   19.88   16.40     범실   22.80   22.63  016

         우리카드                             상대전적       KB손해보험   시즌
0         NaN             VS 구단 선택 우리카드 KB손해보험          NaN  016
1  1위(25승 7패)  * 상대전적 : 29승 24패 * 시즌전적 : 5승 1패  6위(10승 23패)  016

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      20  2019.10.27  KB손해보험   3:2  109  104  2h 11m   win  016  우리카드
1      55  2019.11.19  KB손해보험   3:0   75   57  1h 20m   win  016  우리카드
2      84  2019.12.07  KB손해보험   2:3  106  102  2h 21m  lose  016  우리카드
3     128  2020.01.22  KB손해보험   3:0   77   71  1h 40m   win  016  우리카드
4     175  2020.02.20  KB손해보험   3:0   78   70  1h 40m   win  016  우리카드
5     180  2020.02.23  KB손해보험   3:0   75   59  1h 24m   win  016  우리카드

      우리카드             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.47   86.67     득점   77.17   89.45  016
1   52.18%  52.28%     공격  46.36%  48.97%  016
2   41.84%  45.00%   오픈공격  42.79%  41.96%  016
3   75.00%  55.56%  시간차공격  44.44%  62.35%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   53.63%  50.77%   후위공격  46.11%  51.18%  016
6   60.34%  58.14%     속공  44.83%  51.28%  016
7   57.07%  57.63%    퀵오픈  52.15%  54.52%  016
8     1.26    0.95     서브    0.50    0.96  016
9     2.44    2.41    블로킹    1.68    2.28  016
10   10.71   11.86     디그   11.55    9.45  016
11   12.78   13.64     세트   12.77   12.08  016
12    6.97    8.73    리시브    6.95    6.76  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   19.88   20.33     범실   22.83   23.67  016

         우리카드                             상대전적        현대캐피탈   시즌
0         NaN              VS 구단 선택 우리카드 현대캐피탈          NaN  016
1  1위(25승 7패)  * 상대전적 : 17승 38패 * 시즌전적 : 5승 1패  3위(19승 13패)  016

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       5  2019.10.17  현대캐피탈   3:2  104  106  2h 10m   win  016  우리카드
1      50  2019.11.15  현대캐피탈   3:1   97   82  1h 56m   win  016  우리카드
2      95  2019.12.14  현대캐피탈   0:3   77   89  1h 43m  lose  016  우리카드
3     117  2020.01.15  현대캐피탈   3:1   98   83  1h 56m   win  016  우리카드
4     151  2020.02.05  현대캐피탈   3:0   83   77  1h 44m   win  016  우리카드
5     186  2020.02.27  현대캐피탈   3:2  111  102  2h 09m   win  016  우리카드

      우리카드             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.47   95.00     득점   89.83   92.81  016
1   52.18%  51.67%     공격  50.73%  51.24%  016
2   41.84%  43.81%   오픈공격  37.13%  41.14%  016
3   75.00%  69.23%  시간차공격  50.00%  66.67%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   53.63%  54.23%   후위공격  55.23%  54.28%  016
6   60.34%  62.67%     속공  60.71%  59.67%  016
7   57.07%  52.20%    퀵오픈  59.48%  56.38%  016
8     1.26    1.21     서브    0.79    1.14  016
9     2.44    2.17    블로킹    2.38    3.10  016
10   10.71   10.92     디그   10.42    9.58  016
11   12.78   13.13     세트   13.67   12.72  016
12    6.97    7.46    리시브    8.92    8.08  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   19.88   19.50     범실   27.17   26.25  016

         우리카드                             상대전적        한국전력   시즌
0         NaN               VS 구단 선택 우리카드 한국전력         NaN  016
1  1위(25승 7패)  * 상대전적 : 32승 21패 * 시즌전적 : 5승 0패  7위(6승 26패)  016

   경기 No.        경기일자   상대팀 세트스코어   득점  실점    경기시간   승패   시즌    홈팀
0      13  2019.10.23  한국전력   3:1   95  90  1h 56m  win  016  우리카드
1      61  2019.11.22  한국전력   3:0   76  62  1h 24m  win  016  우리카드
2     108  2019.12.25  한국전력   3:1  108  96  2h 06m  win  016  우리카드
3     111  2019.12.31  한국전력   3:0   76  55  1h 20m  win  016  우리카드
4     162  2020.02.12  한국전력   3:2  109  85  2h 02m  win  016  우리카드

      우리카드             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.47   92.80     득점   77.60   81.91  016
1   52.18%  56.46%     공격  45.07%  46.75%  016
2   41.84%  44.63%   오픈공격  38.59%  40.55%  016
3   75.00%  80.00%  시간차공격  60.71%  54.26%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   53.63%  58.33%   후위공격  36.97%  45.24%  016
6   60.34%  69.70%     속공  50.00%  52.48%  016
7   57.07%  61.07%    퀵오픈  54.30%  53.52%  016
8     1.26    0.84     서브    0.63    0.82  016
9     2.44    2.37    블로킹    1.74    2.00  016
10   10.71   11.89     디그    9.95    9.81  016
11   12.78   14.47     세트   12.16   11.80  016
12    6.97    8.47    리시브    9.05    6.70  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   19.88   18.80     범실   23.40   21.34  016

         우리카드                             상대전적       OK금융그룹   시즌
0         NaN             VS 구단 선택 우리카드 OK금융그룹          NaN  016
1  1위(25승 7패)  * 상대전적 : 28승 26패 * 시즌전적 : 3승 2패  4위(16승 16패)  016

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       9  2019.10.20  OK금융그룹   1:3   92   97  2h 01m  lose  016  우리카드
1      40  2019.11.09  OK금융그룹   3:2  115  110  2h 20m   win  016  우리카드
2      88  2019.12.10  OK금융그룹   2:3  105  115  2h 23m  lose  016  우리카드
3     124  2020.01.19  OK금융그룹   3:2  105   98  2h 15m   win  016  우리카드
4     169  2020.02.16  OK금융그룹   3:1   97   80  1h 48m   win  016  우리카드

      우리카드             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.47  102.80     득점  100.00   85.75  016
1   52.18%  51.85%     공격  51.67%  50.89%  016
2   41.84%  35.42%   오픈공격  46.89%  43.30%  016
3   75.00%  86.67%  시간차공격  78.57%  59.09%  016
4    0.00%     NaN   이동공격     NaN   0.00%  016
5   53.63%  58.00%   후위공격  51.85%  55.12%  016
6   60.34%  63.49%     속공  47.06%  54.23%  016
7   57.07%  60.84%    퀵오픈  56.94%  53.44%  016
8     1.26    1.70     서브    1.91    1.51  016
9     2.44    2.48    블로킹    1.83    2.04  016
10   10.71    8.65     디그    8.70    8.70  016
11   12.78   11.13     세트   11.39   11.69  016
12    6.97    4.91    리시브    5.09    6.03  016
13    0.00    0.00     벌칙    0.00    0.00  016
14   19.88   27.00     범실   30.20   26.47  016

          대한항공                             상대전적        삼성화재   시즌
0          NaN               VS 구단 선택 대한항공 삼성화재         NaN  017
1  1위(26승 10패)  * 상대전적 : 52승 73패 * 시즌전적 : 6승 0패  7위(6승 30패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점  실점    경기시간   승패   시즌    홈팀
0       6  2020.10.21  삼성화재   3:1   95  80  1h 49m  win  017  대한항공
1      49  2020.11.19  삼성화재   3:2  101  91  2h 03m  win  017  대한항공
2      79  2020.12.09  삼성화재   3:0   76  70  1h 37m  win  017  대한항공
3     120  2021.01.09  삼성화재   3:1   97  79  1h 48m  win  017  대한항공
4     148  2021.01.29  삼성화재   3:1   98  90  1h 57m  win  017  대한항공
5     205  2021.03.21  삼성화재   3:0   75  62  1h 26m  win  017  대한항공

      대한항공              VS    삼성화재           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    93.75    90.33     득점   78.67   83.08  017
1   52.51%   53.97%     공격  48.28%  49.34%  017
2   46.58%   46.49%   오픈공격  38.36%  43.40%  017
3   62.50%  100.00%  시간차공격  50.00%  58.00%  017
4    0.00%      NaN   이동공격     NaN   0.00%  017
5   56.31%   55.12%   후위공격  58.14%  52.96%  017
6   57.69%   62.24%     속공  42.25%  51.88%  017
7   54.95%   56.92%    퀵오픈  58.82%  54.59%  017
8     1.54     1.87     서브    0.91    1.02  017
9     2.32     2.70    블로킹    1.87    1.90  017
10   10.29     8.83     디그    8.57    8.48  017
11   12.98    12.26     세트   11.74   11.75  017
12    7.23     6.83    리시브    6.22    6.21  017
13    0.03     0.00     벌칙    0.00    0.00  017
14   24.58    21.17     범실   24.17   25.94  017

          대한항공                             상대전적       KB손해보험   시즌
0          NaN             VS 구단 선택 대한항공 KB손해보험          NaN  017
1  1위(26승 10패)  * 상대전적 : 71승 39패 * 시즌전적 : 4승 2패  3위(19승 17패)  017

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      19  2020.10.30  KB손해보험   1:3   87   94  1h 53m  lose  017  대한항공
1      62  2020.11.28  KB손해보험   1:3   90   94  1h 53m  lose  017  대한항공
2      83  2020.12.12  KB손해보험   3:2  120  113  2h 32m   win  017  대한항공
3     129  2021.01.15  KB손해보험   3:2  105  100  2h 11m   win  017  대한항공
4     155  2021.02.03  KB손해보험   3:0   75   50  1h 17m   win  017  대한항공
5     197  2021.03.14  KB손해보험   3:0   75   55  1h 23m   win  017  대한항공

      대한항공              VS  KB손해보험           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    93.75    92.00     득점   84.33   88.50  017
1   52.51%   53.28%     공격  50.57%  51.35%  017
2   46.58%   42.42%   오픈공격  43.48%  45.37%  017
3   62.50%  100.00%  시간차공격  60.00%  68.49%  017
4    0.00%      NaN   이동공격     NaN   0.00%  017
5   56.31%   60.47%   후위공격  57.14%  53.73%  017
6   57.69%   61.46%     속공  39.71%  50.40%  017
7   54.95%   58.70%    퀵오픈  58.99%  58.03%  017
8     1.54     1.46     서브    1.08    1.38  017
9     2.32     1.88    블로킹    1.75    1.90  017
10   10.29     9.92     디그    8.83    9.17  017
11   12.98    12.67     세트   12.50   12.63  017
12    7.23     6.83    리시브    6.46    6.12  017
13    0.03     0.00     벌칙    0.00    0.00  017
14   24.58    21.33     범실   25.83   26.31  017

          대한항공                             상대전적        현대캐피탈   시즌
0          NaN              VS 구단 선택 대한항공 현대캐피탈          NaN  017
1  1위(26승 10패)  * 상대전적 : 64승 71패 * 시즌전적 : 5승 1패  6위(15승 21패)  017

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      27  2020.11.04  현대캐피탈   3:1   97   88  1h 53m   win  017  대한항공
1      37  2020.11.11  현대캐피탈   3:0   75   58  1h 22m   win  017  대한항공
2      91  2020.12.18  현대캐피탈   3:1   96   80  1h 54m   win  017  대한항공
3     116  2021.01.06  현대캐피탈   2:3  112  112  2h 25m  lose  017  대한항공
4     173  2021.02.16  현대캐피탈   3:0   75   59  1h 23m   win  017  대한항공
5     209  2021.03.25  현대캐피탈   3:0   83   65  1h 30m   win  017  대한항공

      대한항공             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    93.75   89.67     득점   77.00   87.67  017
1   52.51%  54.26%     공격  46.38%  49.79%  017
2   46.58%  49.55%   오픈공격  33.89%  42.49%  017
3   62.50%  50.00%  시간차공격  50.00%  66.04%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   56.31%  57.66%   후위공격  46.34%  49.27%  017
6   57.69%  58.51%     속공  50.00%  54.74%  017
7   54.95%  56.25%    퀵오픈  58.44%  55.23%  017
8     1.54    1.32     서브    0.45    0.87  017
9     2.32    2.41    블로킹    1.86    2.43  017
10   10.29   10.45     디그    9.00    9.45  017
11   12.98   13.55     세트   11.45   11.88  017
12    7.23    7.36    리시브    8.00    7.06  017
13    0.03    0.00     벌칙    0.00    0.00  017
14   24.58   24.67     범실   24.00   25.03  017

          대한항공                             상대전적         한국전력   시즌
0          NaN               VS 구단 선택 대한항공 한국전력          NaN  017
1  1위(26승 10패)  * 상대전적 : 87승 21패 * 시즌전적 : 3승 3패  5위(18승 18패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      33  2020.11.08  한국전력   3:0   77   67  1h 35m   win  017  대한항공
1      44  2020.11.15  한국전력   1:3   85  100  2h 07m  lose  017  대한항공
2      75  2020.12.06  한국전력   3:2  112  103  2h 18m   win  017  대한항공
3     111  2020.12.31  한국전력   2:3  114  113  2h 33m  lose  017  대한항공
4     167  2021.02.11  한국전력   1:3   95   93  2h 04m  lose  017  대한항공
5     201  2021.03.17  한국전력   3:0   84   71  1h 45m   win  017  대한항공

      대한항공             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    93.75   94.50     득점   91.17   92.94  017
1   52.51%  47.06%     공격  45.33%  49.00%  017
2   46.58%  44.40%   오픈공격  40.07%  44.04%  017
3   62.50%  50.00%  시간차공격  54.55%  51.90%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   56.31%  45.52%   후위공격  48.50%  47.89%  017
6   57.69%  52.58%     속공  42.70%  57.59%  017
7   54.95%  48.54%    퀵오픈  54.17%  56.05%  017
8     1.54    1.92     서브    1.38    1.42  017
9     2.32    2.33    블로킹    2.83    2.48  017
10   10.29   13.00     디그   11.54    9.58  017
11   12.98   12.83     세트   11.67   11.39  017
12    7.23    7.54    리시브    6.63    6.46  017
13    0.03    0.17     벌칙    0.00    0.00  017
14   24.58   23.83     범실   24.17   24.72  017

          대한항공                             상대전적       OK금융그룹   시즌
0          NaN             VS 구단 선택 대한항공 OK금융그룹          NaN  017
1  1위(26승 10패)  * 상대전적 : 34승 18패 * 시즌전적 : 5승 1패  4위(19승 17패)  017

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      13  2020.10.25  OK금융그룹   2:3  108  114  2h 33m  lose  017  대한항공
1      70  2020.12.03  OK금융그룹   3:1   96   79  1h 51m   win  017  대한항공
2      98  2020.12.23  OK금융그룹   3:2  108  106  2h 21m   win  017  대한항공
3     139  2021.01.22  OK금융그룹   3:0   76   64  1h 25m   win  017  대한항공
4     160  2021.02.06  OK금융그룹   3:2  105  102  2h 18m   win  017  대한항공
5     215  2021.04.01  OK금융그룹   3:1   97   79  1h 56m   win  017  대한항공

      대한항공              VS  OK금융그룹           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    93.75    98.33     득점   90.67   92.06  017
1   52.51%   53.85%     공격  47.59%  50.27%  017
2   46.58%   50.00%   오픈공격  42.86%  40.53%  017
3   62.50%  100.00%  시간차공격  50.00%  64.71%  017
4    0.00%      NaN   이동공격     NaN   0.00%  017
5   56.31%   60.71%   후위공격  57.14%  56.78%  017
6   57.69%   55.56%     속공  51.25%  53.55%  017
7   54.95%   53.15%    퀵오픈  44.85%  56.19%  017
8     1.54     1.27     서브    0.85    1.14  017
9     2.32     2.46    블로킹    2.23    2.35  017
10   10.29     9.96     디그    8.88    8.81  017
11   12.98    12.65     세트   11.12   11.77  017
12    7.23     6.65    리시브    6.38    6.43  017
13    0.03     0.00     벌칙    0.00    0.00  017
14   24.58    26.00     범실   23.83   24.36  017

          대한항공                             상대전적         우리카드   시즌
0          NaN               VS 구단 선택 대한항공 우리카드          NaN  017
1  1위(26승 10패)  * 상대전적 : 38승 19패 * 시즌전적 : 6승 5패  2위(23승 13패)  017

    경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0        1  2020.10.17  우리카드   3:2  111   98  2h 22m   win  017  대한항공
1       56  2020.11.24  우리카드   3:1   91   85  1h 52m   win  017  대한항공
2      105  2020.12.27  우리카드   2:3  107  108  2h 19m  lose  017  대한항공
3      124  2021.01.12  우리카드   2:3  114  113  2h 26m  lose  017  대한항공
4      180  2021.02.20  우리카드   0:3   69   84  1h 34m  lose  017  대한항공
5      212  2021.03.29  우리카드   3:1   94   86  1h 55m   win  017  대한항공
6      225  2021.04.11  우리카드   0:3   71   78  1h 37m  lose  017  대한항공
7      227  2021.04.12  우리카드   3:2  115  107  2h 28m   win  017  대한항공
8      229  2021.04.14  우리카드   0:3   63   76  1h 39m  lose  017  대한항공
9      231  2021.04.15  우리카드   3:0   75   61  1h 22m   win  017  대한항공
10     233  2021.04.17  우리카드   3:1  104   94  2h 08m   win  017  대한항공

      대한항공             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    93.75   97.67     득점   95.67   87.97  017
1   52.51%  53.33%     공격  50.08%  52.70%  017
2   46.58%  46.15%   오픈공격  40.99%  43.10%  017
3   62.50%   0.00%  시간차공격  68.00%  66.92%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   56.31%  58.28%   후위공격  56.71%  57.71%  017
6   57.69%  55.77%     속공  46.67%  55.90%  017
7   54.95%  58.20%    퀵오픈  55.63%  57.84%  017
8     1.54    1.46     서브    0.81    1.12  017
9     2.32    2.15    블로킹    1.81    1.93  017
10   10.29    9.62     디그    9.65    9.69  017
11   12.98   13.88     세트   12.00   12.54  017
12    7.23    8.12    리시브    6.69    6.44  017
13    0.03    0.00     벌칙    0.00    0.00  017
14   24.58   30.50     범실   19.33   19.50  017

         삼성화재                             상대전적         대한항공   시즌
0         NaN               VS 구단 선택 삼성화재 대한항공          NaN  017
1  7위(6승 30패)  * 상대전적 : 73승 52패 * 시즌전적 : 0승 6패  1위(26승 10패)  017

   경기 No.        경기일자   상대팀 세트스코어  득점   실점    경기시간    승패   시즌    홈팀
0       6  2020.10.21  대한항공   1:3  80   95  1h 49m  lose  017  삼성화재
1      49  2020.11.19  대한항공   2:3  91  101  2h 03m  lose  017  삼성화재
2      79  2020.12.09  대한항공   0:3  70   76  1h 37m  lose  017  삼성화재
3     120  2021.01.09  대한항공   1:3  79   97  1h 48m  lose  017  삼성화재
4     148  2021.01.29  대한항공   1:3  90   98  1h 57m  lose  017  삼성화재
5     205  2021.03.21  대한항공   0:3  62   75  1h 26m  lose  017  삼성화재

      삼성화재             VS     대한항공           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    83.08   78.67     득점    90.33   93.75  017
1   49.34%  48.28%     공격   53.97%  52.51%  017
2   43.40%  38.36%   오픈공격   46.49%  46.58%  017
3   58.00%  50.00%  시간차공격  100.00%  62.50%  017
4    0.00%     NaN   이동공격      NaN   0.00%  017
5   52.96%  58.14%   후위공격   55.12%  56.31%  017
6   51.88%  42.25%     속공   62.24%  57.69%  017
7   54.59%  58.82%    퀵오픈   56.92%  54.95%  017
8     1.02    0.91     서브     1.87    1.54  017
9     1.90    1.87    블로킹     2.70    2.32  017
10    8.48    8.57     디그     8.83   10.29  017
11   11.75   11.74     세트    12.26   12.98  017
12    6.21    6.22    리시브     6.83    7.23  017
13    0.00    0.00     벌칙     0.00    0.03  017
14   25.94   24.17     범실    21.17   24.58  017

         삼성화재                             상대전적       KB손해보험   시즌
0         NaN             VS 구단 선택 삼성화재 KB손해보험          NaN  017
1  7위(6승 30패)  * 상대전적 : 85승 30패 * 시즌전적 : 2승 4패  3위(19승 17패)  017

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      25  2020.11.03  KB손해보험   2:3  102  109  2h 15m  lose  017  삼성화재
1      58  2020.11.25  KB손해보험   2:3   97  110  2h 09m  lose  017  삼성화재
2      90  2020.12.17  KB손해보험   3:0   75   60  1h 25m   win  017  삼성화재
3     114  2021.01.05  KB손해보험   3:2  103   95  2h 04m   win  017  삼성화재
4     166  2021.02.10  KB손해보험   0:3   60   75  1h 28m  lose  017  삼성화재
5     202  2021.03.18  KB손해보험   2:3   94  108  2h 14m  lose  017  삼성화재

      삼성화재             VS   KB손해보험           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    83.08   88.50     득점    92.83   88.50  017
1   49.34%  50.85%     공격   52.85%  51.35%  017
2   43.40%  47.08%   오픈공격   44.49%  45.37%  017
3   58.00%  77.78%  시간차공격  100.00%  68.49%  017
4    0.00%     NaN   이동공격      NaN   0.00%  017
5   52.96%  53.15%   후위공격   54.43%  53.73%  017
6   51.88%  55.56%     속공   62.00%  50.40%  017
7   54.59%  51.43%    퀵오픈   60.87%  58.03%  017
8     1.02    0.96     서브     1.62    1.38  017
9     1.90    1.85    블로킹     2.08    1.90  017
10    8.48    7.35     디그     7.85    9.17  017
11   11.75   11.00     세트    11.73   12.63  017
12    6.21    5.92    리시브     4.92    6.12  017
13    0.00    0.00     벌칙     0.00    0.00  017
14   25.94   24.17     범실    26.50   26.31  017

         삼성화재                             상대전적        현대캐피탈   시즌
0         NaN              VS 구단 선택 삼성화재 현대캐피탈          NaN  017
1  7위(6승 30패)  * 상대전적 : 79승 61패 * 시즌전적 : 1승 5패  6위(15승 21패)  017

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      11  2020.10.24  현대캐피탈   2:3  104  108  2h 12m  lose  017  삼성화재
1      42  2020.11.14  현대캐피탈   3:0   75   58  1h 27m   win  017  삼성화재
2     107  2020.12.29  현대캐피탈   0:3   66   79  1h 32m  lose  017  삼성화재
3     126  2021.01.13  현대캐피탈   0:3   68   75  1h 34m  lose  017  삼성화재
4     178  2021.02.19  현대캐피탈   0:3   60   76  1h 21m  lose  017  삼성화재
5     214  2021.03.31  현대캐피탈   0:3   61   75  1h 19m  lose  017  삼성화재

      삼성화재             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    83.08   72.33     득점   78.50   87.67  017
1   49.34%  49.32%     공격  50.74%  49.79%  017
2   43.40%  39.81%   오픈공격  44.51%  42.49%  017
3   58.00%  40.00%  시간차공격  66.67%  66.04%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   52.96%  56.00%   후위공격  54.00%  49.27%  017
6   51.88%  59.68%     속공  50.91%  54.74%  017
7   54.59%  55.24%    퀵오픈  55.91%  55.23%  017
8     1.02    1.20     서브    1.20    0.87  017
9     1.90    1.50    블로킹    3.30    2.43  017
10    8.48    9.25     디그    8.75    9.45  017
11   11.75   12.10     세트   11.10   11.88  017
12    6.21    5.30    리시브    6.25    7.06  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   25.94   23.33     범실   20.83   25.03  017

         삼성화재                             상대전적         한국전력   시즌
0         NaN               VS 구단 선택 삼성화재 한국전력          NaN  017
1  7위(6승 30패)  * 상대전적 : 82승 26패 * 시즌전적 : 3승 3패  5위(18승 18패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       3  2020.10.18  한국전력   3:2  109  109  2h 20m   win  017  삼성화재
1      54  2020.11.22  한국전력   2:3   93  104  2h 04m  lose  017  삼성화재
2     101  2020.12.25  한국전력   1:3   87  100  1h 55m  lose  017  삼성화재
3     138  2021.01.21  한국전력   2:3  112  117  2h 17m  lose  017  삼성화재
4     171  2021.02.14  한국전력   3:2   99  100  2h 09m   win  017  삼성화재
5     208  2021.03.24  한국전력   3:1   92   81  1h 51m   win  017  삼성화재

      삼성화재             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    83.08   98.67     득점  101.83   92.94  017
1   49.34%  48.82%     공격  45.31%  49.00%  017
2   43.40%  47.06%   오픈공격  40.13%  44.04%  017
3   58.00%  83.33%  시간차공격  52.38%  51.90%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   52.96%  52.07%   후위공격  44.74%  47.89%  017
6   51.88%  40.26%     속공  58.62%  57.59%  017
7   54.59%  51.30%    퀵오픈  48.21%  56.05%  017
8     1.02    1.00     서브    1.79    1.42  017
9     1.90    2.54    블로킹    2.86    2.48  017
10    8.48    8.64     디그    9.71    9.58  017
11   11.75   11.29     세트   10.46   11.39  017
12    6.21    6.29    리시브    6.36    6.46  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   25.94   29.50     범실   26.83   24.72  017

         삼성화재                             상대전적       OK금융그룹   시즌
0         NaN             VS 구단 선택 삼성화재 OK금융그룹          NaN  017
1  7위(6승 30패)  * 상대전적 : 24승 33패 * 시즌전적 : 0승 6패  4위(19승 17패)  017

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      29  2020.11.06  OK금융그룹   2:3  116  122  2h 31m  lose  017  삼성화재
1      64  2020.11.29  OK금융그룹   1:3   89   95  1h 59m  lose  017  삼성화재
2      85  2020.12.13  OK금융그룹   2:3  102  109  2h 16m  lose  017  삼성화재
3     112  2021.01.01  OK금융그룹   0:3   62   77  1h 28m  lose  017  삼성화재
4     154  2021.02.02  OK금융그룹   1:3   93  103  2h 14m  lose  017  삼성화재
5     211  2021.03.28  OK금융그룹   0:3   57   75  1h 24m  lose  017  삼성화재

      삼성화재             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    83.08   86.50     득점   96.83   92.06  017
1   49.34%  50.39%     공격  52.72%  50.27%  017
2   43.40%  42.70%   오픈공격  45.77%  40.53%  017
3   58.00%  44.44%  시간차공격  57.14%  64.71%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   52.96%  54.86%   후위공격  60.15%  56.78%  017
6   51.88%  51.43%     속공  55.07%  53.55%  017
7   54.59%  60.56%    퀵오픈  54.23%  56.19%  017
8     1.02    1.00     서브    1.42    1.14  017
9     1.90    1.67    블로킹    3.25    2.35  017
10    8.48    9.21     디그    8.33    8.81  017
11   11.75   12.79     세트   11.50   11.77  017
12    6.21    6.88    리시브    6.00    6.43  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   25.94   29.50     범실   22.17   24.36  017

         삼성화재                             상대전적         우리카드   시즌
0         NaN               VS 구단 선택 삼성화재 우리카드          NaN  017
1  7위(6승 30패)  * 상대전적 : 32승 20패 * 시즌전적 : 0승 6패  2위(23승 13패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      18  2020.10.29  우리카드   0:3   61   75  1h 25m  lose  017  삼성화재
1      71  2020.12.04  우리카드   0:3   64   75  1h 26m  lose  017  삼성화재
2      95  2020.12.20  우리카드   2:3  104  107  2h 11m  lose  017  삼성화재
3     131  2021.01.16  우리카드   0:3   61   75  1h 20m  lose  017  삼성화재
4     158  2021.02.05  우리카드   0:3   55   75  1h 21m  lose  017  삼성화재
5     193  2021.03.11  우리카드   2:3   98  107  2h 09m  lose  017  삼성화재

      삼성화재             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    83.08   73.83     득점   85.67   87.97  017
1   49.34%  48.28%     공격  54.51%  52.70%  017
2   43.40%  44.54%   오픈공격  46.74%  43.10%  017
3   58.00%  55.56%  시간차공격  75.00%  66.92%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   52.96%  42.86%   후위공격  54.70%  57.71%  017
6   51.88%  66.15%     속공  60.00%  55.90%  017
7   54.59%  50.39%    퀵오픈  59.65%  57.84%  017
8     1.02    1.09     서브    1.36    1.12  017
9     1.90    1.82    블로킹    2.73    1.93  017
10    8.48    8.05     디그    8.50    9.69  017
11   11.75   11.77     세트   11.77   12.54  017
12    6.21    6.55    리시브    5.36    6.44  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   25.94   25.00     범실   18.83   19.50  017

        KB손해보험                             상대전적         대한항공   시즌
0          NaN             VS 구단 선택 KB손해보험 대한항공          NaN  017
1  3위(19승 17패)  * 상대전적 : 39승 71패 * 시즌전적 : 2승 4패  1위(26승 10패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      19  2020.10.30  대한항공   3:1   94   87  1h 53m   win  017  KB손해보험
1      62  2020.11.28  대한항공   3:1   94   90  1h 53m   win  017  KB손해보험
2      83  2020.12.12  대한항공   2:3  113  120  2h 32m  lose  017  KB손해보험
3     129  2021.01.15  대한항공   2:3  100  105  2h 11m  lose  017  KB손해보험
4     155  2021.02.03  대한항공   0:3   50   75  1h 17m  lose  017  KB손해보험
5     197  2021.03.14  대한항공   0:3   55   75  1h 23m  lose  017  KB손해보험

    KB손해보험             VS     대한항공           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    88.50   84.33     득점    92.00   93.75  017
1   51.35%  50.57%     공격   53.28%  52.51%  017
2   45.37%  43.48%   오픈공격   42.42%  46.58%  017
3   68.49%  60.00%  시간차공격  100.00%  62.50%  017
4    0.00%     NaN   이동공격      NaN   0.00%  017
5   53.73%  57.14%   후위공격   60.47%  56.31%  017
6   50.40%  39.71%     속공   61.46%  57.69%  017
7   58.03%  58.99%    퀵오픈   58.70%  54.95%  017
8     1.38    1.08     서브     1.46    1.54  017
9     1.90    1.75    블로킹     1.88    2.32  017
10    9.17    8.83     디그     9.92   10.29  017
11   12.63   12.50     세트    12.67   12.98  017
12    6.12    6.46    리시브     6.83    7.23  017
13    0.00    0.00     벌칙     0.00    0.03  017
14   26.31   25.83     범실    21.33   24.58  017

        KB손해보험                             상대전적        삼성화재   시즌
0          NaN             VS 구단 선택 KB손해보험 삼성화재         NaN  017
1  3위(19승 17패)  * 상대전적 : 30승 85패 * 시즌전적 : 4승 2패  7위(6승 30패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      25  2020.11.03  삼성화재   3:2  109  102  2h 15m   win  017  KB손해보험
1      58  2020.11.25  삼성화재   3:2  110   97  2h 09m   win  017  KB손해보험
2      90  2020.12.17  삼성화재   0:3   60   75  1h 25m  lose  017  KB손해보험
3     114  2021.01.05  삼성화재   2:3   95  103  2h 04m  lose  017  KB손해보험
4     166  2021.02.10  삼성화재   3:0   75   60  1h 28m   win  017  KB손해보험
5     202  2021.03.18  삼성화재   3:2  108   94  2h 14m   win  017  KB손해보험

    KB손해보험              VS    삼성화재           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    88.50    92.83     득점   88.50   83.08  017
1   51.35%   52.85%     공격  50.85%  49.34%  017
2   45.37%   44.49%   오픈공격  47.08%  43.40%  017
3   68.49%  100.00%  시간차공격  77.78%  58.00%  017
4    0.00%      NaN   이동공격     NaN   0.00%  017
5   53.73%   54.43%   후위공격  53.15%  52.96%  017
6   50.40%   62.00%     속공  55.56%  51.88%  017
7   58.03%   60.87%    퀵오픈  51.43%  54.59%  017
8     1.38     1.62     서브    0.96    1.02  017
9     1.90     2.08    블로킹    1.85    1.90  017
10    9.17     7.85     디그    7.35    8.48  017
11   12.63    11.73     세트   11.00   11.75  017
12    6.12     4.92    리시브    5.92    6.21  017
13    0.00     0.00     벌칙    0.00    0.00  017
14   26.31    26.50     범실   24.17   25.94  017

        KB손해보험                             상대전적        현대캐피탈   시즌
0          NaN            VS 구단 선택 KB손해보험 현대캐피탈          NaN  017
1  3위(19승 17패)  * 상대전적 : 27승 81패 * 시즌전적 : 6승 0패  6위(15승 21패)  017

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간   승패   시즌      홈팀
0      31  2020.11.07  현대캐피탈   3:2  110  115  2h 23m  win  017  KB손해보험
1      52  2020.11.21  현대캐피탈   3:0   84   67  1h 33m  win  017  KB손해보험
2      73  2020.12.05  현대캐피탈   3:0   79   62  1h 28m  win  017  KB손해보험
3     141  2021.01.23  현대캐피탈   3:2  117  113  2h 33m  win  017  KB손해보험
4     145  2021.01.27  현대캐피탈   3:1   92   85  1h 56m  win  017  KB손해보험
5     206  2021.03.22  현대캐피탈   3:1   94   90  2h 01m  win  017  KB손해보험

    KB손해보험             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    88.50   96.00     득점   88.67   87.67  017
1   51.35%  51.06%     공격  49.11%  49.79%  017
2   45.37%  45.64%   오픈공격  44.00%  42.49%  017
3   68.49%  66.67%  시간차공격  75.00%  66.04%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   53.73%  54.66%   후위공격  48.97%  49.27%  017
6   50.40%  48.81%     속공  63.10%  54.74%  017
7   58.03%  55.41%    퀵오픈  47.19%  55.23%  017
8     1.38    1.71     서브    0.58    0.87  017
9     1.90    2.08    블로킹    2.04    2.43  017
10    9.17   10.04     디그   10.21    9.45  017
11   12.63   13.25     세트   11.96   11.88  017
12    6.12    8.25    리시브    6.46    7.06  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   26.31   27.83     범실   24.67   25.03  017

        KB손해보험                             상대전적         한국전력   시즌
0          NaN             VS 구단 선택 KB손해보험 한국전력          NaN  017
1  3위(19승 17패)  * 상대전적 : 67승 41패 * 시즌전적 : 2승 4패  5위(18승 18패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      15  2020.10.27  한국전력   3:1   91   78  1h 43m   win  017  KB손해보험
1      48  2020.11.18  한국전력   2:3  109  110  2h 17m  lose  017  KB손해보험
2      97  2020.12.22  한국전력   3:0   75   59  1h 24m   win  017  KB손해보험
3     118  2021.01.08  한국전력   0:3   60   76  1h 21m  lose  017  KB손해보험
4     162  2021.02.07  한국전력   1:3   84   99  2h 10m  lose  017  KB손해보험
5     213  2021.03.30  한국전력   2:3  103  113  2h 23m  lose  017  KB손해보험

    KB손해보험             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    88.50   87.00     득점   89.17   92.94  017
1   51.35%  51.66%     공격  51.02%  49.00%  017
2   45.37%  45.54%   오픈공격  50.43%  44.04%  017
3   68.49%  76.92%  시간차공격  58.33%  51.90%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   53.73%  50.60%   후위공격  44.22%  47.89%  017
6   50.40%  58.93%     속공  63.38%  57.59%  017
7   58.03%  58.93%    퀵오픈  53.33%  56.05%  017
8     1.38    1.50     서브    1.88    1.42  017
9     1.90    2.00    블로킹    2.46    2.48  017
10    9.17    8.21     디그    7.63    9.58  017
11   12.63   11.96     세트   10.63   11.39  017
12    6.12    4.79    리시브    5.08    6.46  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   26.31   26.17     범실   23.67   24.72  017

        KB손해보험                             상대전적       OK금융그룹   시즌
0          NaN           VS 구단 선택 KB손해보험 OK금융그룹          NaN  017
1  3위(19승 17패)  * 상대전적 : 26승 28패 * 시즌전적 : 3승 4패  4위(19승 17패)  017

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      35  2020.11.10  OK금융그룹   1:3   86   98  2h 00m  lose  017  KB손해보험
1      40  2020.11.13  OK금융그룹   3:1  103   92  2h 01m   win  017  KB손해보험
2     103  2020.12.26  OK금융그룹   3:1   98   84  2h 05m   win  017  KB손해보험
3     135  2021.01.19  OK금융그룹   0:3   65   75  1h 26m  lose  017  KB손해보험
4     150  2021.01.30  OK금융그룹   3:2  106  101  2h 17m   win  017  KB손해보험
5     182  2021.02.21  OK금융그룹   2:3  104  108  2h 19m  lose  017  KB손해보험
6     217  2021.04.04  OK금융그룹   1:3   84   91  1h 58m  lose  017  KB손해보험

    KB손해보험             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    88.50   93.67     득점   93.00   92.06  017
1   51.35%  50.53%     공격  49.92%  50.27%  017
2   45.37%  46.15%   오픈공격  39.33%  40.53%  017
3   68.49%  68.75%  시간차공격  75.00%  64.71%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   53.73%  50.75%   후위공격  57.89%  56.78%  017
6   50.40%  51.67%     속공  56.82%  53.55%  017
7   58.03%  56.45%    퀵오픈  53.62%  56.19%  017
8     1.38    1.16     서브    1.20    1.14  017
9     1.90    2.04    블로킹    2.28    2.35  017
10    9.17   10.36     디그    9.00    8.81  017
11   12.63   12.80     세트   12.20   11.77  017
12    6.12    6.16    리시브    5.80    6.43  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   26.31   26.50     범실   24.67   24.36  017

        KB손해보험                             상대전적         우리카드   시즌
0          NaN             VS 구단 선택 KB손해보험 우리카드          NaN  017
1  3위(19승 17패)  * 상대전적 : 24승 29패 * 시즌전적 : 2승 4패  2위(23승 13패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       9  2020.10.23  우리카드   3:1  103   91  2h 02m   win  017  KB손해보험
1      66  2020.12.01  우리카드   0:3   67   82  1h 28m  lose  017  KB손해보험
2      77  2020.12.08  우리카드   0:3   60   75  1h 19m  lose  017  KB손해보험
3     109  2020.12.30  우리카드   3:0   75   57  1h 23m   win  017  KB손해보험
4     175  2021.02.17  우리카드   2:3  101  107  2h 16m  lose  017  KB손해보험
5     210  2021.03.26  우리카드   0:3   57   75  1h 17m  lose  017  KB손해보험

    KB손해보험             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    88.50   77.17     득점   81.17   87.97  017
1   51.35%  51.61%     공격  53.03%  52.70%  017
2   45.37%  46.84%   오픈공격  43.58%  43.10%  017
3   68.49%  55.56%  시간차공격  70.00%  66.92%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   53.73%  55.56%   후위공격  57.78%  57.71%  017
6   50.40%  45.28%     속공  56.06%  55.90%  017
7   58.03%  57.85%    퀵오픈  57.66%  57.84%  017
8     1.38    1.19     서브    1.24    1.12  017
9     1.90    1.38    블로킹    1.90    1.93  017
10    9.17    9.86     디그   10.10    9.69  017
11   12.63   13.71     세트   12.52   12.54  017
12    6.12    6.24    리시브    6.19    6.44  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   26.31   25.00     범실   16.67   19.50  017

         현대캐피탈                             상대전적         대한항공   시즌
0          NaN              VS 구단 선택 현대캐피탈 대한항공          NaN  017
1  6위(15승 21패)  * 상대전적 : 71승 64패 * 시즌전적 : 1승 5패  1위(26승 10패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      27  2020.11.04  대한항공   1:3   88   97  1h 53m  lose  017  현대캐피탈
1      37  2020.11.11  대한항공   0:3   58   75  1h 22m  lose  017  현대캐피탈
2      91  2020.12.18  대한항공   1:3   80   96  1h 54m  lose  017  현대캐피탈
3     116  2021.01.06  대한항공   3:2  112  112  2h 25m   win  017  현대캐피탈
4     173  2021.02.16  대한항공   0:3   59   75  1h 23m  lose  017  현대캐피탈
5     209  2021.03.25  대한항공   0:3   65   83  1h 30m  lose  017  현대캐피탈

     현대캐피탈             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.67   77.00     득점   89.67   93.75  017
1   49.79%  46.38%     공격  54.26%  52.51%  017
2   42.49%  33.89%   오픈공격  49.55%  46.58%  017
3   66.04%  50.00%  시간차공격  50.00%  62.50%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   49.27%  46.34%   후위공격  57.66%  56.31%  017
6   54.74%  50.00%     속공  58.51%  57.69%  017
7   55.23%  58.44%    퀵오픈  56.25%  54.95%  017
8     0.87    0.45     서브    1.32    1.54  017
9     2.43    1.86    블로킹    2.41    2.32  017
10    9.45    9.00     디그   10.45   10.29  017
11   11.88   11.45     세트   13.55   12.98  017
12    7.06    8.00    리시브    7.36    7.23  017
13    0.00    0.00     벌칙    0.00    0.03  017
14   25.03   24.00     범실   24.67   24.58  017

         현대캐피탈                             상대전적        삼성화재   시즌
0          NaN              VS 구단 선택 현대캐피탈 삼성화재         NaN  017
1  6위(15승 21패)  * 상대전적 : 61승 79패 * 시즌전적 : 5승 1패  7위(6승 30패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      11  2020.10.24  삼성화재   3:2  108  104  2h 12m   win  017  현대캐피탈
1      42  2020.11.14  삼성화재   0:3   58   75  1h 27m  lose  017  현대캐피탈
2     107  2020.12.29  삼성화재   3:0   79   66  1h 32m   win  017  현대캐피탈
3     126  2021.01.13  삼성화재   3:0   75   68  1h 34m   win  017  현대캐피탈
4     178  2021.02.19  삼성화재   3:0   76   60  1h 21m   win  017  현대캐피탈
5     214  2021.03.31  삼성화재   3:0   75   61  1h 19m   win  017  현대캐피탈

     현대캐피탈             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.67   78.50     득점   72.33   83.08  017
1   49.79%  50.74%     공격  49.32%  49.34%  017
2   42.49%  44.51%   오픈공격  39.81%  43.40%  017
3   66.04%  66.67%  시간차공격  40.00%  58.00%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   49.27%  54.00%   후위공격  56.00%  52.96%  017
6   54.74%  50.91%     속공  59.68%  51.88%  017
7   55.23%  55.91%    퀵오픈  55.24%  54.59%  017
8     0.87    1.20     서브    1.20    1.02  017
9     2.43    3.30    블로킹    1.50    1.90  017
10    9.45    8.75     디그    9.25    8.48  017
11   11.88   11.10     세트   12.10   11.75  017
12    7.06    6.25    리시브    5.30    6.21  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   25.03   20.83     범실   23.33   25.94  017

         현대캐피탈                             상대전적       KB손해보험   시즌
0          NaN            VS 구단 선택 현대캐피탈 KB손해보험          NaN  017
1  6위(15승 21패)  * 상대전적 : 81승 27패 * 시즌전적 : 0승 6패  3위(19승 17패)  017

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      31  2020.11.07  KB손해보험   2:3  115  110  2h 23m  lose  017  현대캐피탈
1      52  2020.11.21  KB손해보험   0:3   67   84  1h 33m  lose  017  현대캐피탈
2      73  2020.12.05  KB손해보험   0:3   62   79  1h 28m  lose  017  현대캐피탈
3     141  2021.01.23  KB손해보험   2:3  113  117  2h 33m  lose  017  현대캐피탈
4     145  2021.01.27  KB손해보험   1:3   85   92  1h 56m  lose  017  현대캐피탈
5     206  2021.03.22  KB손해보험   1:3   90   94  2h 01m  lose  017  현대캐피탈

     현대캐피탈             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.67   88.67     득점   96.00   88.50  017
1   49.79%  49.11%     공격  51.06%  51.35%  017
2   42.49%  44.00%   오픈공격  45.64%  45.37%  017
3   66.04%  75.00%  시간차공격  66.67%  68.49%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   49.27%  48.97%   후위공격  54.66%  53.73%  017
6   54.74%  63.10%     속공  48.81%  50.40%  017
7   55.23%  47.19%    퀵오픈  55.41%  58.03%  017
8     0.87    0.58     서브    1.71    1.38  017
9     2.43    2.04    블로킹    2.08    1.90  017
10    9.45   10.21     디그   10.04    9.17  017
11   11.88   11.96     세트   13.25   12.63  017
12    7.06    6.46    리시브    8.25    6.12  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   25.03   24.67     범실   27.83   26.31  017

         현대캐피탈                             상대전적         한국전력   시즌
0          NaN              VS 구단 선택 현대캐피탈 한국전력          NaN  017
1  6위(15승 21패)  * 상대전적 : 82승 30패 * 시즌전적 : 3승 3패  5위(18승 18패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      21  2020.10.31  한국전력   3:2  108  113  2h 35m   win  017  현대캐피탈
1      68  2020.12.02  한국전력   1:3   88   97  1h 54m  lose  017  현대캐피탈
2      87  2020.12.15  한국전력   0:3   63   75  1h 27m  lose  017  현대캐피탈
3     133  2021.01.17  한국전력   3:2  114  111  2h 33m   win  017  현대캐피탈
4     157  2021.02.04  한국전력   3:0   78   67  1h 35m   win  017  현대캐피탈
5     195  2021.03.13  한국전력   2:3  100  110  2h 20m  lose  017  현대캐피탈

     현대캐피탈             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.67   91.83     득점   95.50   92.94  017
1   49.79%  50.86%     공격  49.38%  49.00%  017
2   42.49%  44.44%   오픈공격  45.05%  44.04%  017
3   66.04%  77.78%  시간차공격  45.45%  51.90%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   49.27%  49.08%   후위공격  47.83%  47.89%  017
6   54.74%  54.72%     속공  61.00%  57.59%  017
7   55.23%  56.44%    퀵오픈  52.38%  56.05%  017
8     0.87    1.08     서브    1.08    1.42  017
9     2.43    2.76    블로킹    2.32    2.48  017
10    9.45    9.16     디그   10.60    9.58  017
11   11.88   12.32     세트   11.84   11.39  017
12    7.06    7.52    리시브    6.20    6.46  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   25.03   27.67     범실   21.67   24.72  017

         현대캐피탈                             상대전적       OK금융그룹   시즌
0          NaN            VS 구단 선택 현대캐피탈 OK금융그룹          NaN  017
1  6위(15승 21패)  * 상대전적 : 39승 17패 * 시즌전적 : 2승 4패  4위(19승 17패)  017

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      16  2020.10.28  OK금융그룹   1:3   90  100  1h 59m  lose  017  현대캐피탈
1      46  2020.11.17  OK금융그룹   1:3   90  101  2h 02m  lose  017  현대캐피탈
2      80  2020.12.10  OK금융그룹   1:3   94  102  2h 07m  lose  017  현대캐피탈
3     122  2021.01.10  OK금융그룹   2:3   99  106  2h 19m  lose  017  현대캐피탈
4     169  2021.02.12  OK금융그룹   3:2  105   92  2h 07m   win  017  현대캐피탈
5     199  2021.03.15  OK금융그룹   3:2  108   99  2h 17m   win  017  현대캐피탈

     현대캐피탈             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.67   97.67     득점  100.00   92.06  017
1   49.79%  49.70%     공격  51.19%  50.27%  017
2   42.49%  39.41%   오픈공격  37.97%  40.53%  017
3   66.04%  60.00%  시간차공격  50.00%  64.71%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   49.27%  50.32%   후위공격  61.97%  56.78%  017
6   54.74%  55.05%     속공  49.38%  53.55%  017
7   55.23%  56.35%    퀵오픈  63.13%  56.19%  017
8     0.87    0.70     서브    1.15    1.14  017
9     2.43    2.48    블로킹    2.30    2.35  017
10    9.45    9.22     디그    9.48    8.81  017
11   11.88   11.85     세트   12.07   11.77  017
12    7.06    7.19    리시브    7.07    6.43  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   25.03   27.33     범실   27.33   24.36  017

         현대캐피탈                             상대전적         우리카드   시즌
0          NaN              VS 구단 선택 현대캐피탈 우리카드          NaN  017
1  6위(15승 21패)  * 상대전적 : 38승 17패 * 시즌전적 : 4승 2패  2위(23승 13패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0       5  2020.10.20  우리카드   3:0   75   61  1h 26m   win  017  현대캐피탈
1      60  2020.11.27  우리카드   3:1   98   90  1h 50m   win  017  현대캐피탈
2     100  2020.12.24  우리카드   1:3   87   94  2h 00m  lose  017  현대캐피탈
3     136  2021.01.20  우리카드   3:2  106  103  2h 09m   win  017  현대캐피탈
4     152  2021.01.31  우리카드   3:2  108  104  2h 14m   win  017  현대캐피탈
5     203  2021.03.19  우리카드   1:3   80   95  1h 51m  lose  017  현대캐피탈

     현대캐피탈             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.67   92.33     득점   91.17   87.97  017
1   49.79%  51.81%     공격  50.00%  52.70%  017
2   42.49%  47.69%   오픈공격  37.67%  43.10%  017
3   66.04%  63.64%  시간차공격  50.00%  66.92%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   49.27%  47.79%   후위공격  56.88%  57.71%  017
6   54.74%  54.44%     속공  57.28%  55.90%  017
7   55.23%  57.61%    퀵오픈  56.62%  57.84%  017
8     0.87    1.24     서브    1.20    1.12  017
9     2.43    2.20    블로킹    1.52    1.93  017
10    9.45   10.24     디그    9.96    9.69  017
11   11.88   12.40     세트   12.36   12.54  017
12    7.06    6.88    리시브    6.92    6.44  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   25.03   25.67     범실   22.67   19.50  017

          한국전력                             상대전적         대한항공   시즌
0          NaN               VS 구단 선택 한국전력 대한항공          NaN  017
1  5위(18승 18패)  * 상대전적 : 21승 87패 * 시즌전적 : 3승 3패  1위(26승 10패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      33  2020.11.08  대한항공   0:3   67   77  1h 35m  lose  017  한국전력
1      44  2020.11.15  대한항공   3:1  100   85  2h 07m   win  017  한국전력
2      75  2020.12.06  대한항공   2:3  103  112  2h 18m  lose  017  한국전력
3     111  2020.12.31  대한항공   3:2  113  114  2h 33m   win  017  한국전력
4     167  2021.02.11  대한항공   3:1   93   95  2h 04m   win  017  한국전력
5     201  2021.03.17  대한항공   0:3   71   84  1h 45m  lose  017  한국전력

      한국전력             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.94   91.17     득점   94.50   93.75  017
1   49.00%  45.33%     공격  47.06%  52.51%  017
2   44.04%  40.07%   오픈공격  44.40%  46.58%  017
3   51.90%  54.55%  시간차공격  50.00%  62.50%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   47.89%  48.50%   후위공격  45.52%  56.31%  017
6   57.59%  42.70%     속공  52.58%  57.69%  017
7   56.05%  54.17%    퀵오픈  48.54%  54.95%  017
8     1.42    1.38     서브    1.92    1.54  017
9     2.48    2.83    블로킹    2.33    2.32  017
10    9.58   11.54     디그   13.00   10.29  017
11   11.39   11.67     세트   12.83   12.98  017
12    6.46    6.63    리시브    7.54    7.23  017
13    0.00    0.00     벌칙    0.17    0.03  017
14   24.72   24.17     범실   23.83   24.58  017

          한국전력                             상대전적        삼성화재   시즌
0          NaN               VS 구단 선택 한국전력 삼성화재         NaN  017
1  5위(18승 18패)  * 상대전적 : 26승 82패 * 시즌전적 : 3승 3패  7위(6승 30패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       3  2020.10.18  삼성화재   2:3  109  109  2h 20m  lose  017  한국전력
1      54  2020.11.22  삼성화재   3:2  104   93  2h 04m   win  017  한국전력
2     101  2020.12.25  삼성화재   3:1  100   87  1h 55m   win  017  한국전력
3     138  2021.01.21  삼성화재   3:2  117  112  2h 17m   win  017  한국전력
4     171  2021.02.14  삼성화재   2:3  100   99  2h 09m  lose  017  한국전력
5     208  2021.03.24  삼성화재   1:3   81   92  1h 51m  lose  017  한국전력

      한국전력             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.94  101.83     득점   98.67   83.08  017
1   49.00%  45.31%     공격  48.82%  49.34%  017
2   44.04%  40.13%   오픈공격  47.06%  43.40%  017
3   51.90%  52.38%  시간차공격  83.33%  58.00%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   47.89%  44.74%   후위공격  52.07%  52.96%  017
6   57.59%  58.62%     속공  40.26%  51.88%  017
7   56.05%  48.21%    퀵오픈  51.30%  54.59%  017
8     1.42    1.79     서브    1.00    1.02  017
9     2.48    2.86    블로킹    2.54    1.90  017
10    9.58    9.71     디그    8.64    8.48  017
11   11.39   10.46     세트   11.29   11.75  017
12    6.46    6.36    리시브    6.29    6.21  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   24.72   26.83     범실   29.50   25.94  017

          한국전력                             상대전적       KB손해보험   시즌
0          NaN             VS 구단 선택 한국전력 KB손해보험          NaN  017
1  5위(18승 18패)  * 상대전적 : 41승 67패 * 시즌전적 : 4승 2패  3위(19승 17패)  017

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      15  2020.10.27  KB손해보험   1:3   78   91  1h 43m  lose  017  한국전력
1      48  2020.11.18  KB손해보험   3:2  110  109  2h 17m   win  017  한국전력
2      97  2020.12.22  KB손해보험   0:3   59   75  1h 24m  lose  017  한국전력
3     118  2021.01.08  KB손해보험   3:0   76   60  1h 21m   win  017  한국전력
4     162  2021.02.07  KB손해보험   3:1   99   84  2h 10m   win  017  한국전력
5     213  2021.03.30  KB손해보험   3:2  113  103  2h 23m   win  017  한국전력

      한국전력             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.94   89.17     득점   87.00   88.50  017
1   49.00%  51.02%     공격  51.66%  51.35%  017
2   44.04%  50.43%   오픈공격  45.54%  45.37%  017
3   51.90%  58.33%  시간차공격  76.92%  68.49%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   47.89%  44.22%   후위공격  50.60%  53.73%  017
6   57.59%  63.38%     속공  58.93%  50.40%  017
7   56.05%  53.33%    퀵오픈  58.93%  58.03%  017
8     1.42    1.88     서브    1.50    1.38  017
9     2.48    2.46    블로킹    2.00    1.90  017
10    9.58    7.63     디그    8.21    9.17  017
11   11.39   10.63     세트   11.96   12.63  017
12    6.46    5.08    리시브    4.79    6.12  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   24.72   23.67     범실   26.17   26.31  017

          한국전력                             상대전적        현대캐피탈   시즌
0          NaN              VS 구단 선택 한국전력 현대캐피탈          NaN  017
1  5위(18승 18패)  * 상대전적 : 30승 82패 * 시즌전적 : 3승 3패  6위(15승 21패)  017

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      21  2020.10.31  현대캐피탈   2:3  113  108  2h 35m  lose  017  한국전력
1      68  2020.12.02  현대캐피탈   3:1   97   88  1h 54m   win  017  한국전력
2      87  2020.12.15  현대캐피탈   3:0   75   63  1h 27m   win  017  한국전력
3     133  2021.01.17  현대캐피탈   2:3  111  114  2h 33m  lose  017  한국전력
4     157  2021.02.04  현대캐피탈   0:3   67   78  1h 35m  lose  017  한국전력
5     195  2021.03.13  현대캐피탈   3:2  110  100  2h 20m   win  017  한국전력

      한국전력             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.94   95.50     득점   91.83   87.67  017
1   49.00%  49.38%     공격  50.86%  49.79%  017
2   44.04%  45.05%   오픈공격  44.44%  42.49%  017
3   51.90%  45.45%  시간차공격  77.78%  66.04%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   47.89%  47.83%   후위공격  49.08%  49.27%  017
6   57.59%  61.00%     속공  54.72%  54.74%  017
7   56.05%  52.38%    퀵오픈  56.44%  55.23%  017
8     1.42    1.08     서브    1.08    0.87  017
9     2.48    2.32    블로킹    2.76    2.43  017
10    9.58   10.60     디그    9.16    9.45  017
11   11.39   11.84     세트   12.32   11.88  017
12    6.46    6.20    리시브    7.52    7.06  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   24.72   21.67     범실   27.67   25.03  017

          한국전력                             상대전적       OK금융그룹   시즌
0          NaN             VS 구단 선택 한국전력 OK금융그룹          NaN  017
1  5위(18승 18패)  * 상대전적 : 21승 34패 * 시즌전적 : 3승 3패  4위(19승 17패)  017

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       8  2020.10.22  OK금융그룹   1:3   86   96  2h 01m  lose  017  한국전력
1      59  2020.11.26  OK금융그룹   3:0   75   66  1h 30m   win  017  한국전력
2      93  2020.12.19  OK금융그룹   2:3  103  105  2h 17m  lose  017  한국전력
3     128  2021.01.14  OK금융그룹   2:3  104  103  2h 08m  lose  017  한국전력
4     177  2021.02.18  OK금융그룹   3:1   95   80  1h 54m   win  017  한국전력
5     204  2021.03.20  OK금융그룹   3:2  108  103  2h 23m   win  017  한국전력

      한국전력             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.94   95.17     득점   92.17   92.06  017
1   49.00%  51.97%     공격  48.89%  50.27%  017
2   44.04%  43.33%   오픈공격  35.44%  40.53%  017
3   51.90%  63.64%  시간차공격  60.00%  64.71%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   47.89%  55.24%   후위공격  47.50%  56.78%  017
6   57.59%  56.41%     속공  55.41%  53.55%  017
7   56.05%  65.09%    퀵오픈  62.16%  56.19%  017
8     1.42    1.12     서브    1.15    1.14  017
9     2.48    2.27    블로킹    2.04    2.35  017
10    9.58    8.88     디그    8.50    8.81  017
11   11.39   11.58     세트   11.31   11.77  017
12    6.46    6.81    리시브    6.81    6.43  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   24.72   27.00     범실   27.50   24.36  017

          한국전력                             상대전적         우리카드   시즌
0          NaN               VS 구단 선택 한국전력 우리카드          NaN  017
1  5위(18승 18패)  * 상대전적 : 21승 32패 * 시즌전적 : 2승 4패  2위(23승 13패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      28  2020.11.05  우리카드   0:3   64   75  1h 25m  lose  017  한국전력
1      39  2020.11.12  우리카드   2:3  107  110  2h 19m  lose  017  한국전력
2      81  2020.12.11  우리카드   3:2  100   99  1h 57m   win  017  한국전력
3     143  2021.01.24  우리카드   3:0   75   58  1h 28m   win  017  한국전력
4     147  2021.01.28  우리카드   2:3  109  113  2h 23m  lose  017  한국전력
5     216  2021.04.02  우리카드   0:3   54   75  1h 17m  lose  017  한국전력

      한국전력             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.94   84.83     득점   88.33   87.97  017
1   49.00%  51.91%     공격  53.56%  52.70%  017
2   44.04%  47.01%   오픈공격  44.13%  43.10%  017
3   51.90%  38.46%  시간차공격  66.67%  66.92%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   47.89%  47.22%   후위공격  56.83%  57.71%  017
6   57.59%  64.63%     속공  54.76%  55.90%  017
7   56.05%  63.83%    퀵오픈  58.82%  57.84%  017
8     1.42    1.25     서브    0.79    1.12  017
9     2.48    2.08    블로킹    1.83    1.93  017
10    9.58    9.13     디그    9.46    9.69  017
11   11.39   12.29     세트   12.75   12.54  017
12    6.46    7.67    리시브    6.38    6.44  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   24.72   25.00     범실   19.17   19.50  017

        OK금융그룹                             상대전적         대한항공   시즌
0          NaN             VS 구단 선택 OK금융그룹 대한항공          NaN  017
1  4위(19승 17패)  * 상대전적 : 18승 34패 * 시즌전적 : 1승 5패  1위(26승 10패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      13  2020.10.25  대한항공   3:2  114  108  2h 33m   win  017  OK금융그룹
1      70  2020.12.03  대한항공   1:3   79   96  1h 51m  lose  017  OK금융그룹
2      98  2020.12.23  대한항공   2:3  106  108  2h 21m  lose  017  OK금융그룹
3     139  2021.01.22  대한항공   0:3   64   76  1h 25m  lose  017  OK금융그룹
4     160  2021.02.06  대한항공   2:3  102  105  2h 18m  lose  017  OK금융그룹
5     215  2021.04.01  대한항공   1:3   79   97  1h 56m  lose  017  OK금융그룹

    OK금융그룹             VS     대한항공           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    92.06   90.67     득점    98.33   93.75  017
1   50.27%  47.59%     공격   53.85%  52.51%  017
2   40.53%  42.86%   오픈공격   50.00%  46.58%  017
3   64.71%  50.00%  시간차공격  100.00%  62.50%  017
4    0.00%     NaN   이동공격      NaN   0.00%  017
5   56.78%  57.14%   후위공격   60.71%  56.31%  017
6   53.55%  51.25%     속공   55.56%  57.69%  017
7   56.19%  44.85%    퀵오픈   53.15%  54.95%  017
8     1.14    0.85     서브     1.27    1.54  017
9     2.35    2.23    블로킹     2.46    2.32  017
10    8.81    8.88     디그     9.96   10.29  017
11   11.77   11.12     세트    12.65   12.98  017
12    6.43    6.38    리시브     6.65    7.23  017
13    0.00    0.00     벌칙     0.00    0.03  017
14   24.36   23.83     범실    26.00   24.58  017

        OK금융그룹                             상대전적        삼성화재   시즌
0          NaN             VS 구단 선택 OK금융그룹 삼성화재         NaN  017
1  4위(19승 17패)  * 상대전적 : 33승 24패 * 시즌전적 : 6승 0패  7위(6승 30패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간   승패   시즌      홈팀
0      29  2020.11.06  삼성화재   3:2  122  116  2h 31m  win  017  OK금융그룹
1      64  2020.11.29  삼성화재   3:1   95   89  1h 59m  win  017  OK금융그룹
2      85  2020.12.13  삼성화재   3:2  109  102  2h 16m  win  017  OK금융그룹
3     112  2021.01.01  삼성화재   3:0   77   62  1h 28m  win  017  OK금융그룹
4     154  2021.02.02  삼성화재   3:1  103   93  2h 14m  win  017  OK금융그룹
5     211  2021.03.28  삼성화재   3:0   75   57  1h 24m  win  017  OK금융그룹

    OK금융그룹             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.06   96.83     득점   86.50   83.08  017
1   50.27%  52.72%     공격  50.39%  49.34%  017
2   40.53%  45.77%   오픈공격  42.70%  43.40%  017
3   64.71%  57.14%  시간차공격  44.44%  58.00%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   56.78%  60.15%   후위공격  54.86%  52.96%  017
6   53.55%  55.07%     속공  51.43%  51.88%  017
7   56.19%  54.23%    퀵오픈  60.56%  54.59%  017
8     1.14    1.42     서브    1.00    1.02  017
9     2.35    3.25    블로킹    1.67    1.90  017
10    8.81    8.33     디그    9.21    8.48  017
11   11.77   11.50     세트   12.79   11.75  017
12    6.43    6.00    리시브    6.88    6.21  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   24.36   22.17     범실   29.50   25.94  017

        OK금융그룹                             상대전적       KB손해보험   시즌
0          NaN           VS 구단 선택 OK금융그룹 KB손해보험          NaN  017
1  4위(19승 17패)  * 상대전적 : 28승 26패 * 시즌전적 : 4승 3패  3위(19승 17패)  017

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      35  2020.11.10  KB손해보험   3:1   98   86  2h 00m   win  017  OK금융그룹
1      40  2020.11.13  KB손해보험   1:3   92  103  2h 01m  lose  017  OK금융그룹
2     103  2020.12.26  KB손해보험   1:3   84   98  2h 05m  lose  017  OK금융그룹
3     135  2021.01.19  KB손해보험   3:0   75   65  1h 26m   win  017  OK금융그룹
4     150  2021.01.30  KB손해보험   2:3  101  106  2h 17m  lose  017  OK금융그룹
5     182  2021.02.21  KB손해보험   3:2  108  104  2h 19m   win  017  OK금융그룹
6     217  2021.04.04  KB손해보험   3:1   91   84  1h 58m   win  017  OK금융그룹

    OK금융그룹             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.06   93.00     득점   93.67   88.50  017
1   50.27%  49.92%     공격  50.53%  51.35%  017
2   40.53%  39.33%   오픈공격  46.15%  45.37%  017
3   64.71%  75.00%  시간차공격  68.75%  68.49%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   56.78%  57.89%   후위공격  50.75%  53.73%  017
6   53.55%  56.82%     속공  51.67%  50.40%  017
7   56.19%  53.62%    퀵오픈  56.45%  58.03%  017
8     1.14    1.20     서브    1.16    1.38  017
9     2.35    2.28    블로킹    2.04    1.90  017
10    8.81    9.00     디그   10.36    9.17  017
11   11.77   12.20     세트   12.80   12.63  017
12    6.43    5.80    리시브    6.16    6.12  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   24.36   24.67     범실   26.50   26.31  017

        OK금융그룹                             상대전적        현대캐피탈   시즌
0          NaN            VS 구단 선택 OK금융그룹 현대캐피탈          NaN  017
1  4위(19승 17패)  * 상대전적 : 17승 39패 * 시즌전적 : 4승 2패  6위(15승 21패)  017

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      16  2020.10.28  현대캐피탈   3:1  100   90  1h 59m   win  017  OK금융그룹
1      46  2020.11.17  현대캐피탈   3:1  101   90  2h 02m   win  017  OK금융그룹
2      80  2020.12.10  현대캐피탈   3:1  102   94  2h 07m   win  017  OK금융그룹
3     122  2021.01.10  현대캐피탈   3:2  106   99  2h 19m   win  017  OK금융그룹
4     169  2021.02.12  현대캐피탈   2:3   92  105  2h 07m  lose  017  OK금융그룹
5     199  2021.03.15  현대캐피탈   2:3   99  108  2h 17m  lose  017  OK금융그룹

    OK금융그룹             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.06  100.00     득점   97.67   87.67  017
1   50.27%  51.19%     공격  49.70%  49.79%  017
2   40.53%  37.97%   오픈공격  39.41%  42.49%  017
3   64.71%  50.00%  시간차공격  60.00%  66.04%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   56.78%  61.97%   후위공격  50.32%  49.27%  017
6   53.55%  49.38%     속공  55.05%  54.74%  017
7   56.19%  63.13%    퀵오픈  56.35%  55.23%  017
8     1.14    1.15     서브    0.70    0.87  017
9     2.35    2.30    블로킹    2.48    2.43  017
10    8.81    9.48     디그    9.22    9.45  017
11   11.77   12.07     세트   11.85   11.88  017
12    6.43    7.07    리시브    7.19    7.06  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   24.36   27.33     범실   27.33   25.03  017

        OK금융그룹                             상대전적         한국전력   시즌
0          NaN             VS 구단 선택 OK금융그룹 한국전력          NaN  017
1  4위(19승 17패)  * 상대전적 : 34승 21패 * 시즌전적 : 3승 3패  5위(18승 18패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       8  2020.10.22  한국전력   3:1   96   86  2h 01m   win  017  OK금융그룹
1      59  2020.11.26  한국전력   0:3   66   75  1h 30m  lose  017  OK금융그룹
2      93  2020.12.19  한국전력   3:2  105  103  2h 17m   win  017  OK금융그룹
3     128  2021.01.14  한국전력   3:2  103  104  2h 08m   win  017  OK금융그룹
4     177  2021.02.18  한국전력   1:3   80   95  1h 54m  lose  017  OK금융그룹
5     204  2021.03.20  한국전력   2:3  103  108  2h 23m  lose  017  OK금융그룹

    OK금융그룹             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.06   92.17     득점   95.17   92.94  017
1   50.27%  48.89%     공격  51.97%  49.00%  017
2   40.53%  35.44%   오픈공격  43.33%  44.04%  017
3   64.71%  60.00%  시간차공격  63.64%  51.90%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   56.78%  47.50%   후위공격  55.24%  47.89%  017
6   53.55%  55.41%     속공  56.41%  57.59%  017
7   56.19%  62.16%    퀵오픈  65.09%  56.05%  017
8     1.14    1.15     서브    1.12    1.42  017
9     2.35    2.04    블로킹    2.27    2.48  017
10    8.81    8.50     디그    8.88    9.58  017
11   11.77   11.31     세트   11.58   11.39  017
12    6.43    6.81    리시브    6.81    6.46  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   24.36   27.50     범실   27.00   24.72  017

        OK금융그룹                             상대전적         우리카드   시즌
0          NaN             VS 구단 선택 OK금융그룹 우리카드          NaN  017
1  4위(19승 17패)  * 상대전적 : 26승 28패 * 시즌전적 : 2승 6패  2위(23승 13패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      23  2020.11.01  우리카드   3:2  115  102  2h 22m   win  017  OK금융그룹
1      50  2020.11.20  우리카드   3:1   96   88  2h 03m   win  017  OK금융그룹
2      88  2020.12.16  우리카드   0:3   66   77  1h 32m  lose  017  OK금융그룹
3     117  2021.01.07  우리카드   0:3   54   75  1h 17m  lose  017  OK금융그룹
4     164  2021.02.09  우리카드   1:3   82   98  1h 51m  lose  017  OK금융그룹
5     207  2021.03.23  우리카드   0:3   65   75  1h 30m  lose  017  OK금융그룹
6     219  2021.04.06  우리카드   1:3   86   98  1h 51m  lose  017  OK금융그룹
7     221  2021.04.07  우리카드   1:3   86   93  2h 01m  lose  017  OK금융그룹

    OK금융그룹             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    92.06   79.67     득점   85.83   87.97  017
1   50.27%  51.80%     공격  55.99%  52.70%  017
2   40.53%  42.42%   오픈공격  46.32%  43.10%  017
3   64.71%  83.33%  시간차공격  77.78%  66.92%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   56.78%  57.34%   후위공격  64.35%  57.71%  017
6   53.55%  53.42%     속공  62.50%  55.90%  017
7   56.19%  57.35%    퀵오픈  58.87%  57.84%  017
8     1.14    1.09     서브    1.41    1.12  017
9     2.35    2.00    블로킹    1.86    1.93  017
10    8.81    8.59     디그   10.45    9.69  017
11   11.77   12.55     세트   13.95   12.54  017
12    6.43    6.41    리시브    6.95    6.44  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   24.36   20.67     범실   20.33   19.50  017

          우리카드                             상대전적         대한항공   시즌
0          NaN               VS 구단 선택 우리카드 대한항공          NaN  017
1  2위(23승 13패)  * 상대전적 : 19승 38패 * 시즌전적 : 5승 6패  1위(26승 10패)  017

    경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0        1  2020.10.17  대한항공   2:3   98  111  2h 22m  lose  017  우리카드
1       56  2020.11.24  대한항공   1:3   85   91  1h 52m  lose  017  우리카드
2      105  2020.12.27  대한항공   3:2  108  107  2h 19m   win  017  우리카드
3      124  2021.01.12  대한항공   3:2  113  114  2h 26m   win  017  우리카드
4      180  2021.02.20  대한항공   3:0   84   69  1h 34m   win  017  우리카드
5      212  2021.03.29  대한항공   1:3   86   94  1h 55m  lose  017  우리카드
6      225  2021.04.11  대한항공   3:0   78   71  1h 37m   win  017  우리카드
7      227  2021.04.12  대한항공   2:3  107  115  2h 28m  lose  017  우리카드
8      229  2021.04.14  대한항공   3:0   76   63  1h 39m   win  017  우리카드
9      231  2021.04.15  대한항공   0:3   61   75  1h 22m  lose  017  우리카드
10     233  2021.04.17  대한항공   1:3   94  104  2h 08m  lose  017  우리카드

      우리카드             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.97   95.67     득점   97.67   93.75  017
1   52.70%  50.08%     공격  53.33%  52.51%  017
2   43.10%  40.99%   오픈공격  46.15%  46.58%  017
3   66.92%  68.00%  시간차공격   0.00%  62.50%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   57.71%  56.71%   후위공격  58.28%  56.31%  017
6   55.90%  46.67%     속공  55.77%  57.69%  017
7   57.84%  55.63%    퀵오픈  58.20%  54.95%  017
8     1.12    0.81     서브    1.46    1.54  017
9     1.93    1.81    블로킹    2.15    2.32  017
10    9.69    9.65     디그    9.62   10.29  017
11   12.54   12.00     세트   13.88   12.98  017
12    6.44    6.69    리시브    8.12    7.23  017
13    0.00    0.00     벌칙    0.00    0.03  017
14   19.50   19.33     범실   30.50   24.58  017

          우리카드                             상대전적        삼성화재   시즌
0          NaN               VS 구단 선택 우리카드 삼성화재         NaN  017
1  2위(23승 13패)  * 상대전적 : 20승 32패 * 시즌전적 : 6승 0패  7위(6승 30패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간   승패   시즌    홈팀
0      18  2020.10.29  삼성화재   3:0   75   61  1h 25m  win  017  우리카드
1      71  2020.12.04  삼성화재   3:0   75   64  1h 26m  win  017  우리카드
2      95  2020.12.20  삼성화재   3:2  107  104  2h 11m  win  017  우리카드
3     131  2021.01.16  삼성화재   3:0   75   61  1h 20m  win  017  우리카드
4     158  2021.02.05  삼성화재   3:0   75   55  1h 21m  win  017  우리카드
5     193  2021.03.11  삼성화재   3:2  107   98  2h 09m  win  017  우리카드

      우리카드             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.97   85.67     득점   73.83   83.08  017
1   52.70%  54.51%     공격  48.28%  49.34%  017
2   43.10%  46.74%   오픈공격  44.54%  43.40%  017
3   66.92%  75.00%  시간차공격  55.56%  58.00%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   57.71%  54.70%   후위공격  42.86%  52.96%  017
6   55.90%  60.00%     속공  66.15%  51.88%  017
7   57.84%  59.65%    퀵오픈  50.39%  54.59%  017
8     1.12    1.36     서브    1.09    1.02  017
9     1.93    2.73    블로킹    1.82    1.90  017
10    9.69    8.50     디그    8.05    8.48  017
11   12.54   11.77     세트   11.77   11.75  017
12    6.44    5.36    리시브    6.55    6.21  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   19.50   18.83     범실   25.00   25.94  017

          우리카드                             상대전적       KB손해보험   시즌
0          NaN             VS 구단 선택 우리카드 KB손해보험          NaN  017
1  2위(23승 13패)  * 상대전적 : 29승 24패 * 시즌전적 : 4승 2패  3위(19승 17패)  017

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       9  2020.10.23  KB손해보험   1:3   91  103  2h 02m  lose  017  우리카드
1      66  2020.12.01  KB손해보험   3:0   82   67  1h 28m   win  017  우리카드
2      77  2020.12.08  KB손해보험   3:0   75   60  1h 19m   win  017  우리카드
3     109  2020.12.30  KB손해보험   0:3   57   75  1h 23m  lose  017  우리카드
4     175  2021.02.17  KB손해보험   3:2  107  101  2h 16m   win  017  우리카드
5     210  2021.03.26  KB손해보험   3:0   75   57  1h 17m   win  017  우리카드

      우리카드             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.97   81.17     득점   77.17   88.50  017
1   52.70%  53.03%     공격  51.61%  51.35%  017
2   43.10%  43.58%   오픈공격  46.84%  45.37%  017
3   66.92%  70.00%  시간차공격  55.56%  68.49%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   57.71%  57.78%   후위공격  55.56%  53.73%  017
6   55.90%  56.06%     속공  45.28%  50.40%  017
7   57.84%  57.66%    퀵오픈  57.85%  58.03%  017
8     1.12    1.24     서브    1.19    1.38  017
9     1.93    1.90    블로킹    1.38    1.90  017
10    9.69   10.10     디그    9.86    9.17  017
11   12.54   12.52     세트   13.71   12.63  017
12    6.44    6.19    리시브    6.24    6.12  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   19.50   16.67     범실   25.00   26.31  017

          우리카드                             상대전적        현대캐피탈   시즌
0          NaN              VS 구단 선택 우리카드 현대캐피탈          NaN  017
1  2위(23승 13패)  * 상대전적 : 17승 38패 * 시즌전적 : 2승 4패  6위(15승 21패)  017

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       5  2020.10.20  현대캐피탈   0:3   61   75  1h 26m  lose  017  우리카드
1      60  2020.11.27  현대캐피탈   1:3   90   98  1h 50m  lose  017  우리카드
2     100  2020.12.24  현대캐피탈   3:1   94   87  2h 00m   win  017  우리카드
3     136  2021.01.20  현대캐피탈   2:3  103  106  2h 09m  lose  017  우리카드
4     152  2021.01.31  현대캐피탈   2:3  104  108  2h 14m  lose  017  우리카드
5     203  2021.03.19  현대캐피탈   3:1   95   80  1h 51m   win  017  우리카드

      우리카드             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.97   91.17     득점   92.33   87.67  017
1   52.70%  50.00%     공격  51.81%  49.79%  017
2   43.10%  37.67%   오픈공격  47.69%  42.49%  017
3   66.92%  50.00%  시간차공격  63.64%  66.04%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   57.71%  56.88%   후위공격  47.79%  49.27%  017
6   55.90%  57.28%     속공  54.44%  54.74%  017
7   57.84%  56.62%    퀵오픈  57.61%  55.23%  017
8     1.12    1.20     서브    1.24    0.87  017
9     1.93    1.52    블로킹    2.20    2.43  017
10    9.69    9.96     디그   10.24    9.45  017
11   12.54   12.36     세트   12.40   11.88  017
12    6.44    6.92    리시브    6.88    7.06  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   19.50   22.67     범실   25.67   25.03  017

          우리카드                             상대전적         한국전력   시즌
0          NaN               VS 구단 선택 우리카드 한국전력          NaN  017
1  2위(23승 13패)  * 상대전적 : 32승 21패 * 시즌전적 : 4승 2패  5위(18승 18패)  017

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      28  2020.11.05  한국전력   3:0   75   64  1h 25m   win  017  우리카드
1      39  2020.11.12  한국전력   3:2  110  107  2h 19m   win  017  우리카드
2      81  2020.12.11  한국전력   2:3   99  100  1h 57m  lose  017  우리카드
3     143  2021.01.24  한국전력   0:3   58   75  1h 28m  lose  017  우리카드
4     147  2021.01.28  한국전력   3:2  113  109  2h 23m   win  017  우리카드
5     216  2021.04.02  한국전력   3:0   75   54  1h 17m   win  017  우리카드

      우리카드             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.97   88.33     득점   84.83   92.94  017
1   52.70%  53.56%     공격  51.91%  49.00%  017
2   43.10%  44.13%   오픈공격  47.01%  44.04%  017
3   66.92%  66.67%  시간차공격  38.46%  51.90%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   57.71%  56.83%   후위공격  47.22%  47.89%  017
6   55.90%  54.76%     속공  64.63%  57.59%  017
7   57.84%  58.82%    퀵오픈  63.83%  56.05%  017
8     1.12    0.79     서브    1.25    1.42  017
9     1.93    1.83    블로킹    2.08    2.48  017
10    9.69    9.46     디그    9.13    9.58  017
11   12.54   12.75     세트   12.29   11.39  017
12    6.44    6.38    리시브    7.67    6.46  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   19.50   19.17     범실   25.00   24.72  017

          우리카드                             상대전적       OK금융그룹   시즌
0          NaN             VS 구단 선택 우리카드 OK금융그룹          NaN  017
1  2위(23승 13패)  * 상대전적 : 28승 26패 * 시즌전적 : 6승 2패  4위(19승 17패)  017

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      23  2020.11.01  OK금융그룹   2:3  102  115  2h 22m  lose  017  우리카드
1      50  2020.11.20  OK금융그룹   1:3   88   96  2h 03m  lose  017  우리카드
2      88  2020.12.16  OK금융그룹   3:0   77   66  1h 32m   win  017  우리카드
3     117  2021.01.07  OK금융그룹   3:0   75   54  1h 17m   win  017  우리카드
4     164  2021.02.09  OK금융그룹   3:1   98   82  1h 51m   win  017  우리카드
5     207  2021.03.23  OK금융그룹   3:0   75   65  1h 30m   win  017  우리카드
6     219  2021.04.06  OK금융그룹   3:1   98   86  1h 51m   win  017  우리카드
7     221  2021.04.07  OK금융그룹   3:1   93   86  2h 01m   win  017  우리카드

      우리카드             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.97   85.83     득점   79.67   92.06  017
1   52.70%  55.99%     공격  51.80%  50.27%  017
2   43.10%  46.32%   오픈공격  42.42%  40.53%  017
3   66.92%  77.78%  시간차공격  83.33%  64.71%  017
4    0.00%     NaN   이동공격     NaN   0.00%  017
5   57.71%  64.35%   후위공격  57.34%  56.78%  017
6   55.90%  62.50%     속공  53.42%  53.55%  017
7   57.84%  58.87%    퀵오픈  57.35%  56.19%  017
8     1.12    1.41     서브    1.09    1.14  017
9     1.93    1.86    블로킹    2.00    2.35  017
10    9.69   10.45     디그    8.59    8.81  017
11   12.54   13.95     세트   12.55   11.77  017
12    6.44    6.95    리시브    6.41    6.43  017
13    0.00    0.00     벌칙    0.00    0.00  017
14   19.50   20.33     범실   20.67   24.36  017

,대한항공,상대전적,삼성화재,시즌
0,NaN,2022년 03월 29일(화) 19시 / 인천계양 VS 구단 선택 대한항공 삼성화재,NaN,018
1,1위(24승 12패),* 상대전적 : 52승 73패 * 시즌전적 : 4승 2패,6위(14승 22패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      11  2021.10.22  삼성화재   0:3   66   76  1h 37m  lose  018  대한항공
1      59  2021.11.19  삼성화재   3:2  108  109  2h 20m   win  018  대한항공
2      91  2021.12.08  삼성화재   3:2  110   95  2h 13m   win  018  대한항공
3     147  2022.01.09  삼성화재   2:3  110  104  2h 15m  lose  018  대한항공
4     209  2022.03.05  삼성화재   3:0   75   59  1h 25m   win  018  대한항공
5     236  2022.03.29  삼성화재   3:2  109   92  2h 05m   win  018  대한항공

      대한항공             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.17   96.33     득점   89.17   82.83  018
1   51.77%  51.93%     공격  45.85%  49.29%  018
2   39.18%  34.76%   오픈공격  37.65%  42.09%  018
3   63.64%  60.00%  시간차공격  25.00%  58.33%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   56.01%  55.26%   후위공격  45.78%  50.17%  018
6   58.52%  66.67%     속공  53.42%  56.97%  018
7   55.75%  56.46%    퀵오픈  58.59%  57.10%  018
8     1.44    1.58     서브    1.15    1.48  018
9     2.15    2.35    블로킹    1.62    1.82  018
10   10.14    9.42     디그    9.12    8.42  018
11   12.35   11.54     세트   10.65   11.25  018
12    6.10    4.58    리시브    4.88    5.21  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   27.86   29.33     범실   27.83   26.14  018

,대한항공,상대전적,KB손해보험,시즌
0,NaN,2022년 04월 09일(토) 14시 / 인천계양 VS 구단 선택 대한항공 KB손해보험,NaN,018
1,1위(24승 12패),* 상대전적 : 71승 39패 * 시즌전적 : 5승 4패,2위(19승 17패),018

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      31  2021.11.03  KB손해보험   1:3   85   97  2h 06m  lose  018  대한항공
1      67  2021.11.24  KB손해보험   1:3  104  111  2h 15m  lose  018  대한항공
2     111  2021.12.19  KB손해보험   3:2  106   98  2h 18m   win  018  대한항공
3     165  2022.01.20  KB손해보험   3:0   75   62  1h 25m   win  018  대한항공
4     171  2022.01.29  KB손해보험   2:3  105  101  2h 17m  lose  018  대한항공
5     229  2022.03.22  KB손해보험   3:2  115  105  2h 28m   win  018  대한항공
6     240  2022.04.05  KB손해보험   3:1   99   86  2h 08m   win  018  대한항공
7     241  2022.04.07  KB손해보험   1:3   87   95  2h 08m  lose  018  대한항공
8     242  2022.04.09  KB손해보험   3:2  119  113  2h 57m   win  018  대한항공

      대한항공             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.17   98.33     득점   95.67   91.94  018
1   51.77%  51.58%     공격  52.14%  53.86%  018
2   39.18%  41.21%   오픈공격  43.63%  46.09%  018
3   63.64%  33.33%  시간차공격  63.64%  64.44%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   56.01%  59.29%   후위공격  54.59%  57.49%  018
6   58.52%  55.71%     속공  57.14%  57.85%  018
7   55.75%  54.01%    퀵오픈  63.72%  59.21%  018
8     1.44    1.73     서브    1.15    1.58  018
9     2.15    1.54    블로킹    1.23    1.85  018
10   10.14    9.23     디그    9.96    9.13  018
11   12.35   12.15     세트   12.00   12.73  018
12    6.10    5.31    리시브    4.12    5.23  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   27.86   30.50     범실   29.67   26.83  018

,대한항공,상대전적,현대캐피탈,시즌
0,NaN,2022년 03월 13일(일) 14시 / 인천계양 VS 구단 선택 대한항공 현대캐피탈,NaN,018
1,1위(24승 12패),* 상대전적 : 64승 71패 * 시즌전적 : 5승 1패,7위(15승 21패),018

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      19  2021.10.27  현대캐피탈   2:3  101  103  2h 11m  lose  018  대한항공
1      43  2021.11.10  현대캐피탈   3:1   94   90  1h 51m   win  018  대한항공
2      97  2021.12.11  현대캐피탈   3:0   75   59  1h 26m   win  018  대한항공
3     129  2021.12.30  현대캐피탈   3:0   79   65  1h 32m   win  018  대한항공
4     183  2022.02.04  현대캐피탈   3:1   97   90  2h 01m   win  018  대한항공
5     218  2022.03.13  현대캐피탈   3:0   75   62  1h 36m   win  018  대한항공

      대한항공             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.17   86.83     득점   78.17   85.69  018
1   51.77%  54.94%     공격  49.82%  51.41%  018
2   39.18%  40.38%   오픈공격  38.12%  42.53%  018
3   63.64%  42.86%  시간차공격  50.00%  68.29%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   56.01%  58.90%   후위공격  52.90%  51.61%  018
6   58.52%  66.67%     속공  58.54%  59.56%  018
7   55.75%  59.51%    퀵오픈  60.34%  56.90%  018
8     1.44    1.09     서브    0.64    0.78  018
9     2.15    1.86    블로킹    1.68    2.28  018
10   10.14   10.82     디그    9.41    9.39  018
11   12.35   14.14     세트   11.86   12.18  018
12    6.10    7.05    리시브    7.59    7.71  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   27.86   24.67     범실   21.17   23.50  018

,대한항공,상대전적,한국전력,시즌
0,NaN,2022년 03월 09일(수) 14시 / 인천계양 VS 구단 선택 대한항공 한국전력,NaN,018
1,1위(24승 12패),* 상대전적 : 87승 21패 * 시즌전적 : 3승 3패,4위(20승 16패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      39  2021.11.07  한국전력   1:3   80   95  1h 54m  lose  018  대한항공
1      77  2021.11.30  한국전력   2:3  104  106  2h 17m  lose  018  대한항공
2     119  2021.12.24  한국전력   3:1   97   72  1h 43m   win  018  대한항공
3     153  2022.01.13  한국전력   3:1   93   79  1h 41m   win  018  대한항공
4     214  2022.03.09  한국전력   3:2  114  108  2h 29m   win  018  대한항공
5     224  2022.03.19  한국전력   1:3   89   91  1h 53m  lose  018  대한항공

      대한항공             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.17   96.17     득점   91.83   87.03  018
1   51.77%  47.77%     공격  44.01%  47.66%  018
2   39.18%  37.20%   오픈공격  35.15%  39.67%  018
3   63.64%  60.00%  시간차공격  71.43%  66.20%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   56.01%  48.97%   후위공격  40.82%  47.23%  018
6   58.52%  53.54%     속공  50.00%  54.56%  018
7   55.75%  53.56%    퀵오픈  53.02%  56.28%  018
8     1.44    1.23     서브    0.81    1.09  018
9     2.15    2.42    블로킹    2.04    2.59  018
10   10.14   11.00     디그    9.38    9.87  018
11   12.35   12.08     세트   10.00   11.25  018
12    6.10    7.23    리시브    6.58    6.01  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   27.86   34.00     범실   24.83   20.92  018

,대한항공,상대전적,OK금융그룹,시즌
0,NaN,2022년 02월 10일(목) 19시 / 인천계양 VS 구단 선택 대한항공 OK금융그룹,NaN,018
1,1위(24승 12패),* 상대전적 : 34승 18패 * 시즌전적 : 5승 1패,5위(17승 19패),018

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      25  2021.10.30  OK금융그룹   3:0   75   58  1h 22m   win  018  대한항공
1      73  2021.11.27  OK금융그룹   3:0   75   46  1h 25m   win  018  대한항공
2     103  2021.12.15  OK금융그룹   2:3  106  106  2h 20m  lose  018  대한항공
3     141  2022.01.06  OK금융그룹   3:0   77   65  1h 30m   win  018  대한항공
4     192  2022.02.10  OK금융그룹   3:0   75   61  1h 25m   win  018  대한항공
5     232  2022.03.25  OK금융그룹   3:0   76   67  1h 34m   win  018  대한항공

      대한항공             VS   OK금융그룹           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    90.17   80.67     득점    67.17   87.03  018
1   51.77%  54.27%     공격   44.06%  52.17%  018
2   39.18%  39.64%   오픈공격   39.34%  46.50%  018
3   63.64%  83.33%  시간차공격   50.00%  68.60%  018
4    0.00%     NaN   이동공격  100.00%  80.00%  018
5   56.01%  56.31%   후위공격   41.59%  53.87%  018
6   58.52%  61.02%     속공   34.48%  49.86%  018
7   55.75%  58.99%    퀵오픈   56.06%  58.53%  018
8     1.44    2.10     서브     0.90    1.36  018
9     2.15    2.85    블로킹     1.50    2.01  018
10   10.14   10.15     디그     9.10    8.05  018
11   12.35   12.00     세트    10.65   11.85  018
12    6.10    6.05    리시브     5.50    5.51  018
13    0.00    0.00     벌칙     0.00    0.03  018
14   27.86   22.67     범실    22.67   25.53  018

,대한항공,상대전적,우리카드,시즌
0,NaN,2022년 02월 01일(화) 14시 / 인천계양 VS 구단 선택 대한항공 우리카드,NaN,018
1,1위(24승 12패),* 상대전적 : 38승 19패 * 시즌전적 : 4승 2패,3위(17승 19패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       1  2021.10.16  우리카드   3:1   96   90  1h 47m   win  018  대한항공
1      51  2021.11.14  우리카드   3:0   75   52  1h 22m   win  018  대한항공
2      85  2021.12.04  우리카드   3:0   75   62  1h 23m   win  018  대한항공
3     135  2022.01.02  우리카드   0:3   61   76  1h 27m  lose  018  대한항공
4     177  2022.02.01  우리카드   1:3   83   98  1h 56m  lose  018  대한항공
5     221  2022.03.16  우리카드   3:2  106  104  2h 21m   win  018  대한항공

      대한항공             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    90.17   82.67     득점   80.33   88.47  018
1   51.77%  51.35%     공격  47.64%  49.66%  018
2   39.18%  43.07%   오픈공격  38.98%  41.34%  018
3   63.64%  87.50%  시간차공격  58.33%  64.13%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   56.01%  57.04%   후위공격  53.85%  52.47%  018
6   58.52%  45.76%     속공  56.25%  55.65%  018
7   55.75%  53.08%    퀵오픈  53.64%  57.50%  018
8     1.44    0.95     서브    1.05    1.23  018
9     2.15    2.00    블로킹    2.32    2.42  018
10   10.14   10.36     디그    9.41    9.57  018
11   12.35   12.36     세트   11.00   11.66  018
12    6.10    6.59    리시브    5.82    5.85  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   27.86   26.00     범실   24.17   22.31  018

,삼성화재,상대전적,대한항공,시즌
0,NaN,2022년 03월 05일(토) 14시 / 대전충무 VS 구단 선택 삼성화재 대한항공,NaN,018
1,6위(14승 22패),* 상대전적 : 73승 52패 * 시즌전적 : 2승 4패,1위(24승 12패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      11  2021.10.22  대한항공   3:0   76   66  1h 37m   win  018  삼성화재
1      59  2021.11.19  대한항공   2:3  109  108  2h 20m  lose  018  삼성화재
2      91  2021.12.08  대한항공   2:3   95  110  2h 13m  lose  018  삼성화재
3     147  2022.01.09  대한항공   3:2  104  110  2h 15m   win  018  삼성화재
4     209  2022.03.05  대한항공   0:3   59   75  1h 25m  lose  018  삼성화재
5     236  2022.03.29  대한항공   2:3   92  109  2h 05m  lose  018  삼성화재

      삼성화재             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    82.83   89.17     득점   96.33   90.17  018
1   49.29%  45.85%     공격  51.93%  51.77%  018
2   42.09%  37.65%   오픈공격  34.76%  39.18%  018
3   58.33%  25.00%  시간차공격  60.00%  63.64%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   50.17%  45.78%   후위공격  55.26%  56.01%  018
6   56.97%  53.42%     속공  66.67%  58.52%  018
7   57.10%  58.59%    퀵오픈  56.46%  55.75%  018
8     1.48    1.15     서브    1.58    1.44  018
9     1.82    1.62    블로킹    2.35    2.15  018
10    8.42    9.12     디그    9.42   10.14  018
11   11.25   10.65     세트   11.54   12.35  018
12    5.21    4.88    리시브    4.58    6.10  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   26.14   27.83     범실   29.33   27.86  018

,삼성화재,상대전적,KB손해보험,시즌
0,NaN,2022년 03월 08일(화) 19시 / 대전충무 VS 구단 선택 삼성화재 KB손해보험,NaN,018
1,6위(14승 22패),* 상대전적 : 85승 30패 * 시즌전적 : 3승 3패,2위(19승 17패),018

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      23  2021.10.29  KB손해보험   3:2   98   98  2h 11m   win  018  삼성화재
1      75  2021.11.28  KB손해보험   1:3   75   98  1h 53m  lose  018  삼성화재
2     105  2021.12.16  KB손해보험   1:3   91  103  2h 15m  lose  018  삼성화재
3     139  2022.01.05  KB손해보험   3:2  110  107  2h 19m   win  018  삼성화재
4     213  2022.03.08  KB손해보험   0:3   63   75  1h 36m  lose  018  삼성화재
5     233  2022.03.26  KB손해보험   3:0   75   64  1h 32m   win  018  삼성화재

      삼성화재             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    82.83   85.33     득점   90.83   91.94  018
1   49.29%  50.72%     공격  52.21%  53.86%  018
2   42.09%  47.30%   오픈공격  44.55%  46.09%  018
3   58.33%     NaN  시간차공격  40.00%  64.44%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   50.17%  47.20%   후위공격  54.07%  57.49%  018
6   56.97%  56.92%     속공  62.90%  57.85%  018
7   57.10%  59.26%    퀵오픈  58.25%  59.21%  018
8     1.48    1.42     서브    1.79    1.58  018
9     1.82    1.54    블로킹    1.79    1.85  018
10    8.42    8.71     디그    8.58    9.13  018
11   11.25   11.17     세트   11.46   12.73  018
12    5.21    4.50    리시브    4.00    5.23  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   26.14   29.17     범실   26.50   26.83  018

,삼성화재,상대전적,현대캐피탈,시즌
0,NaN,2022년 01월 31일(월) 14시 / 대전충무 VS 구단 선택 삼성화재 현대캐피탈,NaN,018
1,6위(14승 22패),* 상대전적 : 79승 61패 * 시즌전적 : 2승 4패,7위(15승 21패),018

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      35  2021.11.05  현대캐피탈   0:3   54   76  1h 18m  lose  018  삼성화재
1      49  2021.11.13  현대캐피탈   3:1   98   75  1h 53m   win  018  삼성화재
2     115  2021.12.22  현대캐피탈   0:3   63   75  1h 27m  lose  018  삼성화재
3     155  2022.01.14  현대캐피탈   0:3   61   75  1h 28m  lose  018  삼성화재
4     175  2022.01.31  현대캐피탈   3:0   82   72  1h 43m   win  018  삼성화재
5     222  2022.03.17  현대캐피탈   2:3  109  115  2h 24m  lose  018  삼성화재

      삼성화재             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    82.83   77.83     득점   81.33   85.69  018
1   49.29%  53.31%     공격  58.26%  51.41%  018
2   42.09%  44.81%   오픈공격  49.02%  42.53%  018
3   58.33%  80.00%  시간차공격  72.73%  68.29%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   50.17%  51.35%   후위공격  52.17%  51.61%  018
6   56.97%  61.64%     속공  72.37%  59.56%  018
7   57.10%  63.81%    퀵오픈  65.81%  56.90%  018
8     1.48    1.48     서브    1.19    0.78  018
9     1.82    2.00    블로킹    2.05    2.28  018
10    8.42    7.48     디그    8.29    9.39  018
11   11.25   12.52     세트   12.52   12.18  018
12    5.21    6.24    리시브    6.71    7.71  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   26.14   24.17     범실   19.83   23.50  018

,삼성화재,상대전적,한국전력,시즌
0,NaN,2022년 02월 03일(목) 19시 / 대전충무 VS 구단 선택 삼성화재 한국전력,NaN,018
1,6위(14승 22패),* 상대전적 : 82승 26패 * 시즌전적 : 3승 3패,4위(20승 16패),018

   경기 No.        경기일자   상대팀 세트스코어  득점  실점    경기시간    승패   시즌    홈팀
0       5  2021.10.19  한국전력   0:3  54  75  1h 20m  lose  018  삼성화재
1      69  2021.11.25  한국전력   3:0  75  53  1h 20m   win  018  삼성화재
2      99  2021.12.12  한국전력   3:1  90  83  1h 49m   win  018  삼성화재
3     133  2022.01.01  한국전력   1:3  72  92  1h 44m  lose  018  삼성화재
4     181  2022.02.03  한국전력   3:1  91  79  1h 42m   win  018  삼성화재
5     217  2022.03.12  한국전력   0:3  53  75  1h 22m  lose  018  삼성화재

      삼성화재             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    82.83   72.50     득점   76.17   87.03  018
1   49.29%  46.27%     공격  49.58%  47.66%  018
2   42.09%  42.99%   오픈공격  43.78%  39.67%  018
3   58.33%  50.00%  시간차공격  84.62%  66.20%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   50.17%  49.64%   후위공격  45.00%  47.23%  018
6   56.97%  55.56%     속공  60.61%  54.56%  018
7   57.10%  43.81%    퀵오픈  54.55%  56.28%  018
8     1.48    1.76     서브    1.48    1.09  018
9     1.82    2.38    블로킹    3.05    2.59  018
10    8.42    8.76     디그    9.24    9.87  018
11   11.25   10.81     세트   10.62   11.25  018
12    5.21    4.38    리시브    4.48    6.01  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   26.14   21.33     범실   17.67   20.92  018

,삼성화재,상대전적,OK금융그룹,시즌
0,NaN,2022년 03월 21일(월) 19시 / 대전충무 VS 구단 선택 삼성화재 OK금융그룹,NaN,018
1,6위(14승 22패),* 상대전적 : 24승 33패 * 시즌전적 : 1승 5패,5위(17승 19패),018

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      41  2021.11.09  OK금융그룹   1:3   91   92  2h 00m  lose  018  삼성화재
1      53  2021.11.16  OK금융그룹   2:3  105  111  2h 30m  lose  018  삼성화재
2      87  2021.12.05  OK금융그룹   2:3  104  102  2h 19m  lose  018  삼성화재
3     161  2022.01.18  OK금융그룹   3:0   75   62  1h 25m   win  018  삼성화재
4     187  2022.02.06  OK금융그룹   2:3  110  115  2h 30m  lose  018  삼성화재
5     227  2022.03.21  OK금융그룹   1:3   83   99  1h 56m  lose  018  삼성화재

      삼성화재             VS   OK금융그룹           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    82.83   94.67     득점    96.83   87.03  018
1   49.29%  54.61%     공격   55.24%  52.17%  018
2   42.09%  42.93%   오픈공격   45.71%  46.50%  018
3   58.33%  60.00%  시간차공격   81.25%  68.60%  018
4    0.00%     NaN   이동공격  100.00%  80.00%  018
5   50.17%  58.50%   후위공격   54.61%  53.87%  018
6   56.97%  64.20%     속공   59.32%  49.86%  018
7   57.10%  61.65%    퀵오픈   65.67%  58.53%  018
8     1.48    1.38     서브     1.38    1.36  018
9     1.82    1.73    블로킹     1.81    2.01  018
10    8.42    7.19     디그     7.65    8.05  018
11   11.25   11.42     세트    11.69   11.85  018
12    5.21    5.12    리시브     5.31    5.51  018
13    0.00    0.00     벌칙     0.00    0.03  018
14   26.14   30.17     범실    29.67   25.53  018

,삼성화재,상대전적,우리카드,시즌
0,NaN,2022년 02월 11일(금) 19시 / 대전충무 VS 구단 선택 삼성화재 우리카드,NaN,018
1,6위(14승 22패),* 상대전적 : 32승 20패 * 시즌전적 : 3승 3패,3위(17승 19패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      29  2021.11.02  우리카드   3:2   99  103  2h 09m   win  018  삼성화재
1      79  2021.12.01  우리카드   3:2  103  108  2h 17m   win  018  삼성화재
2     121  2021.12.25  우리카드   0:3   50   75  1h 17m  lose  018  삼성화재
3     127  2021.12.29  우리카드   0:3   56   75  1h 20m  lose  018  삼성화재
4     194  2022.02.11  우리카드   3:1   94   85  1h 51m   win  018  삼성화재
5     230  2022.03.23  우리카드   0:3   63   75  1h 25m  lose  018  삼성화재

      삼성화재             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    82.83   77.50     득점   86.83   88.47  018
1   49.29%  45.58%     공격  52.22%  49.66%  018
2   42.09%  38.55%   오픈공격  46.18%  41.34%  018
3   58.33%  66.67%  시간차공격  47.37%  64.13%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   50.17%  49.32%   후위공격  51.04%  52.47%  018
6   56.97%  46.43%     속공  58.82%  55.65%  018
7   57.10%  54.24%    퀵오픈  66.67%  57.50%  018
8     1.48    1.78     서브    1.26    1.23  018
9     1.82    1.74    블로킹    3.26    2.42  018
10    8.42    9.26     디그    8.96    9.57  018
11   11.25   11.04     세트   11.30   11.66  018
12    5.21    6.26    리시브    4.26    5.85  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   26.14   24.17     범실   20.17   22.31  018

,KB손해보험,상대전적,대한항공,시즌
0,NaN,2022년 04월 07일(목) 19시 / 의정부 VS 구단 선택 KB손해보험 대한항공,NaN,018
1,2위(19승 17패),* 상대전적 : 39승 71패 * 시즌전적 : 4승 5패,1위(24승 12패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      31  2021.11.03  대한항공   3:1   97   85  2h 06m   win  018  KB손해보험
1      67  2021.11.24  대한항공   3:1  111  104  2h 15m   win  018  KB손해보험
2     111  2021.12.19  대한항공   2:3   98  106  2h 18m  lose  018  KB손해보험
3     165  2022.01.20  대한항공   0:3   62   75  1h 25m  lose  018  KB손해보험
4     171  2022.01.29  대한항공   3:2  101  105  2h 17m   win  018  KB손해보험
5     229  2022.03.22  대한항공   2:3  105  115  2h 28m  lose  018  KB손해보험
6     240  2022.04.05  대한항공   1:3   86   99  2h 08m  lose  018  KB손해보험
7     241  2022.04.07  대한항공   3:1   95   87  2h 08m   win  018  KB손해보험
8     242  2022.04.09  대한항공   2:3  113  119  2h 57m  lose  018  KB손해보험

    KB손해보험             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    91.94   95.67     득점   98.33   90.17  018
1   53.86%  52.14%     공격  51.58%  51.77%  018
2   46.09%  43.63%   오픈공격  41.21%  39.18%  018
3   64.44%  63.64%  시간차공격  33.33%  63.64%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   57.49%  54.59%   후위공격  59.29%  56.01%  018
6   57.85%  57.14%     속공  55.71%  58.52%  018
7   59.21%  63.72%    퀵오픈  54.01%  55.75%  018
8     1.58    1.15     서브    1.73    1.44  018
9     1.85    1.23    블로킹    1.54    2.15  018
10    9.13    9.96     디그    9.23   10.14  018
11   12.73   12.00     세트   12.15   12.35  018
12    5.23    4.12    리시브    5.31    6.10  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   26.83   29.67     범실   30.50   27.86  018

,KB손해보험,상대전적,삼성화재,시즌
0,NaN,2022년 03월 26일(토) 14시 / 의정부 VS 구단 선택 KB손해보험 삼성화재,NaN,018
1,2위(19승 17패),* 상대전적 : 30승 85패 * 시즌전적 : 3승 3패,6위(14승 22패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      23  2021.10.29  삼성화재   2:3   98   98  2h 11m  lose  018  KB손해보험
1      75  2021.11.28  삼성화재   3:1   98   75  1h 53m   win  018  KB손해보험
2     105  2021.12.16  삼성화재   3:1  103   91  2h 15m   win  018  KB손해보험
3     139  2022.01.05  삼성화재   2:3  107  110  2h 19m  lose  018  KB손해보험
4     213  2022.03.08  삼성화재   3:0   75   63  1h 36m   win  018  KB손해보험
5     233  2022.03.26  삼성화재   0:3   64   75  1h 32m  lose  018  KB손해보험

    KB손해보험             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    91.94   90.83     득점   85.33   82.83  018
1   53.86%  52.21%     공격  50.72%  49.29%  018
2   46.09%  44.55%   오픈공격  47.30%  42.09%  018
3   64.44%  40.00%  시간차공격     NaN  58.33%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   57.49%  54.07%   후위공격  47.20%  50.17%  018
6   57.85%  62.90%     속공  56.92%  56.97%  018
7   59.21%  58.25%    퀵오픈  59.26%  57.10%  018
8     1.58    1.79     서브    1.42    1.48  018
9     1.85    1.79    블로킹    1.54    1.82  018
10    9.13    8.58     디그    8.71    8.42  018
11   12.73   11.46     세트   11.17   11.25  018
12    5.23    4.00    리시브    4.50    5.21  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   26.83   26.50     범실   29.17   26.14  018

,KB손해보험,상대전적,현대캐피탈,시즌
0,NaN,2022년 02월 09일(수) 19시 / 의정부 VS 구단 선택 KB손해보험 현대캐피탈,NaN,018
1,2위(19승 17패),* 상대전적 : 27승 81패 * 시즌전적 : 5승 1패,7위(15승 21패),018

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       7  2021.10.20  현대캐피탈   3:2  111  106  2h 27m   win  018  KB손해보험
1      55  2021.11.17  현대캐피탈   0:3   68   76  1h 30m  lose  018  KB손해보험
2      89  2021.12.07  현대캐피탈   3:0   75   60  1h 24m   win  018  KB손해보험
3     145  2022.01.08  현대캐피탈   3:1   97   82  1h 56m   win  018  KB손해보험
4     191  2022.02.09  현대캐피탈   3:0   75   59  1h 26m   win  018  KB손해보험
5     215  2022.03.10  현대캐피탈   3:1  103   86  2h 08m   win  018  KB손해보험

    KB손해보험             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    91.94   88.17     득점   78.17   85.69  018
1   53.86%  54.83%     공격  51.19%  51.41%  018
2   46.09%  44.09%   오픈공격  43.27%  42.53%  018
3   64.44%  50.00%  시간차공격  60.00%  68.29%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   57.49%  60.00%   후위공격  53.79%  51.61%  018
6   57.85%  65.67%     속공  51.96%  59.56%  018
7   59.21%  58.33%    퀵오픈  57.78%  56.90%  018
8     1.58    1.68     서브    0.91    0.78  018
9     1.85    2.41    블로킹    1.82    2.28  018
10    9.13    8.86     디그    8.77    9.39  018
11   12.73   12.77     세트   12.14   12.18  018
12    5.23    5.95    리시브    7.64    7.71  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   26.83   21.50     범실   22.67   23.50  018

,KB손해보험,상대전적,한국전력,시즌
0,NaN,2022년 04월 03일(일) 19시 / 의정부 VS 구단 선택 KB손해보험 한국전력,NaN,018
1,2위(19승 17패),* 상대전적 : 67승 41패 * 시즌전적 : 2승 5패,4위(20승 16패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      13  2021.10.23  한국전력   1:3   90   93  2h 00m  lose  018  KB손해보험
1      63  2021.11.21  한국전력   0:3   62   75  1h 29m  lose  018  KB손해보험
2     125  2021.12.28  한국전력   3:1  104   98  2h 17m   win  018  KB손해보험
3     159  2022.01.16  한국전력   2:3  109  112  2h 28m  lose  018  KB손해보험
4     196  2022.02.12  한국전력   2:3  104  106  2h 13m  lose  018  KB손해보험
5     237  2022.03.30  한국전력   1:3   99  100  2h 04m  lose  018  KB손해보험
6     239  2022.04.03  한국전력   3:1   98   76  2h 00m   win  018  KB손해보험

    KB손해보험             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    91.94   94.67     득점   97.33   87.03  018
1   53.86%  51.47%     공격  51.08%  47.66%  018
2   46.09%  46.50%   오픈공격  40.89%  39.67%  018
3   64.44%  57.14%  시간차공격  60.00%  66.20%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   57.49%  56.46%   후위공격  54.82%  47.23%  018
6   57.85%  53.85%     속공  59.77%  54.56%  018
7   59.21%  51.03%    퀵오픈  62.28%  56.28%  018
8     1.58    1.64     서브    1.20    1.09  018
9     1.85    2.08    블로킹    2.36    2.59  018
10    9.13    9.80     디그   10.08    9.87  018
11   12.73   13.52     세트   12.48   11.25  018
12    5.23    6.92    리시브    4.64    6.01  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   26.83   27.33     범실   20.67   20.92  018

,KB손해보험,상대전적,OK금융그룹,시즌
0,NaN,2021년 12월 31일(금) 19시 / 의정부 VS 구단 선택 KB손해보험 OK...,NaN,018
1,2위(19승 17패),* 상대전적 : 26승 28패 * 시즌전적 : 3승 3패,5위(17승 19패),018

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      17  2021.10.26  OK금융그룹   1:3   84   90  1h 56m  lose  018  KB손해보험
1      81  2021.12.02  OK금융그룹   3:1   94   94  2h 10m   win  018  KB손해보험
2     117  2021.12.23  OK금융그룹   2:3  107  108  2h 28m  lose  018  KB손해보험
3     131  2021.12.31  OK금융그룹   3:0   88   77  1h 42m   win  018  KB손해보험
4     179  2022.02.02  OK금융그룹   0:3   65   75  1h 36m  lose  018  KB손해보험
5     223  2022.03.18  OK금융그룹   3:1  114  107  2h 36m   win  018  KB손해보험

    KB손해보험             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    91.94   92.00     득점   91.83   87.03  018
1   53.86%  55.40%     공격  56.36%  52.17%  018
2   46.09%  45.97%   오픈공격  52.91%  46.50%  018
3   64.44%  80.00%  시간차공격  73.33%  68.60%  018
4    0.00%     NaN   이동공격     NaN  80.00%  018
5   57.49%  61.66%   후위공격  57.53%  53.87%  018
6   57.85%  56.25%     속공  58.06%  49.86%  018
7   59.21%  59.82%    퀵오픈  57.85%  58.53%  018
8     1.58    1.65     서브    1.74    1.36  018
9     1.85    1.83    블로킹    1.70    2.01  018
10    9.13    8.48     디그    8.30    8.05  018
11   12.73   13.13     세트   12.78   11.85  018
12    5.23    4.74    리시브    5.26    5.51  018
13    0.00    0.00     벌칙    0.00    0.03  018
14   26.83   27.00     범실   25.50   25.53  018

,KB손해보험,상대전적,우리카드,시즌
0,NaN,2022년 03월 14일(월) 19시 / 의정부 VS 구단 선택 KB손해보험 우리카드,NaN,018
1,2위(19승 17패),* 상대전적 : 24승 29패 * 시즌전적 : 4승 2패,3위(17승 19패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      37  2021.11.06  우리카드   3:0   78   67  1h 33m   win  018  KB손해보험
1      45  2021.11.11  우리카드   2:3  109  108  2h 22m  lose  018  KB손해보험
2      95  2021.12.10  우리카드   3:1   95   84  1h 51m   win  018  KB손해보험
3     151  2022.01.12  우리카드   1:3   79   95  1h 48m  lose  018  KB손해보험
4     185  2022.02.05  우리카드   3:0   75   58  1h 23m   win  018  KB손해보험
5     219  2022.03.14  우리카드   3:2  106  103  2h 18m   win  018  KB손해보험

    KB손해보험             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    91.94   90.33     득점   85.83   88.47  018
1   53.86%  57.55%     공격  50.94%  49.66%  018
2   46.09%  52.60%   오픈공격  43.01%  41.34%  018
3   64.44%  75.00%  시간차공격  62.50%  64.13%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   57.49%  58.24%   후위공격  56.83%  52.47%  018
6   57.85%  51.56%     속공  61.76%  55.65%  018
7   59.21%  64.67%    퀵오픈  50.00%  57.50%  018
8     1.58    1.58     서브    1.42    1.23  018
9     1.85    1.88    블로킹    1.46    2.42  018
10    9.13    8.96     디그    8.67    9.57  018
11   12.73   13.54     세트   11.00   11.66  018
12    5.23    5.71    리시브    5.13    5.85  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   26.83   29.00     범실   19.33   22.31  018

,현대캐피탈,상대전적,대한항공,시즌
0,NaN,2022년 02월 04일(금) 19시 / 천안유관순 VS 구단 선택 현대캐피탈 대한항공,NaN,018
1,7위(15승 21패),* 상대전적 : 71승 64패 * 시즌전적 : 1승 5패,1위(24승 12패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      19  2021.10.27  대한항공   3:2  103  101  2h 11m   win  018  현대캐피탈
1      43  2021.11.10  대한항공   1:3   90   94  1h 51m  lose  018  현대캐피탈
2      97  2021.12.11  대한항공   0:3   59   75  1h 26m  lose  018  현대캐피탈
3     129  2021.12.30  대한항공   0:3   65   79  1h 32m  lose  018  현대캐피탈
4     183  2022.02.04  대한항공   1:3   90   97  2h 01m  lose  018  현대캐피탈
5     218  2022.03.13  대한항공   0:3   62   75  1h 36m  lose  018  현대캐피탈

     현대캐피탈             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.69   78.17     득점   86.83   90.17  018
1   51.41%  49.82%     공격  54.94%  51.77%  018
2   42.53%  38.12%   오픈공격  40.38%  39.18%  018
3   68.29%  50.00%  시간차공격  42.86%  63.64%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   51.61%  52.90%   후위공격  58.90%  56.01%  018
6   59.56%  58.54%     속공  66.67%  58.52%  018
7   56.90%  60.34%    퀵오픈  59.51%  55.75%  018
8     0.78    0.64     서브    1.09    1.44  018
9     2.28    1.68    블로킹    1.86    2.15  018
10    9.39    9.41     디그   10.82   10.14  018
11   12.18   11.86     세트   14.14   12.35  018
12    7.71    7.59    리시브    7.05    6.10  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   23.50   21.17     범실   24.67   27.86  018

,현대캐피탈,상대전적,삼성화재,시즌
0,NaN,2022년 03월 17일(목) 19시 / 천안유관순 VS 구단 선택 현대캐피탈 삼성화재,NaN,018
1,7위(15승 21패),* 상대전적 : 61승 79패 * 시즌전적 : 4승 2패,6위(14승 22패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      35  2021.11.05  삼성화재   3:0   76   54  1h 18m   win  018  현대캐피탈
1      49  2021.11.13  삼성화재   1:3   75   98  1h 53m  lose  018  현대캐피탈
2     115  2021.12.22  삼성화재   3:0   75   63  1h 27m   win  018  현대캐피탈
3     155  2022.01.14  삼성화재   3:0   75   61  1h 28m   win  018  현대캐피탈
4     175  2022.01.31  삼성화재   0:3   72   82  1h 43m  lose  018  현대캐피탈
5     222  2022.03.17  삼성화재   3:2  115  109  2h 24m   win  018  현대캐피탈

     현대캐피탈             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.69   81.33     득점   77.83   82.83  018
1   51.41%  58.26%     공격  53.31%  49.29%  018
2   42.53%  49.02%   오픈공격  44.81%  42.09%  018
3   68.29%  72.73%  시간차공격  80.00%  58.33%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   51.61%  52.17%   후위공격  51.35%  50.17%  018
6   59.56%  72.37%     속공  61.64%  56.97%  018
7   56.90%  65.81%    퀵오픈  63.81%  57.10%  018
8     0.78    1.19     서브    1.48    1.48  018
9     2.28    2.05    블로킹    2.00    1.82  018
10    9.39    8.29     디그    7.48    8.42  018
11   12.18   12.52     세트   12.52   11.25  018
12    7.71    6.71    리시브    6.24    5.21  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   23.50   19.83     범실   24.17   26.14  018

,현대캐피탈,상대전적,KB손해보험,시즌
0,NaN,2022년 03월 10일(목) 19시 / 천안유관순 VS 구단 선택 현대캐피탈 K...,NaN,018
1,7위(15승 21패),* 상대전적 : 81승 27패 * 시즌전적 : 1승 5패,2위(19승 17패),018

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0       7  2021.10.20  KB손해보험   2:3  106  111  2h 27m  lose  018  현대캐피탈
1      55  2021.11.17  KB손해보험   3:0   76   68  1h 30m   win  018  현대캐피탈
2      89  2021.12.07  KB손해보험   0:3   60   75  1h 24m  lose  018  현대캐피탈
3     145  2022.01.08  KB손해보험   1:3   82   97  1h 56m  lose  018  현대캐피탈
4     191  2022.02.09  KB손해보험   0:3   59   75  1h 26m  lose  018  현대캐피탈
5     215  2022.03.10  KB손해보험   1:3   86  103  2h 08m  lose  018  현대캐피탈

     현대캐피탈             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.69   78.17     득점   88.17   91.94  018
1   51.41%  51.19%     공격  54.83%  53.86%  018
2   42.53%  43.27%   오픈공격  44.09%  46.09%  018
3   68.29%  60.00%  시간차공격  50.00%  64.44%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   51.61%  53.79%   후위공격  60.00%  57.49%  018
6   59.56%  51.96%     속공  65.67%  57.85%  018
7   56.90%  57.78%    퀵오픈  58.33%  59.21%  018
8     0.78    0.91     서브    1.68    1.58  018
9     2.28    1.82    블로킹    2.41    1.85  018
10    9.39    8.77     디그    8.86    9.13  018
11   12.18   12.14     세트   12.77   12.73  018
12    7.71    7.64    리시브    5.95    5.23  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   23.50   22.67     범실   21.50   26.83  018

,현대캐피탈,상대전적,한국전력,시즌
0,NaN,2022년 03월 24일(목) 19시 / 천안유관순 VS 구단 선택 현대캐피탈 한국전력,NaN,018
1,7위(15승 21패),* 상대전적 : 82승 30패 * 시즌전적 : 1승 5패,4위(20승 16패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      27  2021.10.31  한국전력   0:3   41   75  1h 13m  lose  018  현대캐피탈
1      83  2021.12.03  한국전력   2:3  110  108  2h 17m  lose  018  현대캐피탈
2     107  2021.12.17  한국전력   1:3   84   98  1h 58m  lose  018  현대캐피탈
3     137  2022.01.04  한국전력   3:2  109  106  2h 25m   win  018  현대캐피탈
4     211  2022.03.06  한국전력   2:3  105  108  2h 23m  lose  018  현대캐피탈
5     231  2022.03.24  한국전력   0:3   68   76  1h 35m  lose  018  현대캐피탈

     현대캐피탈             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.69   86.17     득점   95.17   87.03  018
1   51.41%  47.31%     공격  47.41%  47.66%  018
2   42.53%  37.61%   오픈공격  38.31%  39.67%  018
3   68.29%  44.44%  시간차공격  60.00%  66.20%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   51.61%  51.54%   후위공격  46.88%  47.23%  018
6   59.56%  55.00%     속공  53.60%  54.56%  018
7   56.90%  50.47%    퀵오픈  58.73%  56.28%  018
8     0.78    0.56     서브    0.92    1.09  018
9     2.28    2.36    블로킹    3.32    2.59  018
10    9.39   10.88     디그   10.24    9.87  018
11   12.18   12.36     세트   11.40   11.25  018
12    7.71    8.84    리시브    8.08    6.01  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   23.50   27.17     범실   19.67   20.92  018

,현대캐피탈,상대전적,OK금융그룹,시즌
0,NaN,2022년 02월 13일(일) 14시 / 천안유관순 VS 구단 선택 현대캐피탈 O...,NaN,018
1,7위(15승 21패),* 상대전적 : 39승 17패 * 시즌전적 : 4승 2패,5위(17승 19패),018

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0       3  2021.10.17  OK금융그룹   3:1   98   90  2h 05m   win  018  현대캐피탈
1      61  2021.11.20  OK금융그룹   2:3   97  105  2h 11m  lose  018  현대캐피탈
2     123  2021.12.26  OK금융그룹   3:0   75   54  1h 17m   win  018  현대캐피탈
3     149  2022.01.11  OK금융그룹   3:2  108  106  2h 23m   win  018  현대캐피탈
4     197  2022.02.13  OK금융그룹   0:3   70   79  1h 45m  lose  018  현대캐피탈
5     235  2022.03.28  OK금융그룹   3:1   94   80  1h 50m   win  018  현대캐피탈

     현대캐피탈              VS  OK금융그룹           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    85.69    90.33     득점   85.67   87.03  018
1   51.41%   55.12%     공격  47.99%  52.17%  018
2   42.53%   46.96%   오픈공격  40.37%  46.50%  018
3   68.29%  100.00%  시간차공격  69.23%  68.60%  018
4    0.00%      NaN   이동공격     NaN  80.00%  018
5   51.61%   50.00%   후위공격  55.70%  53.87%  018
6   59.56%   66.67%     속공  38.46%  49.86%  018
7   56.90%   60.14%    퀵오픈  53.59%  58.53%  018
8     0.78     0.92     서브    1.21    1.36  018
9     2.28     2.88    블로킹    2.46    2.01  018
10    9.39     8.25     디그    8.08    8.05  018
11   12.18    12.17     세트   11.33   11.85  018
12    7.71     7.58    리시브    6.83    5.51  018
13    0.00     0.00     벌칙    0.00    0.03  018
14   23.50    23.17     범실   23.67   25.53  018

,현대캐피탈,상대전적,우리카드,시즌
0,NaN,2022년 03월 20일(일) 13시33분 / 천안유관순 VS 구단 선택 현대캐피...,NaN,018
1,7위(15승 21패),* 상대전적 : 38승 17패 * 시즌전적 : 4승 2패,3위(17승 19패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌     홈팀
0      15  2021.10.24  우리카드   3:1   98   95  2h 04m   win  018  현대캐피탈
1      71  2021.11.26  우리카드   3:2  106  107  2h 17m   win  018  현대캐피탈
2     101  2021.12.14  우리카드   1:3   91  101  2h 08m  lose  018  현대캐피탈
3     163  2022.01.19  우리카드   3:2  103  102  2h 20m   win  018  현대캐피탈
4     169  2022.01.28  우리카드   3:2   99  109  2h 16m   win  018  현대캐피탈
5     225  2022.03.20  우리카드   2:3  103  102  2h 17m  lose  018  현대캐피탈

     현대캐피탈             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    85.69  100.00     득점  102.67   88.47  018
1   51.41%  49.30%     공격  47.69%  49.66%  018
2   42.53%  42.70%   오픈공격  43.42%  41.34%  018
3   68.29%  80.00%  시간차공격  52.94%  64.13%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   51.61%  49.69%   후위공격  49.34%  52.47%  018
6   59.56%  57.39%     속공  43.14%  55.65%  018
7   56.90%  52.98%    퀵오픈  56.52%  57.50%  018
8     0.78    0.57     서브    1.07    1.23  018
9     2.28    2.71    블로킹    2.61    2.42  018
10    9.39   10.32     디그    9.39    9.57  018
11   12.18   12.07     세트   12.04   11.66  018
12    7.71    7.71    리시브    7.07    5.85  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   23.50   27.00     범실   25.83   22.31  018

,한국전력,상대전적,대한항공,시즌
0,NaN,2022년 03월 19일(토) 14시 / 수원 VS 구단 선택 한국전력 대한항공,NaN,018
1,4위(20승 16패),* 상대전적 : 21승 87패 * 시즌전적 : 3승 3패,1위(24승 12패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      39  2021.11.07  대한항공   3:1   95   80  1h 54m   win  018  한국전력
1      77  2021.11.30  대한항공   3:2  106  104  2h 17m   win  018  한국전력
2     119  2021.12.24  대한항공   1:3   72   97  1h 43m  lose  018  한국전력
3     153  2022.01.13  대한항공   1:3   79   93  1h 41m  lose  018  한국전력
4     214  2022.03.09  대한항공   2:3  108  114  2h 29m  lose  018  한국전력
5     224  2022.03.19  대한항공   3:1   91   89  1h 53m   win  018  한국전력

      한국전력             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.03   91.83     득점   96.17   90.17  018
1   47.66%  44.01%     공격  47.77%  51.77%  018
2   39.67%  35.15%   오픈공격  37.20%  39.18%  018
3   66.20%  71.43%  시간차공격  60.00%  63.64%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   47.23%  40.82%   후위공격  48.97%  56.01%  018
6   54.56%  50.00%     속공  53.54%  58.52%  018
7   56.28%  53.02%    퀵오픈  53.56%  55.75%  018
8     1.09    0.81     서브    1.23    1.44  018
9     2.59    2.04    블로킹    2.42    2.15  018
10    9.87    9.38     디그   11.00   10.14  018
11   11.25   10.00     세트   12.08   12.35  018
12    6.01    6.58    리시브    7.23    6.10  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   20.92   24.83     범실   34.00   27.86  018

,한국전력,상대전적,삼성화재,시즌
0,NaN,2022년 03월 12일(토) 14시 / 수원 VS 구단 선택 한국전력 삼성화재,NaN,018
1,4위(20승 16패),* 상대전적 : 26승 82패 * 시즌전적 : 3승 3패,6위(14승 22패),018

   경기 No.        경기일자   상대팀 세트스코어  득점  실점    경기시간    승패   시즌    홈팀
0       5  2021.10.19  삼성화재   3:0  75  54  1h 20m   win  018  한국전력
1      69  2021.11.25  삼성화재   0:3  53  75  1h 20m  lose  018  한국전력
2      99  2021.12.12  삼성화재   1:3  83  90  1h 49m  lose  018  한국전력
3     133  2022.01.01  삼성화재   3:1  92  72  1h 44m   win  018  한국전력
4     181  2022.02.03  삼성화재   1:3  79  91  1h 42m  lose  018  한국전력
5     217  2022.03.12  삼성화재   3:0  75  53  1h 22m   win  018  한국전력

      한국전력             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.03   76.17     득점   72.50   82.83  018
1   47.66%  49.58%     공격  46.27%  49.29%  018
2   39.67%  43.78%   오픈공격  42.99%  42.09%  018
3   66.20%  84.62%  시간차공격  50.00%  58.33%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   47.23%  45.00%   후위공격  49.64%  50.17%  018
6   54.56%  60.61%     속공  55.56%  56.97%  018
7   56.28%  54.55%    퀵오픈  43.81%  57.10%  018
8     1.09    1.48     서브    1.76    1.48  018
9     2.59    3.05    블로킹    2.38    1.82  018
10    9.87    9.24     디그    8.76    8.42  018
11   11.25   10.62     세트   10.81   11.25  018
12    6.01    4.48    리시브    4.38    5.21  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   20.92   17.67     범실   21.33   26.14  018

,한국전력,상대전적,KB손해보험,시즌
0,NaN,2022년 02월 12일(토) 14시 / 수원 VS 구단 선택 한국전력 KB손해보험,NaN,018
1,4위(20승 16패),* 상대전적 : 41승 67패 * 시즌전적 : 5승 2패,2위(19승 17패),018

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      13  2021.10.23  KB손해보험   3:1   93   90  2h 00m   win  018  한국전력
1      63  2021.11.21  KB손해보험   3:0   75   62  1h 29m   win  018  한국전력
2     125  2021.12.28  KB손해보험   1:3   98  104  2h 17m  lose  018  한국전력
3     159  2022.01.16  KB손해보험   3:2  112  109  2h 28m   win  018  한국전력
4     196  2022.02.12  KB손해보험   3:2  106  104  2h 13m   win  018  한국전력
5     237  2022.03.30  KB손해보험   3:1  100   99  2h 04m   win  018  한국전력
6     239  2022.04.03  KB손해보험   1:3   76   98  2h 00m  lose  018  한국전력

      한국전력             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.03   97.33     득점   94.67   91.94  018
1   47.66%  51.08%     공격  51.47%  53.86%  018
2   39.67%  40.89%   오픈공격  46.50%  46.09%  018
3   66.20%  60.00%  시간차공격  57.14%  64.44%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   47.23%  54.82%   후위공격  56.46%  57.49%  018
6   54.56%  59.77%     속공  53.85%  57.85%  018
7   56.28%  62.28%    퀵오픈  51.03%  59.21%  018
8     1.09    1.20     서브    1.64    1.58  018
9     2.59    2.36    블로킹    2.08    1.85  018
10    9.87   10.08     디그    9.80    9.13  018
11   11.25   12.48     세트   13.52   12.73  018
12    6.01    4.64    리시브    6.92    5.23  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   20.92   20.67     범실   27.33   26.83  018

,한국전력,상대전적,현대캐피탈,시즌
0,NaN,2022년 03월 06일(일) 14시 / 수원 VS 구단 선택 한국전력 현대캐피탈,NaN,018
1,4위(20승 16패),* 상대전적 : 30승 82패 * 시즌전적 : 5승 1패,7위(15승 21패),018

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      27  2021.10.31  현대캐피탈   3:0   75   41  1h 13m   win  018  한국전력
1      83  2021.12.03  현대캐피탈   3:2  108  110  2h 17m   win  018  한국전력
2     107  2021.12.17  현대캐피탈   3:1   98   84  1h 58m   win  018  한국전력
3     137  2022.01.04  현대캐피탈   2:3  106  109  2h 25m  lose  018  한국전력
4     211  2022.03.06  현대캐피탈   3:2  108  105  2h 23m   win  018  한국전력
5     231  2022.03.24  현대캐피탈   3:0   76   68  1h 35m   win  018  한국전력

      한국전력             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.03   95.17     득점   86.17   85.69  018
1   47.66%  47.41%     공격  47.31%  51.41%  018
2   39.67%  38.31%   오픈공격  37.61%  42.53%  018
3   66.20%  60.00%  시간차공격  44.44%  68.29%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   47.23%  46.88%   후위공격  51.54%  51.61%  018
6   54.56%  53.60%     속공  55.00%  59.56%  018
7   56.28%  58.73%    퀵오픈  50.47%  56.90%  018
8     1.09    0.92     서브    0.56    0.78  018
9     2.59    3.32    블로킹    2.36    2.28  018
10    9.87   10.24     디그   10.88    9.39  018
11   11.25   11.40     세트   12.36   12.18  018
12    6.01    8.08    리시브    8.84    7.71  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   20.92   19.67     범실   27.17   23.50  018

,한국전력,상대전적,OK금융그룹,시즌
0,NaN,2022년 01월 21일(금) 19시 / 수원 VS 구단 선택 한국전력 OK금융그룹,NaN,018
1,4위(20승 16패),* 상대전적 : 21승 34패 * 시즌전적 : 4승 2패,5위(17승 19패),018

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      33  2021.11.04  OK금융그룹   0:3   57   75  1h 34m  lose  018  한국전력
1      47  2021.11.12  OK금융그룹   3:1   96   90  1h 57m   win  018  한국전력
2      93  2021.12.09  OK금융그룹   3:2  109  110  2h 21m   win  018  한국전력
3     167  2022.01.21  OK금융그룹   3:1   92   79  1h 53m   win  018  한국전력
4     173  2022.01.30  OK금융그룹   1:3   80   96  1h 51m  lose  018  한국전력
5     220  2022.03.15  OK금융그룹   3:1   94   90  1h 58m   win  018  한국전력

      한국전력             VS  OK금융그룹           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.03   88.00     득점   90.00   87.03  018
1   47.66%  50.27%     공격  52.14%  52.17%  018
2   39.67%  43.81%   오픈공격  44.93%  46.50%  018
3   66.20%  63.64%  시간차공격  66.67%  68.60%  018
4    0.00%     NaN   이동공격  50.00%  80.00%  018
5   47.23%  48.28%   후위공격  55.71%  53.87%  018
6   54.56%  50.00%     속공  50.00%  49.86%  018
7   56.28%  62.31%    퀵오픈  59.15%  58.53%  018
8     1.09    1.33     서브    1.79    1.36  018
9     2.59    2.92    블로킹    2.63    2.01  018
10    9.87    8.38     디그    8.17    8.05  018
11   11.25   10.96     세트   12.21   11.85  018
12    6.01    4.75    리시브    5.46    5.51  018
13    0.00    0.00     벌칙    0.00    0.03  018
14   20.92   21.67     범실   24.33   25.53  018

,한국전력,상대전적,우리카드,시즌
0,NaN,2022년 03월 27일(일) 16시 / 수원 VS 구단 선택 한국전력 우리카드,NaN,018
1,4위(20승 16패),* 상대전적 : 21승 32패 * 시즌전적 : 1승 6패,3위(17승 19패),018

   경기 No.        경기일자   상대팀 세트스코어  득점  실점    경기시간    승패   시즌    홈팀
0      21  2021.10.28  우리카드   0:3  58  75  1h 23m  lose  018  한국전력
1      57  2021.11.18  우리카드   1:3  89  95  1h 56m  lose  018  한국전력
2     113  2021.12.21  우리카드   0:3  65  78  1h 30m  lose  018  한국전력
3     143  2022.01.07  우리카드   0:3  61  75  1h 21m  lose  018  한국전력
4     189  2022.02.08  우리카드   1:3  85  97  1h 57m  lose  018  한국전력
5     234  2022.03.27  우리카드   1:3  84  93  1h 52m  lose  018  한국전력
6     238  2022.04.01  우리카드   3:1  98  94  2h 14m   win  018  한국전력

      한국전력             VS    우리카드           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.03   73.67     득점   85.50   88.47  018
1   47.66%  44.11%     공격  48.41%  49.66%  018
2   39.67%  37.13%   오픈공격  34.39%  41.34%  018
3   66.20%  53.85%  시간차공격  80.00%  64.13%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   47.23%  43.85%   후위공격  49.64%  52.47%  018
6   54.56%  56.10%     속공  57.53%  55.65%  018
7   56.28%  48.23%    퀵오픈  66.94%  57.50%  018
8     1.09    0.86     서브    1.33    1.23  018
9     2.59    1.86    블로킹    3.19    2.42  018
10    9.87   12.10     디그   13.24    9.57  018
11   11.25   12.10     세트   13.24   11.66  018
12    6.01    7.48    리시브    6.90    5.85  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   20.92   21.00     범실   19.83   22.31  018

,OK금융그룹,상대전적,대한항공,시즌
0,NaN,2022년 03월 25일(금) 19시 / 안산상록수 VS 구단 선택 OK금융그룹 ...,NaN,018
1,5위(17승 19패),* 상대전적 : 18승 34패 * 시즌전적 : 1승 5패,1위(24승 12패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      25  2021.10.30  대한항공   0:3   58   75  1h 22m  lose  018  OK금융그룹
1      73  2021.11.27  대한항공   0:3   46   75  1h 25m  lose  018  OK금융그룹
2     103  2021.12.15  대한항공   3:2  106  106  2h 20m   win  018  OK금융그룹
3     141  2022.01.06  대한항공   0:3   65   77  1h 30m  lose  018  OK금융그룹
4     192  2022.02.10  대한항공   0:3   61   75  1h 25m  lose  018  OK금융그룹
5     232  2022.03.25  대한항공   0:3   67   76  1h 34m  lose  018  OK금융그룹

    OK금융그룹              VS    대한항공           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    87.03    67.17     득점   80.67   90.17  018
1   52.17%   44.06%     공격  54.27%  51.77%  018
2   46.50%   39.34%   오픈공격  39.64%  39.18%  018
3   68.60%   50.00%  시간차공격  83.33%  63.64%  018
4   80.00%  100.00%   이동공격     NaN   0.00%  018
5   53.87%   41.59%   후위공격  56.31%  56.01%  018
6   49.86%   34.48%     속공  61.02%  58.52%  018
7   58.53%   56.06%    퀵오픈  58.99%  55.75%  018
8     1.36     0.90     서브    2.10    1.44  018
9     2.01     1.50    블로킹    2.85    2.15  018
10    8.05     9.10     디그   10.15   10.14  018
11   11.85    10.65     세트   12.00   12.35  018
12    5.51     5.50    리시브    6.05    6.10  018
13    0.03     0.00     벌칙    0.00    0.00  018
14   25.53    22.67     범실   22.67   27.86  018

,OK금융그룹,상대전적,삼성화재,시즌
0,NaN,2022년 02월 06일(일) 14시 / 안산상록수 VS 구단 선택 OK금융그룹 ...,NaN,018
1,5위(17승 19패),* 상대전적 : 33승 24패 * 시즌전적 : 5승 1패,6위(14승 22패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      41  2021.11.09  삼성화재   3:1   92   91  2h 00m   win  018  OK금융그룹
1      53  2021.11.16  삼성화재   3:2  111  105  2h 30m   win  018  OK금융그룹
2      87  2021.12.05  삼성화재   3:2  102  104  2h 19m   win  018  OK금융그룹
3     161  2022.01.18  삼성화재   0:3   62   75  1h 25m  lose  018  OK금융그룹
4     187  2022.02.06  삼성화재   3:2  115  110  2h 30m   win  018  OK금융그룹
5     227  2022.03.21  삼성화재   3:1   99   83  1h 56m   win  018  OK금융그룹

    OK금융그룹              VS    삼성화재           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    87.03    96.83     득점   94.67   82.83  018
1   52.17%   55.24%     공격  54.61%  49.29%  018
2   46.50%   45.71%   오픈공격  42.93%  42.09%  018
3   68.60%   81.25%  시간차공격  60.00%  58.33%  018
4   80.00%  100.00%   이동공격     NaN   0.00%  018
5   53.87%   54.61%   후위공격  58.50%  50.17%  018
6   49.86%   59.32%     속공  64.20%  56.97%  018
7   58.53%   65.67%    퀵오픈  61.65%  57.10%  018
8     1.36     1.38     서브    1.38    1.48  018
9     2.01     1.81    블로킹    1.73    1.82  018
10    8.05     7.65     디그    7.19    8.42  018
11   11.85    11.69     세트   11.42   11.25  018
12    5.51     5.31    리시브    5.12    5.21  018
13    0.03     0.00     벌칙    0.00    0.00  018
14   25.53    29.67     범실   30.17   26.14  018

,OK금융그룹,상대전적,KB손해보험,시즌
0,NaN,2022년 03월 18일(금) 19시 / 안산상록수 VS 구단 선택 OK금융그룹 ...,NaN,018
1,5위(17승 19패),* 상대전적 : 28승 26패 * 시즌전적 : 3승 3패,2위(19승 17패),018

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      17  2021.10.26  KB손해보험   3:1   90   84  1h 56m   win  018  OK금융그룹
1      81  2021.12.02  KB손해보험   1:3   94   94  2h 10m  lose  018  OK금융그룹
2     117  2021.12.23  KB손해보험   3:2  108  107  2h 28m   win  018  OK금융그룹
3     131  2021.12.31  KB손해보험   0:3   77   88  1h 42m  lose  018  OK금융그룹
4     179  2022.02.02  KB손해보험   3:0   75   65  1h 36m   win  018  OK금융그룹
5     223  2022.03.18  KB손해보험   1:3  107  114  2h 36m  lose  018  OK금융그룹

    OK금융그룹             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.03   91.83     득점   92.00   91.94  018
1   52.17%  56.36%     공격  55.40%  53.86%  018
2   46.50%  52.91%   오픈공격  45.97%  46.09%  018
3   68.60%  73.33%  시간차공격  80.00%  64.44%  018
4   80.00%     NaN   이동공격     NaN   0.00%  018
5   53.87%  57.53%   후위공격  61.66%  57.49%  018
6   49.86%  58.06%     속공  56.25%  57.85%  018
7   58.53%  57.85%    퀵오픈  59.82%  59.21%  018
8     1.36    1.74     서브    1.65    1.58  018
9     2.01    1.70    블로킹    1.83    1.85  018
10    8.05    8.30     디그    8.48    9.13  018
11   11.85   12.78     세트   13.13   12.73  018
12    5.51    5.26    리시브    4.74    5.23  018
13    0.03    0.00     벌칙    0.00    0.00  018
14   25.53   25.50     범실   27.00   26.83  018

,OK금융그룹,상대전적,현대캐피탈,시즌
0,NaN,2022년 03월 28일(월) 19시 / 안산상록수 VS 구단 선택 OK금융그룹 ...,NaN,018
1,5위(17승 19패),* 상대전적 : 17승 39패 * 시즌전적 : 2승 4패,7위(15승 21패),018

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       3  2021.10.17  현대캐피탈   1:3   90   98  2h 05m  lose  018  OK금융그룹
1      61  2021.11.20  현대캐피탈   3:2  105   97  2h 11m   win  018  OK금융그룹
2     123  2021.12.26  현대캐피탈   0:3   54   75  1h 17m  lose  018  OK금융그룹
3     149  2022.01.11  현대캐피탈   2:3  106  108  2h 23m  lose  018  OK금융그룹
4     197  2022.02.13  현대캐피탈   3:0   79   70  1h 45m   win  018  OK금융그룹
5     235  2022.03.28  현대캐피탈   1:3   80   94  1h 50m  lose  018  OK금융그룹

    OK금융그룹             VS    현대캐피탈           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    87.03   85.67     득점    90.33   85.69  018
1   52.17%  47.99%     공격   55.12%  51.41%  018
2   46.50%  40.37%   오픈공격   46.96%  42.53%  018
3   68.60%  69.23%  시간차공격  100.00%  68.29%  018
4   80.00%     NaN   이동공격      NaN   0.00%  018
5   53.87%  55.70%   후위공격   50.00%  51.61%  018
6   49.86%  38.46%     속공   66.67%  59.56%  018
7   58.53%  53.59%    퀵오픈   60.14%  56.90%  018
8     1.36    1.21     서브     0.92    0.78  018
9     2.01    2.46    블로킹     2.88    2.28  018
10    8.05    8.08     디그     8.25    9.39  018
11   11.85   11.33     세트    12.17   12.18  018
12    5.51    6.83    리시브     7.58    7.71  018
13    0.03    0.00     벌칙     0.00    0.00  018
14   25.53   23.67     범실    23.17   23.50  018

,OK금융그룹,상대전적,한국전력,시즌
0,NaN,2022년 03월 15일(화) 19시 / 안산상록수 VS 구단 선택 OK금융그룹 ...,NaN,018
1,5위(17승 19패),* 상대전적 : 34승 21패 * 시즌전적 : 2승 4패,4위(20승 16패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0      33  2021.11.04  한국전력   3:0   75   57  1h 34m   win  018  OK금융그룹
1      47  2021.11.12  한국전력   1:3   90   96  1h 57m  lose  018  OK금융그룹
2      93  2021.12.09  한국전력   2:3  110  109  2h 21m  lose  018  OK금융그룹
3     167  2022.01.21  한국전력   1:3   79   92  1h 53m  lose  018  OK금융그룹
4     173  2022.01.30  한국전력   3:1   96   80  1h 51m   win  018  OK금융그룹
5     220  2022.03.15  한국전력   1:3   90   94  1h 58m  lose  018  OK금융그룹

    OK금융그룹             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    87.03   90.00     득점   88.00   87.03  018
1   52.17%  52.14%     공격  50.27%  47.66%  018
2   46.50%  44.93%   오픈공격  43.81%  39.67%  018
3   68.60%  66.67%  시간차공격  63.64%  66.20%  018
4   80.00%  50.00%   이동공격     NaN   0.00%  018
5   53.87%  55.71%   후위공격  48.28%  47.23%  018
6   49.86%  50.00%     속공  50.00%  54.56%  018
7   58.53%  59.15%    퀵오픈  62.31%  56.28%  018
8     1.36    1.79     서브    1.33    1.09  018
9     2.01    2.63    블로킹    2.92    2.59  018
10    8.05    8.17     디그    8.38    9.87  018
11   11.85   12.21     세트   10.96   11.25  018
12    5.51    5.46    리시브    4.75    6.01  018
13    0.03    0.00     벌칙    0.00    0.00  018
14   25.53   24.33     범실   21.67   20.92  018

,OK금융그룹,상대전적,우리카드,시즌
0,NaN,2022년 03월 07일(월) 19시 / 안산상록수 VS 구단 선택 OK금융그룹 ...,NaN,018
1,5위(17승 19패),* 상대전적 : 26승 28패 * 시즌전적 : 4승 2패,3위(17승 19패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌      홈팀
0       9  2021.10.21  우리카드   3:2  112  109  2h 22m   win  018  OK금융그룹
1      65  2021.11.23  우리카드   3:0   75   60  1h 21m   win  018  OK금융그룹
2     109  2021.12.18  우리카드   0:3   64   75  1h 29m  lose  018  OK금융그룹
3     157  2022.01.15  우리카드   3:2  104   97  2h 18m   win  018  OK금융그룹
4     212  2022.03.07  우리카드   3:2  106   99  2h 15m   win  018  OK금융그룹
5     216  2022.03.11  우리카드   1:3   83   98  1h 58m  lose  018  OK금융그룹

    OK금융그룹              VS    우리카드           시즌
      시즌평균    Vs 상대     구분   Vs 상대    시즌평균
0    87.03    90.67     득점   89.67   88.47  018
1   52.17%   56.49%     공격  51.85%  49.66%  018
2   46.50%   54.17%   오픈공격  42.08%  41.34%  018
3   68.60%   64.29%  시간차공격  80.95%  64.13%  018
4   80.00%  100.00%   이동공격     NaN   0.00%  018
5   53.87%   55.40%   후위공격  54.25%  52.47%  018
6   49.86%   60.00%     속공  61.54%  55.65%  018
7   58.53%   59.50%    퀵오픈  53.91%  57.50%  018
8     1.36     1.08     서브    1.28    1.23  018
9     2.01     1.92    블로킹    1.80    2.42  018
10    8.05     7.24     디그    8.24    9.57  018
11   11.85    12.24     세트   11.48   11.66  018
12    5.51     4.76    리시브    5.76    5.85  018
13    0.03     0.17     벌칙    0.00    0.00  018
14   25.53    27.33     범실   24.50   22.31  018

,우리카드,상대전적,대한항공,시즌
0,NaN,2022년 03월 16일(수) 19시 / 서울장충 VS 구단 선택 우리카드 대한항공,NaN,018
1,3위(17승 19패),* 상대전적 : 19승 38패 * 시즌전적 : 2승 4패,1위(24승 12패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       1  2021.10.16  대한항공   1:3   90   96  1h 47m  lose  018  우리카드
1      51  2021.11.14  대한항공   0:3   52   75  1h 22m  lose  018  우리카드
2      85  2021.12.04  대한항공   0:3   62   75  1h 23m  lose  018  우리카드
3     135  2022.01.02  대한항공   3:0   76   61  1h 27m   win  018  우리카드
4     177  2022.02.01  대한항공   3:1   98   83  1h 56m   win  018  우리카드
5     221  2022.03.16  대한항공   2:3  104  106  2h 21m  lose  018  우리카드

      우리카드             VS    대한항공           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    88.47   80.33     득점   82.67   90.17  018
1   49.66%  47.64%     공격  51.35%  51.77%  018
2   41.34%  38.98%   오픈공격  43.07%  39.18%  018
3   64.13%  58.33%  시간차공격  87.50%  63.64%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   52.47%  53.85%   후위공격  57.04%  56.01%  018
6   55.65%  56.25%     속공  45.76%  58.52%  018
7   57.50%  53.64%    퀵오픈  53.08%  55.75%  018
8     1.23    1.05     서브    0.95    1.44  018
9     2.42    2.32    블로킹    2.00    2.15  018
10    9.57    9.41     디그   10.36   10.14  018
11   11.66   11.00     세트   12.36   12.35  018
12    5.85    5.82    리시브    6.59    6.10  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   22.31   24.17     범실   26.00   27.86  018

,우리카드,상대전적,삼성화재,시즌
0,NaN,2022년 03월 23일(수) 19시 / 서울장충 VS 구단 선택 우리카드 삼성화재,NaN,018
1,3위(17승 19패),* 상대전적 : 20승 32패 * 시즌전적 : 3승 3패,6위(14승 22패),018

   경기 No.        경기일자   상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      29  2021.11.02  삼성화재   2:3  103   99  2h 09m  lose  018  우리카드
1      79  2021.12.01  삼성화재   2:3  108  103  2h 17m  lose  018  우리카드
2     121  2021.12.25  삼성화재   3:0   75   50  1h 17m   win  018  우리카드
3     127  2021.12.29  삼성화재   3:0   75   56  1h 20m   win  018  우리카드
4     194  2022.02.11  삼성화재   1:3   85   94  1h 51m  lose  018  우리카드
5     230  2022.03.23  삼성화재   3:0   75   63  1h 25m   win  018  우리카드

      우리카드             VS    삼성화재           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    88.47   86.83     득점   77.50   82.83  018
1   49.66%  52.22%     공격  45.58%  49.29%  018
2   41.34%  46.18%   오픈공격  38.55%  42.09%  018
3   64.13%  47.37%  시간차공격  66.67%  58.33%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   52.47%  51.04%   후위공격  49.32%  50.17%  018
6   55.65%  58.82%     속공  46.43%  56.97%  018
7   57.50%  66.67%    퀵오픈  54.24%  57.10%  018
8     1.23    1.26     서브    1.78    1.48  018
9     2.42    3.26    블로킹    1.74    1.82  018
10    9.57    8.96     디그    9.26    8.42  018
11   11.66   11.30     세트   11.04   11.25  018
12    5.85    4.26    리시브    6.26    5.21  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   22.31   20.17     범실   24.17   26.14  018

,우리카드,상대전적,KB손해보험,시즌
0,NaN,2022년 02월 05일(토) 14시 / 서울장충 VS 구단 선택 우리카드 KB손해보험,NaN,018
1,3위(17승 19패),* 상대전적 : 29승 24패 * 시즌전적 : 2승 4패,2위(19승 17패),018

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      37  2021.11.06  KB손해보험   0:3   67   78  1h 33m  lose  018  우리카드
1      45  2021.11.11  KB손해보험   3:2  108  109  2h 22m   win  018  우리카드
2      95  2021.12.10  KB손해보험   1:3   84   95  1h 51m  lose  018  우리카드
3     151  2022.01.12  KB손해보험   3:1   95   79  1h 48m   win  018  우리카드
4     185  2022.02.05  KB손해보험   0:3   58   75  1h 23m  lose  018  우리카드
5     219  2022.03.14  KB손해보험   2:3  103  106  2h 18m  lose  018  우리카드

      우리카드             VS  KB손해보험           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    88.47   85.83     득점   90.33   91.94  018
1   49.66%  50.94%     공격  57.55%  53.86%  018
2   41.34%  43.01%   오픈공격  52.60%  46.09%  018
3   64.13%  62.50%  시간차공격  75.00%  64.44%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   52.47%  56.83%   후위공격  58.24%  57.49%  018
6   55.65%  61.76%     속공  51.56%  57.85%  018
7   57.50%  50.00%    퀵오픈  64.67%  59.21%  018
8     1.23    1.42     서브    1.58    1.58  018
9     2.42    1.46    블로킹    1.88    1.85  018
10    9.57    8.67     디그    8.96    9.13  018
11   11.66   11.00     세트   13.54   12.73  018
12    5.85    5.13    리시브    5.71    5.23  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   22.31   19.33     범실   29.00   26.83  018

,우리카드,상대전적,현대캐피탈,시즌
0,NaN,2022년 01월 28일(금) 19시 / 서울장충 VS 구단 선택 우리카드 현대캐피탈,NaN,018
1,3위(17승 19패),* 상대전적 : 17승 38패 * 시즌전적 : 2승 4패,7위(15승 21패),018

   경기 No.        경기일자    상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0      15  2021.10.24  현대캐피탈   1:3   95   98  2h 04m  lose  018  우리카드
1      71  2021.11.26  현대캐피탈   2:3  107  106  2h 17m  lose  018  우리카드
2     101  2021.12.14  현대캐피탈   3:1  101   91  2h 08m   win  018  우리카드
3     163  2022.01.19  현대캐피탈   2:3  102  103  2h 20m  lose  018  우리카드
4     169  2022.01.28  현대캐피탈   2:3  109   99  2h 16m  lose  018  우리카드
5     225  2022.03.20  현대캐피탈   3:2  102  103  2h 17m   win  018  우리카드

      우리카드             VS   현대캐피탈           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    88.47  102.67     득점  100.00   85.69  018
1   49.66%  47.69%     공격  49.30%  51.41%  018
2   41.34%  43.42%   오픈공격  42.70%  42.53%  018
3   64.13%  52.94%  시간차공격  80.00%  68.29%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   52.47%  49.34%   후위공격  49.69%  51.61%  018
6   55.65%  43.14%     속공  57.39%  59.56%  018
7   57.50%  56.52%    퀵오픈  52.98%  56.90%  018
8     1.23    1.07     서브    0.57    0.78  018
9     2.42    2.61    블로킹    2.71    2.28  018
10    9.57    9.39     디그   10.32    9.39  018
11   11.66   12.04     세트   12.07   12.18  018
12    5.85    7.07    리시브    7.71    7.71  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   22.31   25.83     범실   27.00   23.50  018

,우리카드,상대전적,한국전력,시즌
0,NaN,2022년 04월 01일(금) 19시 / 서울장충 VS 구단 선택 우리카드 한국전력,NaN,018
1,3위(17승 19패),* 상대전적 : 32승 21패 * 시즌전적 : 6승 1패,4위(20승 16패),018

   경기 No.        경기일자   상대팀 세트스코어  득점  실점    경기시간    승패   시즌    홈팀
0      21  2021.10.28  한국전력   3:0  75  58  1h 23m   win  018  우리카드
1      57  2021.11.18  한국전력   3:1  95  89  1h 56m   win  018  우리카드
2     113  2021.12.21  한국전력   3:0  78  65  1h 30m   win  018  우리카드
3     143  2022.01.07  한국전력   3:0  75  61  1h 21m   win  018  우리카드
4     189  2022.02.08  한국전력   3:1  97  85  1h 57m   win  018  우리카드
5     234  2022.03.27  한국전력   3:1  93  84  1h 52m   win  018  우리카드
6     238  2022.04.01  한국전력   1:3  94  98  2h 14m  lose  018  우리카드

      우리카드             VS    한국전력           시즌
      시즌평균   Vs 상대     구분   Vs 상대    시즌평균
0    88.47   85.50     득점   73.67   87.03  018
1   49.66%  48.41%     공격  44.11%  47.66%  018
2   41.34%  34.39%   오픈공격  37.13%  39.67%  018
3   64.13%  80.00%  시간차공격  53.85%  66.20%  018
4    0.00%     NaN   이동공격     NaN   0.00%  018
5   52.47%  49.64%   후위공격  43.85%  47.23%  018
6   55.65%  57.53%     속공  56.10%  54.56%  018
7   57.50%  66.94%    퀵오픈  48.23%  56.28%  018
8     1.23    1.33     서브    0.86    1.09  018
9     2.42    3.19    블로킹    1.86    2.59  018
10    9.57   13.24     디그   12.10    9.87  018
11   11.66   13.24     세트   12.10   11.25  018
12    5.85    6.90    리시브    7.48    6.01  018
13    0.00    0.00     벌칙    0.00    0.00  018
14   22.31   19.83     범실   21.00   20.92  018

,우리카드,상대전적,OK금융그룹,시즌
0,NaN,2022년 03월 11일(금) 19시 / 서울장충 VS 구단 선택 우리카드 OK금융그룹,NaN,018
1,3위(17승 19패),* 상대전적 : 28승 26패 * 시즌전적 : 2승 4패,5위(17승 19패),018

   경기 No.        경기일자     상대팀 세트스코어   득점   실점    경기시간    승패   시즌    홈팀
0       9  2021.10.21  OK금융그룹   2:3  109  112  2h 22m  lose  018  우리카드
1      65  2021.11.23  OK금융그룹   0:3   60   75  1h 21m  lose  018  우리카드
2     109  2021.12.18  OK금융그룹   3:0   75   64  1h 29m   win  018  우리카드
3     157  2022.01.15  OK금융그룹   2:3   97  104  2h 18m  lose  018  우리카드
4     212  2022.03.07  OK금융그룹   2:3   99  106  2h 15m  lose  018  우리카드
5     216  2022.03.11  OK금융그룹   3:1   98   83  1h 58m   win  018  우리카드

      우리카드             VS   OK금융그룹           시즌
      시즌평균   Vs 상대     구분    Vs 상대    시즌평균
0    88.47   89.67     득점    90.67   87.03  018
1   49.66%  51.85%     공격   56.49%  52.17%  018
2   41.34%  42.08%   오픈공격   54.17%  46.50%  018
3   64.13%  80.95%  시간차공격   64.29%  68.60%  018
4    0.00%     NaN   이동공격  100.00%  80.00%  018
5   52.47%  54.25%   후위공격   55.40%  53.87%  018
6   55.65%  61.54%     속공   60.00%  49.86%  018
7   57.50%  53.91%    퀵오픈   59.50%  58.53%  018
8     1.23    1.28     서브     1.08    1.36  018
9     2.42    1.80    블로킹     1.92    2.01  018
10    9.57    8.24     디그     7.24    8.05  018
11   11.66   11.48     세트    12.24   11.85  018
12    5.85    5.76    리시브     4.76    5.51  018
13    0.00    0.00     벌칙     0.17    0.03  018
14   22.31   24.50     범실    27.33   25.53  018